@font-face {
  font-family: 'heinrichscriptregular';
  src: url('../../../fonts/heinrichscriptregular/heinrichscript-webfont.eot');
  src:
    url('../../../fonts/heinrichscriptregular/heinrichscript-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/heinrichscriptregular/heinrichscript-webfont.woff2') format('woff2'),
    url('../../../fonts/heinrichscriptregular/heinrichscript-webfont.woff') format('woff'),
    url('../../../fonts/heinrichscriptregular/heinrichscript-webfont.ttf') format('truetype'),
    url('../../../fonts/heinrichscriptregular/heinrichscript-webfont.svg#heinrichscriptregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'avalon_mediumregular';
  src: url('../../../fonts/avalon_mediumregular/avalon-medium-webfont.eot');
  src:
    url('../../../fonts/avalon_mediumregular/avalon-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/avalon_mediumregular/avalon-medium-webfont.woff2') format('woff2'),
    url('../../../fonts/avalon_mediumregular/avalon-medium-webfont.woff') format('woff'),
    url('../../../fonts/avalon_mediumregular/avalon-medium-webfont.ttf') format('truetype'),
    url('../../../fonts/avalon_mediumregular/avalon-medium-webfont.svg#avalon_mediumregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'rondo_twinthin';
  src: url('../../../fonts/rondo_twinthin/rondo-twin-thin-webfont.eot');
  src:
    url('../../../fonts/rondo_twinthin/rondo-twin-thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../../../fonts/rondo_twinthin/rondo-twin-thin-webfont.woff2') format('woff2'),
    url('../../../fonts/rondo_twinthin/rondo-twin-thin-webfont.woff') format('woff'),
    url('../../../fonts/rondo_twinthin/rondo-twin-thin-webfont.ttf') format('truetype'),
    url('../../../fonts/rondo_twinthin/rondo-twin-thin-webfont.svg#rondo_twinthin') format('svg');
  font-weight: normal;
  font-style: normal;
}
