@import 'variables.scss';

#slider-phone {
  position: absolute;
  bottom: 25px;
  right: 25px;
  z-index: 10;
  transition: transform 0.3s ease-out;

  &:focus,
  &:hover {
    transform: scale(1.1) !important;
  }

  i {
    box-shadow: rgba(0, 0, 0, 0.75) 0 0 6px !important;
  }
}

.swiper-slide {
  .overlay {
    background-color: #000;
    opacity: 0.5;
  }
}

.slide-1 {
  h2,
  p {
    font-family: 'heinrichscriptregular', sans-serif;
    //color: $color-4 !important;
  }
}

.slide-2 {
  h2,
  p {
    font-family: 'avalon_mediumregular', sans-serif;
    //color: $color-3 !important;
  }
}

.slide-3 {
  h2,
  p {
    font-family: 'rondo_twinthin', sans-serif;
    //color: $color-7 !important;
  }
}
