div(class='abovetherain__modal-content', style='max-width: 800px;')
  div(class='container-fluid')
    div(class='row')
      div(class='col-12')
        div(class='carousel slide', data-ride="carousel")
          div(class='carousel-inner')
            div(class='carousel-item active')
              img(class='d-block w-100', src="${`../`}" + "${require(`../../images/services/rent/001-800x533.jpg`)}")
            div(class='carousel-item')
              img(src="${`../`}" + "${require(`../../images/services/rent/001-800x533.jpg`)}")
