.schedule-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;

  thead {
    tr {
      th {
        &:first-child {
          width: 7%;
        }
      }
    }
  }

  tbody {
    td {
      border: 0;
    }
  }
}
