@import '../../styles/variables';
@import '../../styles/mixins';

@include image-container(66.666666%);

.image-container {
  border-radius: 0.5rem;
  border: 4px $card-bg solid;
  margin-bottom: 1rem;
  background-color: $card-bg;

  img {
    border-radius: calc(0.25rem - 1px);
  }
}
