extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.gallery.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.gallery)
  section#content
    .content-wrap
      .container.clearfix
        //-TODO
          new lightbox gallery
        -let i = 1;
        div(data-lightbox="gallery")
          while i <= 18
            a(href=`images/gallery/${i}.jpg` data-lightbox="gallery-item")
              img.image_fade.col_one_fourth(src=`images/gallery/thumbnails/${i}.jpg` class={
                col_last: i % 4 === 0
              } alt="")
              -i += 1;

append scripts
  //Page scripts
