@import '../../styles/variables';
@import '../../styles/mixins';

.img-thumbnail {
  background-color: $light-text-color;
  transition: opacity 0.1s $function;
  padding: 0;
  border-radius: 0.5rem;
  border: 4px $card-bg solid;
}

.glightbox-clean .gprev {
  top: 45%;
}

.glightbox-clean .gnext {
  top: 45%;
}
