extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.team.title
  if pages.team.description
    meta(name='description', content= pages.team.description)
  if pages.team.og.title
    meta(property='og:title', content= pages.team.og.title)
  if pages.team.og.description
    meta(property='og:title', content= pages.team.og.description)
  meta(property='og:type', content='article')
  meta(property='og:image', content= require('../../images/team/001-team-1500х670.jpg'))
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.team)
  section#content
    .content-wrap
      .container
        .row
          div(class='col-12')
            div(class='card mb-0 border-0')
              div(class='image-container')
                img(class='card-img-top', src= require('../../images/team/001-team-600x400.jpg'), alt='Над Дождём | Мы', srcset= require('../../images/team/001-team-600x400.jpg') + ' 600w, ' + require('../../images/team/001-team-800x533.jpg') + ' 800w, ' + require('../../images/team/001-team-960x640.jpg') + ' 960w')
              div(class='card-body p-sm-5', style='background-color: #f2f5f7')
                h2(class='card-title text-center mb-sm-4')
                  |МЫ
                p(class='card-text lead mb-sm-5')
                  |Мы приглашаем в творческий замок "Над дождём" который обладает особой аурой и собирает под своей крышей особенных&nbsp;людей.
                  br
                  |Наша цель, создание благоприятных условий для обучения мастерству воздушного искусства наряду с особой атмосферой раскрытия внешней красоты и силы, а также безграничности эмоционального и чувственного внутреннего&nbsp;мира.
                  br
                  |Пластика каждого отдельного человека уникальна, это результат жизненных решений и взглядов, мы стремимся развить ее природные данные и дать уверенность в себе. Мы делаем танец выражением личности, отражением неповторимой человеческой индивидуальности и&nbsp;инструментом самопознания.
                  br
                  |Приходите к нам не только за знаниями, но и за яркими&nbsp;эмоциями.
                  br
                  |Все наши педагоги это талантливые тренера со спортивным и хореографическим образованием.
                  br
                  |По мимо тренировочной деятельности активно учувствуют в соревнованиях и показательных выступлениях. Только такой тренер способен вдохновить, показать, как надо и передать&nbsp;знания.
                  br
                  |В конце года мы устраиваем не просто отчетные концерты, а настоящее шоу для наших учеников и их гостей, в уютной дружеской атмосфере они всегда яркие и впечатляющие. Приходите к нам не только за знаниями, но и за яркими эмоциями. Двери нашей студии открыты для учеников всех возрастов начиная от&nbsp;8&nbsp;лет.
                h2(class='card-title text-center mb-sm-4')
                  |Наш подход к занятиям по хореографии и&nbsp;спорту
                p(class='card-text lead mb-sm-5')
                  |Все танцевальные направления нашей студии на сегодняшний день являются лучшим и элегантным фитнесс решением для успешных и творческих&nbsp;людей.
                  br
                  |Занятия по хореографии проходят по специально разработанным программам от малого к большему, поэтапному развитию навыка. На уроках вы будете плавно погружаться в процесс физического развития и знакомиться с возможностями своего тела. Опытный тренер проанализирует уровень вашей физической подготовки и составит тренировочный план, который возможно осуществлять на общих и индивидуальных тренировках. В небольших группах по выбранному направлению вы сможете добиться поставленных результатов или просто заниматься для&nbsp;удовольствия.
                h2(class='card-title text-center mb-sm-4')
                  |Программа тренировки Pole&nbsp;Dance
                p(class='card-text lead')
                  |Ученик каждое занятие проходит поэтапную нагрузку, которая&nbsp;включает:
                ul
                  li
                    p(class='lead') Разминка + кардио нагрузка
                  li
                    p(class='lead') Силовая часть для укрепления всех групп&nbsp;мышц
                  li
                    p(class='lead') Разучивание элементов
                  li
                    p(class='lead') Связка из разученных элементов
                  li
                    p(class='lead') Растяжка
                  li
                    p(class='lead') Подготовка к&nbsp;импровизации
                p(class='lead')
                  |Чтобы познакомить вас с атмосферой нашей студии мы подготовили для просмотра материал занятий и&nbsp;выступлений:
                ul
                  li
                    p(class='lead')
                      a(href='gallery.html') Фото и видео&nbsp;материал
          //-TODO: 'Удалить карточку'
          div(class='col-12')
            div(class='card mb-0 border-0 mt-5')
              div(class='image-container')
                img(class='card-img-top', src= require(
                  '../../images/team/001-team-600x400.jpg'), alt='Над Дождём | Мы', srcset= require(
                  '../../images/team/001-team-600x400.jpg') + ' 600w, ' +
                require('../../images/team/001-team-800x533.jpg') + ' 800w, ' +
                require('../../images/team/001-team-960x640.jpg') + ' 960w')
              div(class='card-body p-sm-5', style='background-color: #e9e9d3')
                h2(class='card-title text-center mb-sm-4')
                  | МЫ
                p(class='card-text lead mb-sm-5')
                  | Мы приглашаем в творческий замок "Над дождём" который обладает особой аурой и собирает под своей крышей особенных&nbsp;людей.
                  br
                  | Наша цель, создание благоприятных условий для обучения мастерству воздушного искусства наряду с особой атмосферой раскрытия внешней красоты и силы, а также безграничности эмоционального и чувственного внутреннего&nbsp;мира.
                  br
                  | Пластика каждого отдельного человека уникальна, это результат жизненных решений и взглядов, мы стремимся развить ее природные данные и дать уверенность в себе. Мы делаем танец выражением личности, отражением неповторимой человеческой индивидуальности и инструментом самопознания.
                  br
                  | Приходите к нам не только за знаниями, но и за яркими&nbsp;эмоциями.
                  br
                  | Все наши педагоги это талантливые тренера со спортивным и хореографическим образованием.
                  br
                  | По мимо тренировочной деятельности активно учувствуют в соревнованиях и показательных выступлениях. Только такой тренер способен вдохновить, показать, как надо и передать&nbsp;знания.
                  br
                  | В конце года мы устраиваем не просто отчетные концерты, а настоящее шоу для наших учеников и их гостей, в уютной дружеской атмосфере они всегда яркие и впечатляющие. Приходите к нам не только за знаниями, но и за яркими эмоциями. Двери нашей студии открыты для учеников всех возрастов начиная от&nbsp;8&nbsp;лет.
                h2(class='card-title text-center mb-sm-4')
                  | Наш подход к занятиям по хореографии и&nbsp;спорту
                p(class='card-text lead mb-sm-5')
                  | Все танцевальные направления нашей студии на сегодняшний день являются лучшим и элегантным фитнесс решением для успешных и творческих&nbsp;людей.
                  br
                  | Занятия по хореографии проходят по специально разработанным программам от малого к большему, поэтапному развитию навыка. На уроках вы будете плавно погружаться в процесс физического развития и знакомиться с возможностями своего тела. Опытный тренер проанализирует уровень вашей физической подготовки и составит тренировочный план, который возможно осуществлять на общих и индивидуальных тренировках. В небольших группах по выбранному направлению вы сможете добиться поставленных результатов или просто заниматься для&nbsp;удовольствия.
                h2(class='card-title text-center mb-sm-4')
                  | Программа тренировки Pole&nbsp;Dance
                p(class='card-text lead')
                  | Ученик каждое занятие проходит поэтапную нагрузку, которая&nbsp;включает:
                ul
                  li
                    p(class='lead') Разминка + кардио нагрузка
                  li
                    p(class='lead') Силовая часть для укрепления всех групп&nbsp;мышц
                  li
                    p(class='lead') Разучивание элементов
                  li
                    p(class='lead') Связка из разученных элементов
                  li
                    p(class='lead') Растяжка
                  li
                    p(class='lead') Подготовка к&nbsp;импровизации
                p(class='lead')
                  | Чтобы познакомить вас с атмосферой нашей студии мы подготовили для просмотра материал занятий и&nbsp;выступлений:
                ul
                  li
                    p(class='lead')
                      a(href='gallery.html') Фото и видео&nbsp;материал
          //-TODO: 'Удалить карточку'
          div(class='col-12')
            div(class='card mb-0 border-0 mt-5')
              div(class='image-container')
                img(class='card-img-top', src= require(
                  '../../images/team/001-team-600x400.jpg'), alt='Над Дождём | Мы', srcset= require(
                  '../../images/team/001-team-600x400.jpg') + ' 600w, ' +
                require('../../images/team/001-team-800x533.jpg') + ' 800w, ' +
                require('../../images/team/001-team-960x640.jpg') + ' 960w')
              div(class='card-body p-sm-5', style='background-color: #fff')
                h2(class='card-title text-center mb-sm-4')
                  | МЫ
                p(class='card-text lead mb-sm-5')
                  | Мы приглашаем в творческий замок "Над дождём" который обладает особой аурой и собирает под своей крышей особенных&nbsp;людей.
                  br
                  | Наша цель, создание благоприятных условий для обучения мастерству воздушного искусства наряду с особой атмосферой раскрытия внешней красоты и силы, а также безграничности эмоционального и чувственного внутреннего&nbsp;мира.
                  br
                  | Пластика каждого отдельного человека уникальна, это результат жизненных решений и взглядов, мы стремимся развить ее природные данные и дать уверенность в себе. Мы делаем танец выражением личности, отражением неповторимой человеческой индивидуальности и инструментом самопознания.
                  br
                  | Приходите к нам не только за знаниями, но и за яркими&nbsp;эмоциями.
                  br
                  | Все наши педагоги это талантливые тренера со спортивным и хореографическим образованием.
                  br
                  | По мимо тренировочной деятельности активно учувствуют в соревнованиях и показательных выступлениях. Только такой тренер способен вдохновить, показать, как надо и передать&nbsp;знания.
                  br
                  | В конце года мы устраиваем не просто отчетные концерты, а настоящее шоу для наших учеников и их гостей, в уютной дружеской атмосфере они всегда яркие и впечатляющие. Приходите к нам не только за знаниями, но и за яркими эмоциями. Двери нашей студии открыты для учеников всех возрастов начиная от&nbsp;8&nbsp;лет.
                h2(class='card-title text-center mb-sm-4')
                  | Наш подход к занятиям по хореографии и&nbsp;спорту
                p(class='card-text lead mb-sm-5')
                  | Все танцевальные направления нашей студии на сегодняшний день являются лучшим и элегантным фитнесс решением для успешных и творческих&nbsp;людей.
                  br
                  | Занятия по хореографии проходят по специально разработанным программам от малого к большему, поэтапному развитию навыка. На уроках вы будете плавно погружаться в процесс физического развития и знакомиться с возможностями своего тела. Опытный тренер проанализирует уровень вашей физической подготовки и составит тренировочный план, который возможно осуществлять на общих и индивидуальных тренировках. В небольших группах по выбранному направлению вы сможете добиться поставленных результатов или просто заниматься для&nbsp;удовольствия.
                h2(class='card-title text-center mb-sm-4')
                  | Программа тренировки Pole&nbsp;Dance
                p(class='card-text lead')
                  | Ученик каждое занятие проходит поэтапную нагрузку, которая&nbsp;включает:
                ul
                  li
                    p(class='lead') Разминка + кардио нагрузка
                  li
                    p(class='lead') Силовая часть для укрепления всех групп&nbsp;мышц
                  li
                    p(class='lead') Разучивание элементов
                  li
                    p(class='lead') Связка из разученных элементов
                  li
                    p(class='lead') Растяжка
                  li
                    p(class='lead') Подготовка к&nbsp;импровизации
                p(class='lead')
                  | Чтобы познакомить вас с атмосферой нашей студии мы подготовили для просмотра материал занятий и&nbsp;выступлений:
                ul
                  li
                    p(class='lead')
                      a(href='gallery.html') Фото и видео&nbsp;материал
append scripts
  //Page scripts

