@import '../../styles/variables';
@import '../../styles/mixins';

.team-wrapper {
  .team-photo {
    img {
      display: block;
      width: 100%;
      height: auto;
      box-shadow: $box-shadow;
    }
  }

  .team-content {
    .team-title {
      text-align: center;
    }

    p {
      font-family: $font-family;
      font-weight: $font-weight;
      margin: 0;

      @include type(0);

      @include respond-to(laptop) {
        @include type(1);
      }
    }
  }
}
