extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.team.title
  meta(name='description', content= pages.team.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.team)
  section#content
    .content-wrap
      .container
        .row
          div(class='col-12')
            div(class='card mb-0 border-0')
              img(class='card-img-top mb-4', src= require('../../images/team/001-team-600x400.jpg'), alt='Мы | Над Дождём', srcset= require('../../images/team/001-team-600x400.jpg') + ' 600w, ' + require('../../images/team/001-team-800x533.jpg') + ' 800w, ' + require('../../images/team/001-team-960x640.jpg') + ' 960w')
              div(class='card-body')
                h2(class='card-title text-center')
                  |МЫ
                p(class='card-text lead mb-4')
                  |Мы приглашаем в творческий замок "Над дождём" который обладает особой аурой и собирает под своей крышей особенных людей.
                  br
                  |Наша цель, создание благоприятных условий для обучения мастерству воздушного искусства наряду с особой атмосферой раскрытия внешней красоты и силы, а также безграничности эмоционального и чувственного внутреннего мира.
                  br
                  |Пластика каждого отдельного человека уникальна, это результат жизненных решений и взглядов, мы стремимся развить ее природные данные и дать уверенность в себе. Мы делаем танец выражением личности, отражением неповторимой человеческой индивидуальности и инструментом самопознания.
                  br
                  |Приходите к нам не только за знаниями, но и за яркими эмоциями.
                  br
                  |Все наши педагоги это талантливые тренера со спортивным и хореографическим образованием.
                  br
                  |По мимо тренировочной деятельности активно учувствуют в соревнованиях и показательных выступлениях. Только такой тренер способен вдохновить, показать, как надо и передать знания.
                  br
                  |В конце года мы устраиваем не просто отчетные концерты, а настоящее шоу для наших учеников и их гостей, в уютной дружеской атмосфере они всегда яркие и впечатляющие. Приходите к нам не только за знаниями, но и за яркими эмоциями. Двери нашей студии открыты для учеников всех возрастов начиная от 8 лет.
                h2(class='card-title text-center')
                  |Наш подход к занятиям по хореографии и спорту
                p(class='card-text lead mb-4')
                  |Все танцевальные направления нашей студии на сегодняшний день являются лучшим и элегантным фитнесс решением для успешных и творческих леди.
                  br
                  |Занятия по хореографии проходят по специально разработанным программам от малого к большему, поэтапному развитию навыка. На уроках вы будете плавно погружаться в процесс физического развития и знакомиться с возможностями своего тела. Опытный тренер проанализирует уровень вашей физической подготовки и составит тренировочный план, который возможно осуществлять на общих и индивидуальных тренировках. В небольших группах по выбранному направлению вы сможете добиться поставленных результатов или просто заниматься для удовольствия.
                h2(class='card-title text-center')
                  |Программа тренировки Pole Dance
                p(class='card-text lead')
                  |Ученик каждое занятие проходит поэтапную нагрузку, которая включает:
                ul
                  li
                    p(class='lead') Разминка + кардио нагрузка
                  li
                    p(class='lead') Силовая часть для укрепления всех групп мышц
                  li
                    p(class='lead') Разучивание элементов
                  li
                    p(class='lead') Связка из разученных элементов
                  li
                    p(class='lead') Растяжка
                  li
                    p(class='lead') Подготовка к импровизации
                p(class='lead')
                  |Чтобы познакомить вас с атмосферой нашей студии мы подготовили для просмотра материал занятий и выступлений:
                ul
                  li
                    p(class='lead')
                      a(href='gallery.html') Фото и видео материал

append scripts
  //Page scripts

