extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.team.title
    title= pages.team.title
  if pages.team.description
    meta(name='description', content= pages.team.description)
  if pages.team.og.title
    meta(property='og:title', content= pages.team.og.title)
  if pages.team.og.description
    meta(property='og:title', content= pages.team.og.description)
  meta(property='og:type', content='website')
  meta(property='og:image', content= require('../../images/team/001-team-960x640.jpg'))
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/team/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~team/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append content
  +pageTitle(pages.team)
  section#content
    //Content
    div(class='content-wrap')
      //Container
      div(class='container')
        div(class='row')
          div(class='col-12')
            div(class='card')
              //Image
              div(class='image-container')
                img(class='card-img-top', src= require('../../images/team/001-team-600x400.jpg'), alt='Мы | Над Дождём', srcset= require('../../images/team/001-team-600x400.jpg') + ' 600w, ' + require('../../images/team/001-team-800x533.jpg') + ' 800w, ' + require('../../images/team/001-team-960x640.jpg') + ' 960w')
              //Body
              div(class='card-body')
                //Title
                h2(class='card-title text-center')
                  | МЫ
                p(class='card-text text-indent')
                  | Мы приглашаем в творческий замок "Над дождём" который обладает особой аурой и собирает под своей крышей особенных людей.
                p(class='card-text text-indent')
                  | Наша цель, создание благоприятных условий для обучения мастерству воздушного искусства наряду с особой атмосферой раскрытия внешней красоты и силы, а также безграничности эмоционального и чувственного внутреннего мира.
                p(class='card-text text-indent')
                  | Пластика каждого отдельного человека уникальна, это результат жизненных решений и взглядов, мы стремимся развить ее природные данные и дать уверенность в себе. Мы делаем танец выражением личности, отражением неповторимой человеческой индивидуальности и инструментом самопознания.
                p(class='card-text text-indent')
                  | Приходите к нам не только за знаниями, но и за яркими эмоциями.
                p(class='card-text text-indent')
                  | Все наши педагоги это талантливые тренера со спортивным и хореографическим образованием.
                p(class='card-text text-indent')
                  | По мимо тренировочной деятельности активно учувствуют в соревнованиях и показательных выступлениях. Только такой тренер способен вдохновить, показать, как надо и передать знания.
                p(class='card-text mb-2 text-indent')
                  | В конце года мы устраиваем не просто отчетные концерты, а настоящее шоу для наших учеников и их гостей, в уютной дружеской атмосфере они всегда яркие и впечатляющие. Приходите к нам не только за знаниями, но и за яркими эмоциями. Двери нашей студии открыты для учеников всех возрастов начиная от 8 лет.
                h2(class='card-title text-center')
                  | Наш подход к занятиям по хореографии и спорту
                p(class='card-text text-indent')
                  | Все танцевальные направления нашей студии на сегодняшний день являются лучшим и элегантным фитнесс решением для успешных и творческих людей.
                p(class='card-text mb-2 text-indent')
                  | Занятия по хореографии проходят по специально разработанным программам от малого к большему, поэтапному развитию навыка. На уроках вы будете плавно погружаться в процесс физического развития и знакомиться с возможностями своего тела. Опытный тренер проанализирует уровень вашей физической подготовки и составит тренировочный план, который возможно осуществлять на общих и индивидуальных тренировках. В небольших группах по выбранному направлению вы сможете добиться поставленных результатов или просто заниматься для удовольствия.
                h2(class='card-title text-center')
                  | Программа тренировки Pole Dance
                p(class='card-text mb-2 text-indent')
                  | Ученик каждое занятие проходит поэтапную нагрузку, которая включает:
                ul
                  li(class='mb-2') Разминка + кардио нагрузка
                  li(class='mb-2') Силовая часть для укрепления всех групп мышц
                  li(class='mb-2') Разучивание элементов
                  li(class='mb-2') Связка из разученных элементов
                  li(class='mb-2') Растяжка
                  li Подготовка к импровизации
                p(class='card-text mb-2 text-indent')
                  | Чтобы познакомить вас с атмосферой нашей студии мы подготовили для просмотра материал занятий и выступлений:
                ul(class='mb-0')
                  li
                    a(href='gallery.html') Фото и видео материал
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/team/i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~team/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
