//SCSS
@import '../../styles/variables';
@import '../../styles/mixins';

.team-list {
  margin-bottom: $indent * -10;

  @include respond-to(desktop) {
    margin-bottom: $indent * -8;
  }
}

.team {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: $indent * 10;

  @include respond-to(desktop) {
    flex-direction: row;
    margin-bottom: $indent * 8;

    > * {
      flex-basis: 50%;
    }
  }

  a {
    display: block;
    color: $link-color;
    text-decoration: underline rgba($link-color, 0.5) !important;
  }

  .team-image {
    position: relative;

    > img {
      display: block;
      width: 100%;
    }
  }

  .team-content {
    @include respond-to(desktop) {
      padding-left: $indent * 5;
    }

    .team-title {
      h4 {
        font-family: $heading-font-family;
        font-weight: $heading-font-weight;
        margin: $indent * 4 0 $indent * 3 0;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        color: $text-color;

        @include respond-to(desktop) {
          margin-top: 0;
        }
      }
    }

    .team-direction,
    .team-description {
      font-family: $font-family;
      font-weight: $font-weight;
    }

    .team-direction {
      font-size: $font-size;
      margin-bottom: $indent;
    }

    .team-description {
      font-size: 14px;
      margin: $indent * 3 0 0;
      color: $text-color;
    }
  }
}
