extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.team.title
    title= pages.team.title
  if pages.team.description
    meta(name='description', content= pages.team.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /team\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.team)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row')
        div(class='col-12')
          div(class='card card-page')
            //Image
            div(class='image-container')
              img(class='card-img-top', src= require('../../images/team/001-team-600x400.jpg'), alt='Мы | Над Дождём', srcset= require('../../images/team/001-team-600x400.jpg') + ' 600w, ' + require('../../images/team/001-team-800x533.jpg') + ' 800w, ' + require('../../images/team/001-team-960x640.jpg') + ' 960w')
            //Body
            div(class='card-body pb-0')
              //Title
              h2(class='card-title text-center')
                | МЫ
              p(class='card-text')
                | Мы приглашаем в творческий замок "Над дождём" который обладает особой аурой и собирает под своей крышей особенных людей.
              p(class='card-text')
                | Наша цель, создание благоприятных условий для обучения мастерству воздушного искусства наряду с особой атмосферой раскрытия внешней красоты и силы, а также безграничности эмоционального и чувственного внутреннего мира.
              p(class='card-text')
                | Пластика каждого отдельного человека уникальна, это результат жизненных решений и взглядов, мы стремимся развить ее природные данные и дать уверенность в себе. Мы делаем танец выражением личности, отражением неповторимой человеческой индивидуальности и инструментом самопознания.
              p(class='card-text')
                | Приходите к нам не только за знаниями, но и за яркими эмоциями.
              p(class='card-text')
                | Все наши педагоги это талантливые тренера со спортивным и хореографическим образованием.
              p(class='card-text')
                | По мимо тренировочной деятельности активно учувствуют в соревнованиях и показательных выступлениях. Только такой тренер способен вдохновить, показать, как надо и передать знания.
              p(class='card-text mb-0')
                | В конце года мы устраиваем не просто отчетные концерты, а настоящее шоу для наших учеников и их гостей, в уютной дружеской атмосфере они всегда яркие и впечатляющие. Приходите к нам не только за знаниями, но и за яркими эмоциями. Двери нашей студии открыты для учеников всех возрастов начиная от 8 лет.
            div(class='card-body pb-0')
              h2(class='card-title text-center')
                | Наш подход к занятиям по хореографии и спорту
              p(class='card-text')
                | Все танцевальные направления нашей студии на сегодняшний день являются лучшим и элегантным фитнесс решением для успешных и творческих людей.
              p(class='card-text mb-0')
                | Занятия по хореографии проходят по специально разработанным программам от малого к большему, поэтапному развитию навыка. На уроках вы будете плавно погружаться в процесс физического развития и знакомиться с возможностями своего тела. Опытный тренер проанализирует уровень вашей физической подготовки и составит тренировочный план, который возможно осуществлять на общих и индивидуальных тренировках. В небольших группах по выбранному направлению вы сможете добиться поставленных результатов или просто заниматься для удовольствия.
            div(class='card-body pb-0')
              h2(class='card-title text-center')
                | Программа тренировки Pole Dance
              p(class='card-text')
                | Ученик каждое занятие проходит поэтапную нагрузку, которая включает:
              ul
                li Разминка + кардио нагрузка
                li Силовая часть для укрепления всех групп мышц
                li Разучивание элементов
                li Связка из разученных элементов
                li Растяжка
                li Подготовка к импровизации
              p(class='card-text')
                | Чтобы познакомить вас с атмосферой нашей студии мы подготовили для просмотра материал занятий и выступлений:
              ul(class='mb-0')
                li(class='mb-0')
                  a(href='gallery.html') Фото и видео материал
            div(class='card-body')
              h2(class='card-title text-center')
                | Раскройте свою силу и красоту с помощью танцев.
              p Наслаждайтесь движением своего тела.
              h2(class='card-title text-center')
                | Погрузитесь в дружескую атмосферу и получайте удовольствие от спортивных занятий в просторном, оборудованном зале.
              p Профессиональное световое и звуковое оборудование, теплый пол, быстровозводимая сцена, акустический потолок.
              p Приглашаем вас на пробное занятие.
                br
                | Запишитесь на него:
                br
                span(class='phone-link')
                  a(href=`tel:${contacts.phone}`)
                    i(class='fas fa-phone fa-rotate-90 fa-fw')
                    | &nbsp;
                    | #{contacts.phone}
                br
                | Опытные тренеры помогут раскрыть ваш талант.
                br
                | Мы стремимся сделать танец выражением личности и инструментом самопознания.
    div(class='container')
      div(class='row')
        div(class='col-12')
          div(class='card mb-4')

//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /team\./i)
