extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation, team } = require('../../data');
  -const bigTeamPhoto = require('../../images/team/team.jpg');
//-HEAD
append meta
  //Page meta tags
  title= `${options.name} | ${pages.team.title}`
  if pages.team.description
    meta(name='description', content= pages.team.description)
  else
    meta(name='description', content= options.description)
  if pages.team.keys
    meta(name='keywords', content= pages.team.keys)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.team)
  section#content
    .content-wrap
      .container
        .row
          .col
            //.team-wrapper
              //-TODO Слайдер для 'Мы'
              .team-photo
                picture
                  source(media="(min-width: 768px)" srcset= bigTeamPhoto)
                  img(src= teamPhoto alt="Над Дождём")
              .team-content
                .team-title !{team.title}
                .team-description !{team.description}
append scripts
