extends ../../templates/layout
append variables
  -const data = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${data.siteName} | ${data.pages.team.title}`
  meta(name="description" content= data.pages.team.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append content
append footer
  //Footer
append scripts
  //Page scripts
