//Footer
footer#footer.dark
  #copyrights
    .container.clearfix
      .col_half
        p.lead(style="margin-bottom: 10px;") &copy; Над дождем 2018
        a(href="#")
          small Правила&nbsp;Клуба
        br.d-block.d-sm-none
        span.d-none.d-sm-inline &nbsp;|&nbsp;
        a(href="#")
          small Политика&nbsp;конфиденциальности
      .col_half.col_last.tright
        .fright.clearfix
          a.social-icon.si-small.si-borderless.nobottommargin.si-instagram(href="#")
            i.icon-instagram
            i.icon-instagram
          a.social-icon.si-small.si-borderless.nobottommargin.si-facebook(href="#")
            i.icon-facebook
            i.icon-facebook
          a.social-icon.si-small.si-borderless.nobottommargin.si-vk(href="#")
            i.icon-vk
            i.icon-vk
          a.social-icon.si-small.si-borderless.nobottommargin.si-youtube(href="#")
            i.icon-youtube
            i.icon-youtube