- const { options, contacts } = require('../../data');
//Footer
footer#footer
  .container
    .row.align-items-center
      .col-sm-6.col-lg-4.order-sm-2
        .phone
          a(href= `tel:${contacts.phone}`)= contacts.phone
      .col-sm-6.col-lg-4.order-sm-1
        .icons.clearfix
          a(href= contacts.instagram)
            <i class="fab fa-instagram"></i>
          a(href= contacts.vkontakte)
            <i class="fab fa-vk"></i>
          a(href= contacts.facebook)
            <i class="fab fa-facebook"></i>
      .col-lg-4.order-sm-3.order-lg-first
        .copyright
          span 2018 &copy; #{options.name}
          a(href='requisites.html') Реквизиты для оплаты
