//Footer
footer#footer
  .container
    .row.align-items-center
      .col-sm-6.col-lg-4.order-sm-2
        .phone
          a(href="tel:+79523999930") +7 952 3999930
      .col-sm-6.col-lg-4.order-sm-1
        .icons.clearfix
          //a.social-icon.si-borderless.si-facebook(href="#")
          //  i.icon-facebook
          //  i.icon-facebook
          a.social-icon.si-borderless.si-instagram(href="https://www.instagram.com/nad_dozhdem/")
            i.icon-instagram
            i.icon-instagram
          a.social-icon.si-borderless.si-vk(href="https://vk.com/naddozhdem")
            i.icon-vk
            i.icon-vk
          //a.social-icon.si-borderless.si-youtube(href="#")
          //  i.icon-youtube
          //  i.icon-youtube
      .col-lg-4.order-sm-3.order-lg-first
        .copyright
          span 2018 &copy; Над дождём
          //-TODO добавить 'Правила клуба'
          //-a(href="#") Правила клуба
          a(href='requisites.html') Реквизиты для оплаты
