- const { options, contacts } = require('../../data');
//Footer
footer(id='footer')
  div(class='container')
    div(class='row')
      div(class='col-sm-6 col-lg-4 order-sm-2')
        div(class='phone')
          a(href=`tel:${contacts.phone}`)
            i(class='fas fa-phone fa-rotate-90 fa-fw')
            | &nbsp;
            | #{contacts.phone}
      div(class='col-sm-6 col-lg-4 order-sm-1')
        div(class='icons')
          a(href= contacts.instagram)
            i(class='fab fa-instagram fa-lg')
          a(href= contacts.vkontakte)
            i(class='fab fa-vk fa-lg')
          a(href= contacts.facebook)
            i(class='fab fa-facebook fa-lg')
      div(class='col-lg-4 order-sm-3 order-lg-first')
        div(class='copyright')
          span 2019
          | &nbsp;
          i(class='far fa-copyright fa-fw')
          | #{options.name}
        div(class='link')
          a(href='requisites.html') Реквизиты для оплаты
