//Common meta tags
- const { common } = require('../../data');
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
meta(property='og:type', content='website')
meta(property='og:image', content= require('../../images/icons/og-image.png'))
meta(property='og:image:width', content='520')
meta(property='og:image:height', content='260')
meta(property='og:url', content= common.url)
meta(property='og:description', content= common.description)
meta(property='og:title', content= common.name)
link(rel='author', href='humans.txt')
//-Yandex.Metrika
//-TODO: 'Переделать'
script.
  (function(d, w, c) {
    (w[c] = w[c] || []).push(function() {
      try {
        w.yaCounter51313063 = new Ya.Metrika2({
          id: 51313063,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true,
          webvisor: true
        });
      } catch (e) { }
    });

    var n = d.getElementsByTagName("script")[0],
      s = d.createElement("script"),
      f = function() { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/tag.js";

    if (w.opera == "[object Opera]") {
      d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
  })(document, window, "yandex_metrika_callbacks2");
