//Common meta tags
- const { options } = require('../../data');
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
if htmlWebpackPlugin.options.server === 'local'
  base(href= `http://${options.hostLocal}:${options.portLocal}`)
if htmlWebpackPlugin.options.server === 'prod'
  base(href= options.remoteServerProd)
  link(rel='author', href='humans.txt')
if htmlWebpackPlugin.options.server === 'dev'
  base(href= options.remoteServerDev)
  link(rel='author', href='humans.txt')
