//Common meta tags
- const { options } = require('../../data');
meta(charset='utf-8')
meta(http-equiv='x-ua-compatible', content='ie=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, viewport-fit=cover')
link(rel='author', href='humans.txt')
if !htmlWebpackPlugin.options.remoteServer
  base(href= options.localServerDev)
if htmlWebpackPlugin.options.remoteServer === 'prod'
  base(href= options.remoteServerProd)
if htmlWebpackPlugin.options.remoteServer === 'dev'
  base(href= options.remoteServerDev)
