//Common scripts

//jquery.js
script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
//script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut', crossorigin='anonymous')
//script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js',  integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k', crossorigin='anonymous')

//External
script(type="text/javascript" src="scripts/plugins.abcd.js")
script(type="text/javascript" src="scripts/functions.abcd.js")

//common.js
//TODO:: 'Удалить common'
each jsFile in htmlWebpackPlugin.files.js
  if jsFile.search(/inline/i) === -1 && jsFile.search(/common/i) !== -1
    script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))

if htmlWebpackPlugin.options.name !== 'index'
  //Go to top
  //TODO:: 'В отдельный модуль'
  script.
    jQuery.noConflict();
    jQuery(document).ready(function domReadyCb($) {
      const $window = $(window);
      const $goToTopEl = $('#abovetherain__gototop');
      $goToTopEl.click(function () {
        $('body, html').stop(true).animate({
          'scrollTop': 0
        });
        return false;
      });
      $window.on('scroll', function windowScrollCb() {
        if ($window.scrollTop() > 450) {
          $goToTopEl.fadeIn();
        } else {
          $goToTopEl.fadeOut();
        }
      });
      if ($window.scrollTop() > 450) {
        $goToTopEl.fadeIn();
      }
    });
