//Common scripts
script(type="text/javascript" src="scripts/jquery.js")
script(type="text/javascript" src="scripts/plugins.js")
script(type="text/javascript" src="scripts/functions.js")
if htmlWebpackPlugin.options.name !== 'index'
  script.
    const btn = $('#abovetherain__gototop');
    if ($(window).scrollTop() > 300) {
      btn.css({
        display: 'flex',
      }).animate({
        opacity: 1,
      }, 300);
    }
    $(window).scroll(function () {
      if ($(window).scrollTop() > 300) {
        btn.css({ display: 'flex' });
      } else {
        btn.css({ display: 'none' });
      }
    });
    btn.on('click', function (e) {
      e.preventDefault();
      $('html, body').animate({ scrollTop: 0 }, '300');
    });
