//Common scripts
if htmlWebpackPlugin.options.name === 'aleksandr-ushakov'
  script(type="text/javascript" src="../scripts/jquery.js")
  script(type="text/javascript" src="../scripts/plugins.js")
  script(type="text/javascript" src="../scripts/functions.js")
else
  script(type="text/javascript" src="scripts/jquery.js")
  script(type="text/javascript" src="scripts/plugins.js")
  script(type="text/javascript" src="scripts/functions.js")
//FIXME: 'Объявить переменные'
if htmlWebpackPlugin.options.name !== 'index'
  script.
    jQuery.noConflict();
    jQuery(document).ready(function domReadyCb($) {
      $window = $(window);
      $goToTopEl = $('#abovetherain__gototop');
      $goToTopEl.click(function () {
        $('body, html').stop(true).animate({
          'scrollTop': 0
        });
        return false;
      });
      $window.on('scroll', function windowScrollCb() {
        if ($window.scrollTop() > 450) {
          $goToTopEl.fadeIn();
        } else {
          $goToTopEl.fadeOut();
        }
      });
      if ($window.scrollTop() > 450) {
        $goToTopEl.fadeIn();
      }
    });
