//Common scripts
script(type="text/javascript" src="scripts/jquery.js")
script(type="text/javascript" src="scripts/plugins.js")
script(type="text/javascript" src="scripts/functions.js")
//TODO: 'Удалить common'
each jsFile in htmlWebpackPlugin.files.js
  if jsFile.search(/inline/i) === -1 && (jsFile.search(/vendor/i) !== -1 || jsFile.search(/common/i) !== -1)
    script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
//Go to top
if htmlWebpackPlugin.options.name !== 'index'
  script.
    jQuery.noConflict();
    jQuery(document).ready(function domReadyCb($) {
      const $window = $(window);
      const $goToTopEl = $('#abovetherain__gototop');
      $goToTopEl.click(function () {
        $('body, html').stop(true).animate({
          'scrollTop': 0
        });
        return false;
      });
      $window.on('scroll', function windowScrollCb() {
        if ($window.scrollTop() > 450) {
          $goToTopEl.fadeIn();
        } else {
          $goToTopEl.fadeOut();
        }
      });
      if ($window.scrollTop() > 450) {
        $goToTopEl.fadeIn();
      }
    });
