//Common styles
link(rel="stylesheet" href="styles/swiper.css" type="text/css")
link(rel="stylesheet" href="styles/animate.css" type="text/css")
link(rel="stylesheet" href="styles/magnific-popup.css" type="text/css")

