//Common styles
each cssFile in htmlWebpackPlugin.files.css
  if cssFile.search(/inline/i) === -1 && cssFile.search(/common/i) !== -1
    link(rel='preload', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
    noscript
      link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700&amp;subset=cyrillic')
