//Common styles
link(rel="stylesheet" href="styles/bootstrap.css" type="text/css")
link(rel="stylesheet" href="styles/style.css" type="text/css")
link(rel="stylesheet" href="styles/swiper.css" type="text/css")
link(rel="stylesheet" href="styles/dark.css" type="text/css")
link(rel="stylesheet" href="styles/font-icons.css" type="text/css")
link(rel="stylesheet" href="styles/animate.css" type="text/css")
link(rel="stylesheet" href="styles/magnific-popup.css" type="text/css")
link(rel="stylesheet" href="styles/responsive.css" type="text/css")