//Common styles
link(rel="stylesheet", href="styles/swiper.css" type="text/css")
link(rel="stylesheet", href="styles/animate.css" type="text/css")
link(rel="stylesheet", href="styles/magnific-popup.css" type="text/css")
link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Fira+Sans:400,400i,700&amp;subset=cyrillic')

