//Common styles
link(rel="stylesheet" href="styles/swiper.css" type="text/css")
link(rel="stylesheet" href="styles/animate.css" type="text/css")
link(rel="stylesheet" href="styles/magnific-popup.css" type="text/css")
each cssFile in htmlWebpackPlugin.files.css
  if cssFile.search(/inline/i) === -1 && (cssFile.search(/vendor/i) !== -1 || cssFile.search(/common/i) !== -1)
    link(rel='preload', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
    noscript
      link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
