-
  var items = [
  {name: 'services', title: 'Услуги', subitems: [
  {name: 'service-1', path: 'data/services', title: 'Услуга-1'},
  {name: 'service-2', path: 'data/services', title: 'Услуга-2'},
  {name: 'service-3', path: 'data/services', title: 'Услуга-3'},
  {name: 'service-4', path: 'data/services', title: 'Услуга-4'},
  {name: 'service-5', path: 'data/services', title: 'Услуга-5'},
  {name: 'service-6', path: 'data/services', title: 'Услуга-6'}
  ]},
  {name: 'schedule', title: 'Расписание'},
  {name: 'events', title: 'Афиша'},
  {name: 'team', title: 'Мы'},
  {name: 'gallery', title: 'Галерея'},
  {name: 'contacts', title: 'Контакты'}
  ]
doctype html
html(lang="ru-RU")
  head
    block meta
      include ./blocks/meta
    block icons
      include ./blocks/icons
    block styles
      include ./blocks/styles
  body.stretched
    //Page content
    #wrapper.clearfix
      include ./components/header
      block content
      block footer
    block scripts
      include ./blocks/scripts