//-Common variables
block variables
  -const pageName = htmlWebpackPlugin.options.name;
//-Markup
doctype html
html(lang="ru-RU")
  head
    block meta
      include ./blocks/meta
    block icons
      include ./blocks/icons
    block styles
      include ./blocks/styles
  body.stretched
    //Page content
    #wrapper.clearfix
      include ./components/header
      block content
      block footer
    block scripts
      include ./blocks/scripts