@import '../../styles/variables';
@import '../../styles/mixins';

.contact-content {
  margin-bottom: $indent * 16;
  font-family: $heading-font-family;
  font-weight: $heading-font-weight;
  color: $text-color;

  @include respond-to(laptop) {
    margin-left: $indent * 8;
  }

  i {
    padding-right: $indent * 8;
  }

  .contact-address,
  .contact-phone,
  .contact-email {
    @include type(1);

    a {
      @include link($link-color, 1);
    }
  }

  .contact-address,
  .contact-phone {
    margin-bottom: $indent * 8;
  }
}

#yandex-map {
  height: 500px;
}
