extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.contacts.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.contacts)
  section#content
    .content-wrap
      .container.clearfix
        .row
          .col-lg-12
            .address-item
              p
                i.icon-map-marker
                | Санкт-Петербург, Пионерская ул., 50
              p
                i.icon-phone3
                a(href="tel:+7812100-20-30") +7 812 100-20-30
              p
                i.icon-envelope-alt
                //-TODO
                  data-ajax contact form
                a(href="#") info@admin.ru
          .col-lg-12
            #yandex-map
append scripts
  //Page scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
  script.
    ymaps.ready(init);
    function init() {
      const map = new ymaps.Map('yandex-map', {
        center: [59.964139, 30.272844],
        zoom: 17
      });
      map.behaviors.disable('scrollZoom');
      const mark = new ymaps.Placemark([59.964139, 30.272844],
        {
          type: "Point",
          coordinates: [59.964139, 30.272844],
        },
        {
          // preset: 'islands#redCircleDotIcon'
          iconLayout: 'default#image',
          iconImageHref: 'images/mark.png',
          iconImageSize: [60, 80],
          iconImageOffset: [-50, -40],
          cursor: 'auto'
        });
      const route = new ymaps.Polyline([
        [59.964139, 30.272844],
        [59.964282, 30.273050],
        [59.964358, 30.273876],
        [59.964097, 30.274206],
        [59.964173, 30.274472]
      ], {}, {
        strokeColor: "#caac37",
        strokeWidth: 2,
        strokeStyle: 'dot'
      });
      map.geoObjects
      .add(mark)
      .add(route);
    }

