extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append content
    div(id='content')
      div(class='container')
        div(class='row')

          div(class='col-12')
            div(id='yandex-map')
//-SCRIPTS


