@import '../../styles/variables';
@import '../../styles/mixins';
@import '../../styles/navbar';
@import '../../styles/pagetitle';

ul.contacts {
  padding: 0;
  margin: 0 0 2rem 0;
  list-style-type: none;
  font-size: 1.5rem;

  li {
    margin-bottom: 0.5rem;
  }
}

#yandex-map {
  height: 40rem;
}
