include schedule-event
table.table.table-sm.table-bordered.table-dark.border.border-rhino.schedule-table.text-center.d-none.d-lg-table.w-100(data-selected="all")
  thead
    tr
      th(scope="col")
      th(scope="col").font-weight-bold Понедельник
      th(scope="col").font-weight-bold Вторник
      th(scope="col").font-weight-bold Среда
      th(scope="col").font-weight-bold Четверг
      th(scope="col").font-weight-bold Пятница
      th(scope="col").font-weight-bold Суббота
      th(scope="col").font-weight-bold Воскресенье
  tbody
    //9:00
    tr
      th.align-middle(scope="row").font-weight-bold 9:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //9:30
    tr
      th.align-middle(scope="row").font-weight-bold 9:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //10:00
    tr
      th.align-middle(scope="row").font-weight-bold 10:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //10:30
    tr
      th.align-middle(scope="row").font-weight-bold 10:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //11:00
    tr
      th.align-middle(scope="row").font-weight-bold 11:00
      //Понедельник
      +schedule-event('2', directions[6], coaches[2], days[0], '11:00', '12:00', 'Открытая группа')
      //Вторник
      td
      //Среда
      td
      //Четверг
      +schedule-event('2', directions[7], coaches[2], days[3], '11:00', '12:00', 'Открытая группа')
      //Пятница
      +schedule-event('2', directions[5], coaches[1], days[4], '11:00', '12:00')
      //Суббота
      td
      //Воскресенье
      td
    //11:30
    tr
      th.align-middle(scope="row").font-weight-bold 11:30
      //Понедельник
      //Вторник
      td
      //Среда
      td
      //Четверг
      //Пятница
      //Суббота
      td
      //Воскресенье
      td
    //12:00
    tr
      th.align-middle(scope="row").font-weight-bold 12:00
      //Понедельник
      +schedule-event('2', directions[5], coaches[1], days[0], '12:00', '13:00', 'Открытая группа')
      //Вторник
      +schedule-event('2', directions[5], coaches[1], days[1], '12:00', '13:00', 'Открытая группа')
      //Среда
      td
      //Четверг
      +schedule-event('2', directions[5], coaches[1], days[3], '12:00', '13:00', 'Открытая группа')
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //12:30
    tr
      th.align-middle(scope="row").font-weight-bold 12:30
      //Понедельник
      //Вторник
      //Среда
      td
      //Четверг
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //13:00
    tr
      th.align-middle(scope="row").font-weight-bold 13:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //13:30
    tr
      th.align-middle(scope="row").font-weight-bold 13:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //14-00
    tr
      th.align-middle(scope="row").font-weight-bold 14:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //14:30
    tr
      th.align-middle(scope="row").font-weight-bold 14:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //15:00
    tr
      th.align-middle(scope="row").font-weight-bold 15:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //15:30
    tr
      th.align-middle(scope="row").font-weight-bold 15:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //16:00
    tr
      th.align-middle(scope="row").font-weight-bold 16:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //16:30
    tr
      th.align-middle(scope="row").font-weight-bold 16:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //17:00
    tr
      th.align-middle(scope="row").font-weight-bold 17:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //17:30
    tr
      th.align-middle(scope="row").font-weight-bold 17:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //18:00
    tr
      th.align-middle(scope="row").font-weight-bold 18:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //18:30
    tr
      th.align-middle(scope="row").font-weight-bold 18:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //19:00
    tr
      th.align-middle(scope="row").font-weight-bold 19:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      +schedule-event('2', directions[6], coaches[2], days[2], '19:00', '20:00', 'Открытая группа')
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //19:30
    tr
      th.align-middle(scope="row").font-weight-bold 19:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //20:00
    tr
      th.align-middle(scope="row").font-weight-bold 20:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //20:30
    tr
      th.align-middle(scope="row").font-weight-bold 20:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
    //21:00
    tr
      th.align-middle(scope="row").font-weight-bold 21:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
      //Воскресенье
      td
