extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.services.title
  meta(name='description', content= pages.services.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.services)
  section#content
    //-Content
    div(class='content-wrap')
      //-Container
      div(class='container')
        div(class='row')
          //-Аренда
          div(class='col-12 col-lg-6')
            div(class='card mb-5 mb-lg-4 border-0')
              div(class='image-container')
                img(class='card-img-top', src= require('../../images/services/rent/001-rent-600x400.jpg'), alt='Над Дождём | Аренда сценической площадки', srcset= require('../../images/services/rent/001-rent-600x400.jpg') + ' 600w,' + require('../../images/services/rent/001-rent-800x533.jpg') + ' 800w')
              div(class='card-body')
                h2(class='card-title mb-3')
                  |Аренда сценической площадки
                span(class='card-subtitle mb-4')
                  |от 25 000 до 40 000 руб
                p(class='card-text mb-4')
                  |В танцевальном замке "Над дождём" возможно арендовать сценическую площадку для проведения отчетного концерта, творческого вечера, спектакля, семинара, мастер-класса и других различных мероприятий.
                a(href= 'rent.html', class='read-more d-flex justify-content-end', data-ajax) Подробнее...
          //-Кольцо
          div(class='col-12 col-lg-6')
            div(class='card mb-5 mb-lg-4 border-0')
              div(class='image-container')
                img(class='card-img-top', src= require(
                  '../../images/services/hood/001-hood-600x400.jpg'), alt='Над Дождём | Аренда сценической площадки', srcset= require(
                  '../../images/services/hood/001-hood-600x400.jpg') + ' 600w,' +
                require('../../images/services/hood/001-hood-800x533.jpg') + ' 800w')
              div(class='card-body')
                h2(class='card-title mb-3')
                  | Воздушное кольцо
                span(class='card-subtitle')
                  | Одно занятие - 750 руб
                  br
                  | Пробное занятие - 500 руб
          //-Полотно
          div(class='col-12 col-lg-6')
            div(class='card mb-5 mb-lg-4 border-0')
              div(class='image-container')
                img(class='card-img-top', src= require('../../images/services/silk/001-silk-600x400.jpg'), alt='Над Дождём | Аренда сценической площадки', srcset= require('../../images/services/silk/001-silk-600x400.jpg') + ' 600w,' + require('../../images/services/silk/001-silk-800x533.jpg') + ' 800w')
              div(class='card-body')
                h2(class='card-title mb-3')
                  | Воздушное полотно
                span(class='card-subtitle')
                  | Одно занятие - 750 руб
                  br
                  | Пробное занятие - 500 руб
          //-Пилон
          div(class='col-12 col-lg-6')
            div(class='card mb-5 mb-lg-4 border-0')
              div(class='image-container')
                img(class='card-img-top', src= require('../../images/services/pole-dance/001-pole-dance-600x400.jpg'), alt='Над Дождём | Аренда сценической площадки', srcset= require('../../images/services/pole-dance/001-pole-dance-600x400.jpg') + ' 600w,' + require('../../images/services/pole-dance/001-pole-dance-800x533.jpg') + ' 800w')
              div(class='card-body')
                h2(class='card-title mb-3')
                  | Pole Dance
                span(class='card-subtitle')
                  | Одно занятие - 750 руб
                  br
                  | Пробное занятие - 500 руб
          //-Королевская йога
          div(class='col-12 col-lg-6')
            div(class='card border-0')
              div(class='image-container')
                img(class='card-img-top', src= require('../../images/services/yoga/001-yoga-600x400.jpg'), alt='Над Дождём | Аренда сценической площадки', srcset= require('../../images/services/yoga/001-yoga-600x400.jpg') + ' 600w,' + require('../../images/services/yoga/001-yoga-800x533.jpg') + ' 800w')
              div(class='card-body')
                h2(class='card-title mb-3')
                  | Королевская йога
                span(class='card-subtitle')
                  | Одно занятие - 750 руб
                  br
                  | Пробное занятие - 500 руб
append scripts
  //Page scripts
