extends ../layouts/app
//-VARS
append variables
  -var icon = require("../../images/icons/favicon.ico")
  -var logo = require("../../images/logo/logo.png")
//-HEADER
append header
  +header(logo)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        div.col-12
          ul.list-unstyled.font-weight-bold
            li.mb-3.h4
              i.fas.fa-map-marker-alt
              | &nbsp;
              | !{htmlWebpackPlugin.options.vars.options.address}
            li.mb-3.h4
              a.text-reset.text-decoration-none(href=`tel:${htmlWebpackPlugin.options.vars.options.phone}`)
                i.fas.fa-phone.fa-rotate-90.fa-fw
                | &nbsp;
                | #{htmlWebpackPlugin.options.vars.options.phone}
            li.mb-3.h4
              i.fas.fa-envelope.fa-fw
              | &nbsp;
              | #{htmlWebpackPlugin.options.vars.options.email}
        div.col-12
          div#yandex-map(style='height: 40rem;')
append scripts
  script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU", type="text/javascript")
