extends ../layouts/app
//-VARS
append variables
  -var icon = require("../../images/icons/favicon.ico")
  -var logo = require("../../images/logo/logo.png")
  -var directions = require('../../database/directions')
  -var coaches = require('../../database/coaches')
  -var days = require('../../database/days')
//-HEADER
append header
  +header(logo)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        div.col-sm-6.col-md-5.col-xl-3
          a.btn.btn-info.btn-block.mb-4(href="https://vk.com/naddozhdem?w=app5708398_-168182015" role="button" aria-disabled="true")
            | Записаться на занятие
            | &nbsp;
            i.fab.fa-vk.fa-lg
      div.row
        div.col-md-4.col-xl-3
          select#direction-select.custom-select.mb-2
            option(value="all" selected) Все направления
            each direction in directions
              if direction.schedule
                option(value= direction.name)= direction.title
        div.col-md-4.col-xl-3
          select#coach-select.custom-select.mb-2
            option(value="all" selected) Все тренеры
            each coach in coaches
              if coach.schedule
                option(value= coach.name)= coach.title
        div.col-md-4.col-xl-3
          select#day-select.custom-select.mb-2
            option(value="all" selected) Все дни недели
            each day in days
              option(value= day.name)= day.title
      div.row
        div.col
          div#abovetherain__schedule-tables.mt-2
            include ../inc/laptop-schedule
            include ../inc/mobile-schedule


