extends ../layouts/app
//-VARS
append variables
  -var icon = require("../../images/icons/favicon.ico")
  -var logo = require("../../images/logo/logo.png")
//-HEADER
append header
  +header(logo)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        div.col
          | team
