@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  background: transparent url('../images/fon/thumbnails/fon.jpg') center fixed / cover;

  @include respond-to(laptop) {
    background: transparent url('../images/fon/fon.jpg') center fixed / cover;
  }
}

#content {
  flex: auto;
}

#abovetherain__gototop {
  position: fixed;
  bottom: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  border: 1px solid #f50;

  svg path {
    fill: $light-color;
    transition: fill 0.3s ease-in-out;
  }

  &:hover {
    cursor: pointer;
  }

  &:active {
    svg path {
      fill: transparent;
    }
  }

  &.show {
    opacity: 1;
    visibility: visible;
  }
}
