//TODO: 'Настроить переносы слов'
//https://habr.com/company/wargaming/blog/277933/
//TODO: 'Добавить max-width длч page title'
@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
}

html,
body {
  height: 100%;
}

body {
  background-color: #fff;
}

#wrapper {
  display: flex;
  flex-flow: column nowrap;
  min-height: 100%;
  background: transparent url('../images/fon/thumbnails/fon.jpg') center fixed / cover;

  @include respond-to(laptop) {
    background: transparent url('../images/fon/fon.jpg') center fixed / cover;
  }
}

#content {
  flex: auto;
}

#abovetherain__gototop {
  display: none;
  z-index: 20;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;

  path {
    fill: $light-color;
  }
}
