@import 'scss/variables';

//Breakpoints
$breakpoints: (
  handheld: 576px 540px,
  tablet: 768px 720px,
  laptop: 992px 960px,
  desktop: 1200px 1140px
);

//Colors
$light-color: #e9e9d3;
$dark-color: #002137;
$theme-color: complement($light-color);
$border-color: #ccc;
$heading-color: $light-color;
$text-color: $light-color;
$link-color: $light-color;
$icon-color: $light-color;
$overlay: rgba(0, 0, 0, 0.4);

//Typography
$heading-font-family: 'Comfortaa', cursive;
$font-family: 'Open Sans', sans-serif;
$heading-font-weight: 700;
$font-weight: 400;
$font-size: 1rem;
$rhythm: 1.333;
$line-height: 1.65;
$font-sizes: (
  -2: $font-size / $rhythm / $rhythm,
  -1: $font-size / $rhythm,
  0: $font-size,
  1: $font-size * $rhythm,
  2: $font-size * $rhythm * $rhythm,
  3: $font-size * $rhythm * $rhythm * $rhythm,
  4: $font-size * $rhythm * $rhythm * $rhythm * $rhythm,
  5: $font-size * $rhythm * $rhythm * $rhythm * $rhythm * $rhythm,
  6: $font-size * $rhythm * $rhythm * $rhythm * $rhythm * $rhythm * $rhythm,
);

//Miscellaneous
$box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.4);
$indent: 2px;

//Animation
$function: cubic-bezier(0.6, 0, 0.4, 1);

//Slider
$slider-font-family: 'hercules_modern', serif;
$slider-font-color: $light-color;
$slider-font-size: 4.5rem;
$caption-position: 65%;
$slider-overlay: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 1));

//Menu
$menu-font-family: $heading-font-family;
$menu-font-weight: $font-weight;
$menu-font-color: $light-color;
$menu-font-size: 16px;
$menu-hover-font-color: $theme-color;
$submenu-font-family: $menu-font-family;
$submenu-font-weight: $menu-font-weight;
$submenu-font-size: 12px;
$submenu-font-color: $dark-color;
