@import 'variables';
@import 'mixins';

.card,
.card-header,
.card-footer,
.card-img,
.card-img-top,
.card-img-bottom {
  border-radius: 0 !important;
}

.card,
.card-header,
.card-footer {
  background-color: $card-bg;
  border: none;
}

.card {
  color: $dark-text-color;

  p {
    line-height: 1.75;
  }

  .card-text,
  blockquote,
  ul,
  li {
    margin-bottom: 1rem;
  }

  .card-body {
    padding: 1.5rem 1rem;

    @include respond-to(laptop) {
      padding: 2.5rem 2rem;
    }
  }

  .card-footer {
    padding: 1rem 2rem 2rem;
  }

  .card-title,
  .card-subtitle {
    margin-bottom: 1.5rem;
  }

  .card-subtitle {
    color: $secondary-dark-text-color;
  }

  a {
    color: $dark-text-color;
    font-weight: $heading-font-weight;
    text-decoration: underline;

    &:hover,
    &:focus,
    &:active {
      color: lighten($dark-text-color, 20%);
    }

    @include respond-to(laptop) {
      text-decoration: none;

      &:hover,
      &:focus,
      &:active {
        text-decoration: underline;
      }
    }
  }

  blockquote {
    border: none;

    .blockquote-footer {
      padding-left: 0.5rem;
      color: $secondary-dark-text-color;
    }

    p {
      margin-bottom: 1rem;
      font-size: $font-size;
      font-style: italic;
    }
  }
}
