@import 'variables';
@import 'mixins';

.card {
  width: 100%;
  background-color: $card-bg;
  color: $dark-text-color;
  padding: 0;
  border-radius: 0.5rem;
  border: 4px $card-bg solid;

  .carousel-inner {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
  }

  @include respond-to(laptop) {
    line-height: 1.65;
  }

  @include link;

  .card-body {
    padding: 1rem 0.5rem;

    :last-child {
      margin-bottom: 0 !important;
    }

    .card-title {
      overflow-wrap: normal;
    }

    .card-title,
    .card-subtitle {
      margin-bottom: 1.5rem;
    }

    .card-subtitle {
      color: $secondary-dark-text-color;
    }

    @include respond-to(laptop) {
      padding: 2rem 1.5rem;
    }
  }

  .card-footer {
    background-color: transparent;

    :last-child {
      margin-bottom: 0 !important;
    }
  }

  .coach-schedule-link {
    @include link(dark, false, true);
  }

  .coach-direction-link {
    h5 {
      margin-bottom: 1rem;
    }
  }

  blockquote {
    border-width: 1px !important;
    font-style: italic;
    font-size: 1rem;

    > p:last-of-type {
      margin-bottom: 0.5rem !important;
    }

    .blockquote-footer {
      padding-left: 0.5rem;
    }

    cite {
      color: $secondary-dark-text-color;
    }

    @include respond-to(laptop) {
      font-size: 1.125rem;
    }
  }

  &.card-page {
    .card-footer {
      padding: 1rem 0.5rem;

      &.service-footer,
      &.coach-footer {
        display: flex;
        flex-flow: column nowrap;

        > * {
          margin-bottom: 2rem;
          flex: 1 1 auto;
        }

        @include respond-to(laptop) {
          flex-flow: row nowrap;

          > * {
            margin-bottom: 0;
          }
        }
      }

      @include respond-to(laptop) {
        padding: 2rem 1.5rem;
      }
    }
  }

  ul {
    padding-left: 2rem;

    li {
      margin-bottom: 0.5rem;
    }
  }
}
