@import 'variables';
@import 'mixins';

.card,
.card-header,
.card-footer,
.card-img,
.card-img-top,
.card-img-bottom {
  border-radius: 0;
}

.card,
.card-header,
.card-footer {
  background-color: $card-bg;
  border: none;
}

.card {
  p {
    &.card-text {
      margin: 0 auto;
    }

    &.text-indent {
      text-indent: 1em;
    }
  }

  a {
    color: $dark-text-color;
    font-weight: $heading-font-weight;

    &:hover,
    &:focus,
    &:active {
      color: $secondary-dark-text-color
    }
  }

  blockquote {
    border: none;

    .blockquote-footer {
      color: $secondary-dark-text-color;
    }

    p {
      font-size: $font-size;
      font-style: italic;
    }
  }
}

.card-title,
.card-text {
  color: $dark-text-color;
}

.card-subtitle {
  color: $secondary-dark-text-color;
  margin-bottom: 1rem;
}
