@import 'variables';
@import 'mixins';

body {
  background: $light-color url('../images/fon1.jpg') center no-repeat / cover;
  min-height: 100vh;
}

#header,
#wrapper,
#content,
#footer {
  background: transparent;
}
