@import 'variables';
@import 'mixins';

*,
*::after,
*::before {
  box-sizing: border-box;
  outline: none !important;
}

#wrapper {
  background: $dark-color url('../images/fon/thumbnails/fon.jpg') center fixed / cover;

  @include respond-to(laptop) {
    background: $dark-color url('../images/fon/fon.jpg') center fixed / cover;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 0) 85%, rgba(0, 0, 0, 0.3));
  }
}
