//FIXME: 'Fixed background'
@import 'variables';
@import 'mixins';

html,
body {
  height: 100%;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: $body-bg-color;
  color: $light-text-color;
}

strong {
  font-weight: $heading-font-weight;
}

#content {
  padding: 3rem 0;

  @include respond-to(laptop) {
    padding: 5rem 0;
  }
}

@import 'navbar';
@import 'pagetitle';
@import 'card';
@import 'footer';
@import 'gototop';
