@import 'variables';
@import 'mixins';

html {
  background-color: $body-bg-color;

  &::before {
    content: ' ';
    display: block;
    background: transparent center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    z-index: -10;
  }

  &::after {
    position: fixed;
    content: ' ';
    display: block;
    height: 100vh;
    width: 100vw;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -9;
    background-color: rgba(0, 0, 0, 0.1);
  }

  &.fon-loaded {
    &::before {
      background-image: url('../images/fon/mobile-common-fon.jpg');
    }

    @include respond-to(laptop) {
      &::before {
        background-image: url('../images/fon/laptop-common-fon.jpg');
      }
    }
  }
}

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: transparent;
  color: $light-text-color;

  @include respond-to(laptop) {
    font-size: 1.125rem;
  }
}

strong,
b,
.font-weight-bold {
  font-weight: $heading-font-weight;
}

#content {
  padding: 3rem 0;

  @include respond-to(laptop) {
    padding: 5rem 0;
  }
}

a:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

@import 'navbar';
@import 'pagetitle';
@import 'card';
@import 'footer';
