@import 'variables';
@import 'scss/mixins';
@import 'functions';

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: nth(map-get($breakpoints, $breakpoint), 1);

    @media screen and (min-width: $value) {
      @content;
    }
  }
}

@mixin type($level: 0) {
  font-size: type-scale($level) !important;
  line-height: $line-height !important;
}

@mixin animation($variables...) {
  animation: $variables;
}

@mixin transition($variables...) {
  transition: $variables;
}

@mixin link($color: $link-color, $type: 0) {
  font-family: $font-family;
  font-weight: $font-weight;
  text-decoration: underline rgba($color, 0.5) !important;
  color: $color;

  @include type($type);

  &:focus,
  &:hover {
    text-decoration: underline rgba($color, 0.5) !important;
  }

  @include respond-to(laptop) {
    text-decoration: none !important;
  }
}
