@import 'variables';
@import 'scss/mixins';
@import 'functions';

@mixin respond-to($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    $value: nth(map-get($breakpoints, $breakpoint), 1);

    @media screen and (min-width: $value) {
      @content;
    }
  }
}

@mixin type($level: 0) {
  font-size: type-scale($level);
  line-height: $line-height;
}

@mixin animation($variables...) {
  animation: $variables;
}

@mixin transition($variables...) {
  transition: $variables;
}

@mixin link($color: $link-color, $type: 0) {
  color: $color;
  text-decoration: none !important;
  padding-bottom: 2px;
  border-bottom: 1px solid rgba($color, 0.5);
  transition: border-color 0.3s $function, color 0.3s $function;

  @include type($type);

  &:focus,
  &:hover {
    color: $theme-color;
    border-color: $theme-color;
  }
}
