@import './variables';
@import './mixins';

.navbar {
  background-color: rgba($light-color, 0.95);
  color: rgba(0, 0, 0, 0.87);
  overflow-y: auto;
  max-height: 100vh;
  align-items: start;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;

  @include respond-to(laptop) {
    position: absolute;
    background-color: transparent;
  }

  .navbar-wrapper {
    width: 100%;
    display: flex;
    align-items: center;

    > div {
      flex-basis: 33.333333%;

      @include respond-to(laptop) {
        flex-basis: auto;
      }
    }
  }

  a {
    color: rgba(0, 0, 0, 0.87);

    &.nav-link {
      text-transform: uppercase;
      letter-spacing: 1px;

      &:not(.navbar-brand) {
        padding: 1rem;
      }

      &:hover,
      &:focus,
      &:active {
        color: rgba(0, 0, 0, 0.5);
      }

      @include respond-to(laptop) {
        color: rgb(250, 250, 250);

        &:not(.navbar-brand) {
          padding-left: 1rem !important;
          padding-right: 1rem !important;
        }

        &:hover,
        &:focus {
          color: rgba(250, 250, 250, 0.7);
        }
      }
    }
  }

  .navbar-toggler {
    color: rgba(0, 0, 0, 0.87);

    &:focus {
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  .navbar-brand {
    margin: 0;

    img {
      height: 70px;
      width: 70px;
      font-size: 1rem;
      transition: height 0.3s, width 0.3s;

      @include respond-to(laptop) {
        height: 100px;
        width: 100px;
      }
    }
  }

  .navbar-collapse {
    text-align: center;
  }

  @media screen and (max-width: 991px) {
    &.sticky {
      background-color: $light-color;

      .navbar-brand {
        img {
          height: 40px;
          width: 40px;

          @include respond-to(laptop) {
            height: 50px;
            width: 50px;
          }
        }
      }
    }
  }
}
