//Breakpoints
$breakpoints: (
  handheld: 576px 540px,
  tablet: 768px 720px,
  laptop: 992px 960px,
  desktop: 1200px 1140px
);

//Colors
$white-color: #fafafa;
$body-bg-color: #d1d1d1;
$light-text-color: $white-color;
$secondary-light-text-color: #e1e1e1;
$dark-text-color: rgba(0, 0, 0, 0.87);
$secondary-dark-text-color: rgba(0, 0, 0, 0.56);
$theme-color: #e9e9d3;

//Typography
$font-family: 'Fira Sans', sans-serif;
$heading-font-weight: 500;
$font-weight: 400;
$font-size: 1.125rem;

//Animation
$function: cubic-bezier(0.6, 0, 0.4, 1);

//Card
$card-bg: $light-text-color;
