extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append content
  //Content
  div(id='content')
    div(class='container')
      div(class='row')
        div(class='col-12')
          div(class='card card-page')
            div(class='card-body')
              h2(class='card-title text-center')
                | Реквизиты для перечисления платежей
              p(class='card-text')
                | ООО «Технологии управления»
              p(class='card-text')
                | ИНН 7816450800
                br
                | КПП 781301001
              p(class='card-text')
                | БАНК: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК Г. САНКТ-ПЕТЕРБУРГ
                br
                | БИК 044030653
                br
                | К/С 30101810500000000653
                br
                | Р/С 40702.810.5.55000034772
              p(class='card-text font-weight-bold mb-0')
                | В назначении платежа указать:
                br
                | «Оплата за участие в мероприятии ___(указать дату мероприятия)___. НДС не облагается»
