extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.requisites.title
    title= pages.requisites.title
  if pages.requisites.description
    meta(name='description', content= pages.requisites.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/requisites/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~requisites/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append content
  +pageTitle(pages.requisites)
  section#content
    .content-wrap
      .container
        .row
          div(class='col-12')
            div(class='card mb-0 border-0')
              div(class='card-body p-sm-4')
                h2(class='card-title text-center mb-sm-4')
                  | Реквизиты для перечисления платежей
                p(class='card-text lead mb-4')
                  | ООО «Технологии управления»
                p(class='card-text lead mb-4')
                  | ИНН 7816450800
                  br
                  | КПП 781301001
                p(class='card-text lead mb-4')
                  | БАНК: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК Г. САНКТ-ПЕТЕРБУРГ
                  br
                  | БИК 044030653
                  br
                  | К/С 30101810500000000653
                  br
                  | Р/С 40702.810.5.55000034772
                p(class='card-text lead font-weight-bold')
                  | В назначении платежа указать:
                  br
                  | «Оплата за участие в танцевальном мероприятии, МК Софа. НДС не облагается»
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/requisites/i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~requisites/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
