extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.requisites.title
    title= pages.requisites.title
  if pages.requisites.description
    meta(name='description', content= pages.requisites.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/requisites/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~requisites/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.requisites)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row')
        div(class='col-12')
          div(class='card')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title text-center')
                | Реквизиты для перечисления платежей
              p(class='card-text')
                | ООО «Технологии управления»
              p(class='card-text')
                | ИНН 7816450800
                br
                | КПП 781301001
              p(class='card-text mb-2')
                | БАНК: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК Г. САНКТ-ПЕТЕРБУРГ
                br
                | БИК 044030653
                br
                | К/С 30101810500000000653
                br
                | Р/С 40702.810.5.55000034772
              p(class='card-text font-weight-bold')
                | В назначении платежа указать:
                br
                | «Оплата за участие в танцевальном мероприятии, МК Софа. НДС не облагается»
//-SCRIPTS
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/requisites/i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~requisites/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
