extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.requisites.title
    title= pages.requisites.title
  if pages.requisites.description
    meta(name='description', content= pages.requisites.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /requisites\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.requisites)
//-CONTENT
append content
    //Content
    div(id='content')
      //Container
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /requisites\./i)

