extends ../../templates/layout
append variables
    - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
    //Page meta tags
    title= pages.requisites.title
    meta(name='description', content= pages.requisites.description)
append icons
    //Page icons
append styles
    //Page styles
//-BODY
append header
    +header(primaryNavigation.items)
append content
    +pageTitle(pages.requisites)
    section#content
        .content-wrap
            .container
                .row
                    .col-sm-12
                        div.requires-wrapper
                            h3 Реквизиты для перечисления платежей:
                            p.
                                ООО «Технологии управления»
                            p.
                                ИНН 7816450800<br>
                                КПП 781301001
                            p.
                                БАНК: СЕВЕРО-ЗАПАДНЫЙ БАНК ПАО СБЕРБАНК Г. САНКТ-ПЕТЕРБУРГ<br>
                                БИК 044030653<br>
                                К/С 30101810500000000653<br>
                                Р/С 40702.810.5.55000034772
                            p
                             b.
                              В назначении платежа указать:<br>
                              «Оплата за участие в танцевальном мероприятии, МК Софа. НДС не облагается»
append scripts
    //Page scripts
