extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.eventsboard.title
  meta(name='description', content= pages.eventsboard.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/eventsboard/i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~eventsboard/i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append content
  +pageTitle(pages.eventsboard)
  section#content
    //TODO: 'Изменить стиль на card'
    .content-wrap
      .events-wrapper
        .container
          .row
            .col-sm-12
              .event
                div.event-image
                  a(href= pages.sofaMakurinaMasterClass.link)
                    //TODO: 'Добавить новые фото'
                    img(src= require('../../images/events/sofa-makurina-master-class/sofa-makurina-master-class.jpg'), alt= 'Мастер-класс Софы Макуриной | Над Дождём')
                    .event-date
                      span 28
                      span Октября
                .event-content
                  .event-title
                    a(href= pages.sofaMakurinaMasterClass.link)
                      h3
                        span
                          |Мастер-класс
                          br
                          |Софы Макуриной
                  .event-excerpt
                    p
                      |Впервые в САНКТ-ПЕТЕРБУРГЕ!
                      br
                      |28 октября 2018
                      br
                      |В Танцевальном замке "НАД&nbsp;ДОЖДЁМ" пройдет МАСТЕР-КЛАСС горячей, космической и неординарной СОФЫ&nbsp;МАКУРИНОЙ.
                      br
                      a(href="https://vk.com/naddozhdem")
                        span
                          b https://vk.com/naddozhdem
                      br
                      |Приглашаем на авторские классы Софы с её дерзкой, но очень чувственной хореографией.
                      br
                      a(href='requisites.html')
                        span
                          b Реквизиты для оплаты
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/eventsboard/i) !== -1
      script(type='text/javascript', src= jsFile)
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~eventsboard/i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
