@import '../../styles/variables';
@import '../../styles/mixins';

a span {
  color: $theme-color !important;
}

.event-title {
  text-transform: uppercase;
}

.single-post {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  padding: 20px;
}

h2 {
  margin-bottom: 1em !important;
}

p {
  line-height: 1.8 !important;
}

.entry-image {
  margin-bottom: 1em;

  @include respond-to(laptop) {
    margin-bottom: 3em;
  }
}

.entry-content {
  margin-bottom: 1em;
}
