@import '../../styles/variables';
@import '../../styles/mixins';

@font-face {
  font-family: 'hercules_modern';
  src:
    url('../../fonts/hercules_modern/hercules_modern.woff2') format('woff2'),
    url('../../fonts/hercules_modern/hercules_modern.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes inUp {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

.in-up-animation {
  animation-name: inUp;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

html,
body {
  height: 100%;
}

html {
  &.fon-loaded {
    &::before {
      background-image: url('../../images/fon/mobile-index-fon.jpg');
    }

    @include respond-to(laptop) {
      &::before {
        background-image: url('../../images/fon/laptop-index-fon.jpg');
      }
    }
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
    &.fon-loaded {
      &::before {
        background-image: url('../../images/fon/mobile-index-fon@2x.jpg');
      }

      @include respond-to(laptop) {
        &::before {
          background-image: url('../../images/fon/laptop-index-fon@2x.jpg');
        }
      }
    }
  }
}

#wrapper {
  position: relative;
  height: 100%;

  .caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    padding-top: 80px;

    @include respond-to(laptop) {
      width: 960px;
      padding-top: 0;
      top: auto;
      bottom: 10vw;
      transform: translateX(-50%) translateY(0);
    }

    @include respond-to(desktop) {
      width: 1140px;
    }

    h1 {
      font-family: 'hercules_modern', serif;
      text-transform: uppercase;
      text-align: center;
      font-size: calc(24px + 3vw);
      margin: 0;
      line-height: 1;

      > div {
        display: block;
        overflow: hidden;

        > span {
          display: inline-block;

          @include respond-to(laptop) {
            animation-fill-mode: forwards;
            transform: translateY(100%);
          }
        }

        &:last-child > span {
          animation-delay: 0.2s;
        }
      }

      @media screen and (min-width: 2000px) {
        font-size: 70px;
      }

      @include respond-to(laptop) {
        text-align: left;
      }
    }
  }

  .phone {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    z-index: 1;

    a {
      display: inline-block;
      color: rgb(250, 250, 250);
      padding: 0.25rem 0.75rem;

      &:focus {
        outline: 5px auto -webkit-focus-ring-color !important;
      }
    }

    @include respond-to(laptop) {
      display: none;
    }
  }

  .navbar {
    @include respond-to(laptop) {
      position: fixed;
    }
  }
}
