extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append meta
  if server === "prod"
    meta(name='google-site-verification', content='Gc5zQB4yQ5s8ZvDI5WoD2yXp5Hrza3OmX-qsy8A2hig')
    meta(name='yandex-verification', content='f196debf2583cee4')
append content
  <!--CAPTION-->
  div(class='caption')
    div(class='container')
      div(class='row')
        div(class='col-12')
          h1
            div
              span Школа&nbsp;танцев
            div
              span «Над&nbsp;дождём»
  <!--PHONE-->
  div(class='phone')
    a(href= `tel:${data.options.phone}`)
      i(class='fas fa-phone-square fa-3x')
