extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.index.title
    title= pages.index.title
  if pages.index.description
    meta(name='description', content= pages.index.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /index\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-CONTENT
append content
  //Content
  <!--CAPTION-->
  div(class='caption')
    div(class='container')
      div(class='row')
        div(class='col-12')
          h1
            div
              span Школа&nbsp;танцев
            div
              span «Над&nbsp;дождём»
  <!--PHONE-->
  div(class='phone')
    a(href= `tel:${contacts.phone}`)
      i(class='fas fa-phone-square fa-3x')
//-FOOTER
block footer
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /index\./i)
