extends ../../templates/layout
append variables
  - const { common, options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${common.name} | ${pages.index.title}`
  if pages.index.description
    meta(name='description', content= pages.index.description)
  else
    meta(name='description', content= common.description)
  if pages.index.keys
    meta(name='keywords', content= pages.index.keys)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items, className='index')
append content
  //Primary Slider
  section#slider.slider-element.slider-parallax.swiper_wrapper.full-screen.force-full-screen.clearfix(data-effect="fade" data-loop="true" data-speed="1000" data-autoplay="5000" data-grab="false")
    .slider-parallax-inner
      .swiper-container.swiper-parent
        .swiper-wrapper
          //Slide-1
          .swiper-slide.slide-1
            .overlay
            .container.clearfix
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
          //Slide-2
          .swiper-slide.slide-2
            .overlay
            .container
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
          //Slide-3
          .swiper-slide.slide-3
            .overlay
            .container
              .slide-wrapper
                .slider-caption
                  div
                    h3(data-caption-animate="slide") Время твоего
                  div
                    h3(data-caption-animate="slide" data-caption-delay="200") превосходства
        //Phone icon
        #slider-phone
          a(href=`tel:${options.sliderPhone}`)
            i.i-circled.i-light.icon-call
block footer
append scripts
  //Page scripts
