extends ../../templates/includes/layout
block head
  include ../../templates/includes/head
  title Над Дождем
  meta(name="description"
       content="Многофункциональное творческое пространство самовыражения для души и тела. Которое объединяет в себя танцы, музыку и творческую часть души в единое целое.")
  block icons
    include ../../templates/includes/icons
  block styles
    include ../../templates/includes/styles
block body
  #wrapper.clearfix
    block header
    h1 Над дождем
    block content
    block footer
  block scripts
    include ../../templates/includes/scripts