extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.index.title
    title= pages.index.title
  if pages.index.description
    meta(name='description', content= pages.index.description)
  if htmlWebpackPlugin.options.vars.seo
    meta(name='google-site-verification', content='Gc5zQB4yQ5s8ZvDI5WoD2yXp5Hrza3OmX-qsy8A2hig')
    meta(name='yandex-verification', content='f196debf2583cee4')
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/index\./i) !== -1
      link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-CONTENT
append content
  //Content
  <!--PRIMARY SLIDER-->
  div(id='abovetherain__primary-slider', class='carousel slide carousel-fade', data-ride='carousel', data-pause='false', data-interval='7000')
    <!--ИНДИКАТОРЫ-->
    ol(class='carousel-indicators')
      li(data-target='#abovetherain__primary-slider', data-slide-to='0', class='active')
      li(data-target='#abovetherain__primary-slider', data-slide-to='1')
      li(data-target='#abovetherain__primary-slider', data-slide-to='2')
    <!--СЛАЙДЫ-->
    div(class='carousel-inner')
      <!--SLIDE 1-->
      div(class='carousel-item active')
        div(class='carousel-image')
        div(class='carousel-caption')
          h1(class='h3 text-uppercase') Школа танцев в&nbsp;Санкт&#8209;Петербурге «Над&nbsp;дождём»
          p(class='d-none d-lg-block') Мини-группы до&nbsp;3&nbsp;человек и&nbsp;просторный зал&nbsp;90&nbsp;м<sup>2</sup>
      <!--SLIDE 2-->
      div(class='carousel-item')
        div(class='carousel-image')
        div(class='carousel-caption')
          h2(class='h3 text-uppercase') Раскройте свою силу и&nbsp;красоту с&nbsp;помощью танцев
          p(class='d-none d-lg-block') Наслаждайтесь движением своего&nbsp;тела
      <!--SLIDE 3-->
      div(class='carousel-item')
        div(class='carousel-image')
        div(class='carousel-caption')
          h2(class='h3 text-uppercase') Погрузитесь в&nbsp;дружескую атмосферу и&nbsp;получайте удовольствие
          p(class='d-none d-lg-block') Профессиональное&nbsp;световое и&nbsp;звуковое&nbsp;оборудование, теплый&nbsp;пол, быстровозводимая&nbsp;сцена, акустический&nbsp;потолок
      <!--СТРЕЛКИ-->
      a(class='carousel-control-prev carousel-controls', href='#abovetherain__primary-slider', role='button', data-slide='prev')
        span(class='carousel-control-prev-icon' aria-hidden='true')
        span(class='sr-only') Назад
      a(class='carousel-control-next carousel-controls' href='#abovetherain__primary-slider' role='button' data-slide='next')
        span(class='carousel-control-next-icon' aria-hidden='true')
        span(class='sr-only') Вперед
      <!--PHONE-->
      div(class='phone')
        a(href= `tel:${contacts.phone}`)
          i(class='fas fa-phone-square fa-3x')
//-FOOTER
block footer
//-SCRIPTS
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/index\./i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
