extends ../../templates/layout
block meta
  //Page meta tags
  title Над Дождем
  meta(name="description"
       content="Многофункциональное творческое пространство самовыражения для души и тела. Которое объединяет в себя танцы, музыку и творческую часть души в единое целое.")
block icons
  //Page icons
block styles
  //Page styles
block header
block content
block footer
block scripts
  //Page scripts
