@import '../../styles/variables';
@import '../../styles/mixins.scss';

body {
  overflow: hidden;
}

#slider {
  .overlay {
    background-color: rgba(0, 0, 0, 0.4);
  }

  #slider-phone {
    position: absolute;
    bottom: 25px;
    right: 25px;
    z-index: 10;
    transition: transform 0.3s ease-out;

    &:focus,
    &:hover {
      transform: scale(1.1) !important;
    }

    i {
      box-shadow: rgba(0, 0, 0, 0.75) 0 0 6px !important;
    }
  }

  .slider-caption {
    position: relative;
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
    left: 0;
    right: 0;

    @include respond-to(desktop) {
      margin-top: 10%;
    }

    h2 {
      font-family: $heading-font-family;
      font-weight: $heading-font-weight;
      line-height: 1.333 !important;
    }

    p {
      font-family: $font-family;
      font-weight: $font-weight;
    }
  }
}
