extends ../../templates/layout

//-HEAD
block meta
  //Page meta tags
  title Над Дождем
  meta(name="description"
       content="Многофункциональное творческое пространство самовыражения для души и тела. Которое объединяет в себя танцы, музыку и творческую часть души в единое целое.")
block icons
  //Page icons
block styles
  //Page styles

//-BODY
block content
  //Page content
  //Primary Slider
  section#slider.slider-element.swiper_wrapper.full-screen.force-full-screen.clearfix(data-effect="fade" data-loop="true" data-speed="1500" data-autoplay="5000")
    .slider-parallax-inner
      .swiper-container.swiper-parent
        .swiper-wrapper
          //Slide-1
          .swiper-slide.dark(style={
            background: "url(images/slide-1.jpg) 50% 50% / cover no-repeat"
          })
            .overlay
            .container.clearfix
              .slider-caption.slider-caption-center.slide-1
                h2 Над дождём
                p Время твоего превосходства
          //Slide-2
          .swiper-slide.dark(style={
            background: "url(images/slide-2.jpg) 50% 50% / cover no-repeat"
          })
            .overlay
            .container.clearfix
              .slider-caption.slider-caption-center.slide-2
                h2 Над дождём
                p Время твоего превосходства
          //Slide-3
          .swiper-slide.dark(style={
            background: "url(images/slide-1.jpg) 50% 50% / cover no-repeat"
          })
            .overlay
            .container.clearfix
              .slider-caption.slider-caption-center.slide-3
                h2 Над дождём
                p Время твоего превосходства
block footer
block scripts
  //Page scripts
