extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, contacts } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.index.title
    title= pages.index.title
  if pages.index.description
    meta(name='description', content= pages.index.description)
  if htmlWebpackPlugin.options.vars.seo
    meta(name='google-site-verification', content='Gc5zQB4yQ5s8ZvDI5WoD2yXp5Hrza3OmX-qsy8A2hig')
    meta(name='yandex-verification', content='f196debf2583cee4')
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /index\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-CONTENT
append content
  //Content
  <!--CAPTION-->
  div(class='caption')
    div(class='container')
      div(class='row')
        div(class='col-12')
          h1 Школа танцев в&nbsp;Санкт&#8209;Петербурге «Над&nbsp;дождём»
  <!--PHONE-->
  div(class='phone')
    a(href= `tel:${contacts.phone}`)
      i(class='fas fa-phone-square fa-3x')
//-FOOTER
block footer
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /index\./i)
