@import '../../../styles/variables';
@import '../../../styles/mixins';

.card {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: $box-shadow;
  border-radius: 0;

  p {
    line-height: 1.8 !important;
  }

  .image-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 100%;

    img {
      background-color: #f0f0f0;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      color: $new-normal-text-color;
    }
  }

  .card-img-top {
    border-radius: 0;
  }
  //FIXME: 'Перенести цвет фона в .card'
  .card-body {
  }

  a {
    font-family: $heading-font-family;
    color: $light-color;
    text-decoration: underline rgba($light-color, 0.5) !important;
  }

  .card-title {
    @include type(1);

    @include respond-to(handheld) {
      @include type(2);
    }
  }

  .card-subtitle {
    display: block;
    font-family: $heading-font-family;

    @include type(0);
  }
}

blockquote {
  border-left: 5px solid $light-color !important;
}
