@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/card';

.card {
  @include img-container(100%);

  p {
    span {
      font-weight: 500;
    }

    &.card-text {
      text-indent: 1em;
    }
  }

  blockquote {
    border: none;

    .blockquote-footer {
      color: $secondary-text-color;
    }

    p {
      font-size: 1.125rem;
      font-style: italic;
    }
  }
}
