extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.sofaMakurinaMasterClass.title
    title= pages.sofaMakurinaMasterClass.title
  if pages.sofaMakurinaMasterClass.descsription
    meta(name='description', content= pages.sofaMakurinaMasterClass.descsription)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /event\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.sofaMakurinaMasterClass)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Фото 1
            div(class='image-container')
              img(class='card-img-top', src= require('../../../images/events/sofa-makurina-master-class/002-sofa-makurina-master-class-600x600.jpg'), srcset= require('../../../images/events/sofa-makurina-master-class/002-sofa-makurina-master-class-600x600.jpg') + ' 600w,' + require('../../../images/events/sofa-makurina-master-class/002-sofa-makurina-master-class-800x800.jpg') + ' 800w, ' + require('../../../images/events/sofa-makurina-master-class/002-sofa-makurina-master-class-1200x1200.jpg') + ' 1200w', alt='Мастер-класс Софы Макуриной | Над Дождём')
            //Текст 1
            div(class='card-body')
              p(class='card-text')
                | Мы знаем Софу как яркую и харизматичную танцовщицу, не знающую преград и сомнений.
              p(class='card-text')
                | Софа является одним из основателей и наставником Pole Art пространства Sofa Dance.
              p(class='card-text mb-0')
                | С интересом наблюдая за ней возникает желание раскрыть ее загадочный и таинственный образ.
            //Фото 2
            div(class='image-container')
              img(class='card-img-top', src= require(
                '../../../images/events/sofa-makurina-master-class/003-sofa-makurina-master-class-600x600.jpg'), srcset= require(
                '../../../images/events/sofa-makurina-master-class/003-sofa-makurina-master-class-600x600.jpg') +
              ' 600w,' + require(
                '../../../images/events/sofa-makurina-master-class/003-sofa-makurina-master-class-800x800.jpg') +
              ' 800w, ' + require(
                '../../../images/events/sofa-makurina-master-class/003-sofa-makurina-master-class-1200x1200.jpg') +
              ' 1200w', alt='Мастер-класс Софы Макуриной | Над Дождём')
            //Текст 2
            div(class='card-body')
              p(class='card-text')
                | Когда человек полностью контролирует свое тело, его движения завораживают и приводят в восторг. Грациозная и гибкая, словно кошка, - такой мы видим Софу сейчас. А начиналось всё со студии в Новосибирске.
              blockquote(class='blockquote')
                p(class='card-text')
                  | &laquo;Моя подружка была гимнасткой, и я мечтала о такой же растяжке, как у неё! Цель была поставлена, студия найдена! Но (к счастью ) так вышло, что помимо растяжки в студии преподавали Pole Sport. Через год занятий я решилась выступить на соревнованиях Кубка Сибири в номинации "Pole Art". А вот дальше было самое интересное)) Судьям не понравилось моё выступление, уж "слишком пластичное" оно оказалось. Во избежание дисквалификации меня перевели в категорию "Exot"! Не смотря на то, что выступала я босиком - заняла первое место) Ну и понеслась жара...)))&raquo;
                footer(class='blockquote-footer')
                  cite(title='Софа Макурина') Софа Макурина
            //Фото 3
            div(class='image-container')
              img(class='card-img-top', src= require(
                '../../../images/events/sofa-makurina-master-class/004-sofa-makurina-master-class-600x600.jpg'), srcset= require(
                '../../../images/events/sofa-makurina-master-class/004-sofa-makurina-master-class-600x600.jpg') +
              ' 600w,' + require(
                '../../../images/events/sofa-makurina-master-class/004-sofa-makurina-master-class-800x800.jpg') +
              ' 800w, ' + require(
                '../../../images/events/sofa-makurina-master-class/004-sofa-makurina-master-class-1200x1200.jpg') +
              ' 1200w', alt='Мастер-класс Софы Макуриной | Над Дождём')
            //Текст 3
            div(class='card-body')
              blockquote(class='blockquote')
                p(class='card-text')
                  | &laquo;Для меня из слабых сторон являются только травмы, которые практически всегда меня преследуют и сменяются одна за другой. Но я думаю, что это только закаляет, и организм тебе подсказывает, когда нужно отдохнуть. А, потом с новыми силами в бой с предрассудками.&raquo;
                footer(class='blockquote-footer')
                  cite(title='Софа Макурина') Софа Макурина
            //Фото 4
            div(class='image-container')
              img(class='card-img-top', src= require(
                '../../../images/events/sofa-makurina-master-class/005-sofa-makurina-master-class-600x600.jpg'), srcset= require(
                '../../../images/events/sofa-makurina-master-class/005-sofa-makurina-master-class-600x600.jpg') +
              ' 600w,' + require(
                '../../../images/events/sofa-makurina-master-class/005-sofa-makurina-master-class-800x800.jpg') +
              ' 800w, ' + require(
                '../../../images/events/sofa-makurina-master-class/005-sofa-makurina-master-class-1200x1200.jpg') +
              ' 1200w', alt='Мастер-класс Софы Макуриной | Над Дождём')
            //Текст 4
            div(class='card-body')
              blockquote(class='blockquote')
                p(class='card-text')
                  | &laquo;Мои источники вдохновения - это музыка (пожалуй, главный родник), места, события в жизни... И люди, зачастую не из моего ближнего круга общения, а совершенно иные, с другой профессией, другого нрава. На которых я смотрю и думаю: "Господи, какими же талантливыми надо быть, чтобы делать такое..." А в ответ я получаю похожие эмоции от них.
                  br
                  | Мы друг для друга являемся чем-то новым и необычным, и нас это вдохновляет)
                  br
                  | В моём окружении все больше и больше духовно близких людей.
                  br
                  | Ну и Музыка, конечно, даже на разминке я должна чувствовать ритмы, нечто, от чего внутри всё начинает шевелиться.&raquo;
                footer(class='blockquote-footer')
                  cite(title='Софа Макурина') Софа Макурина
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /event\./i)
