extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.trainingOfRomanLyashenko.title
    title= pages.trainingOfRomanLyashenko.title
  if pages.trainingOfRomanLyashenko.descsription
    meta(name='description', content= pages.trainingOfRomanLyashenko.descsription)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /event\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.trainingOfRomanLyashenko)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Фото 1
            div(class='image-container', style="padding-top: 133.333%")
              img(class='card-img-top', src= require('../../../images/events/training-of-roman-lyashenko/002-training-of-roman-lyashenko-600x800.jpg'), srcset= require('../../../images/events/training-of-roman-lyashenko/002-training-of-roman-lyashenko-600x800.jpg') + ' 600w,' + require('../../../images/events/training-of-roman-lyashenko/002-training-of-roman-lyashenko-800x1066.jpg') + ' 800w, ' + require('../../../images/events/training-of-roman-lyashenko/002-training-of-roman-lyashenko-1200x1600.jpg') + ' 1200w', alt='Тренинг Романа Ляшенко | Над Дождём')
            //Текст 1
            div(class='card-body')
              p(class='card-text')
                | 🚀🚀🚀Программа развития гибкости или новый уровень общения со своим телом.
              p(class='card-text')
                | 🤸🏻‍♂Если вы хотите стать опытным и уважаемым педагогом по растяжке!
                br
                | 😊Чувствовать и правильно понимать сигналы вашего тела!
                br
                | 🤸🏻‍♂Сделать своих клиентов более гибкими и с хорошей растяжкой мышц!
                br
                | 🏃Заинтересовать ваших учеников и сделать растяжку любимым , осознанным занятием!
                br
                | 🤓Быть увереннее в своих знаниях во время консультаций!
              p(class='card-text')
                | ⚡⚡Подарите себе уникальную возможность узнать все секреты эффективной растяжки, гибкости и эластичности мышц.
              p(class='card-text')
                | Тренинг по развитию гибкости проводит😎 Роман Ляшенко г. Москва - опытный фитнес - тренер и профессиональный массажист.
              ul
                li Обучение длится 8 часов (с 11.00 до 18.00). 20% теории, 80% практики
                li В ходе обучения предусмотрен один перерыв на обед (1 ч) и кофе-брейки каждые 1.5-2 часа по 15 мин.
                li С 11.00 второго дня обучения будет проводиться итоговая сдача материала по желанию, индивидуальные консультации и сеансы😊 массажа.
              p(class='card-text')
                | 📍1 день обучения группа не больше 17 учеников.
                br
                | 📍2 день группа не больше 5 участников.
              p(class='card-text')
                | На тренинге вы узнаете...
              ul(style='list-style-type: none;')
                li ✏ Секреты правильной диагностики , учитывая индивидуальные анатомические и физиологические особенности клиентов.
                li ✏ Как планировать разминку, чтобы она была ,максимально, короткой но эффективной.
                li ✏ Как выдержать растягивающие воздействия без травматизации.
                li ✏ Сформируете комплексный подход к работе с разными анатомическими структурами: мышцами , сухожилиями и связками.
                li ✏ Поймёте ,что такое суставное мышление.
                li ✏ Почувствуете на личном примере выполнение упражнений по методам: антагонистический , агонистический , PNF.
                li ✏ Узнаете эффективный способ снятия последствий неконтролируемых спазмов и напряжений мышц.
                li ✏ Поймёте правила и ошибки при выполнении упражнений на повышение эластичности сухожильных структур, как наиболее часто травмируемых.
                li ✏ Будете отличать ,где необходимо изучение и проработка простых комплексов и методов растяжки.
                li ✏ Познакомитесь с тонкостями эргономики во время парной работы.
              p(class='card-text')
                | 📍 Стоимость 8-ми часового тренинга 30.03- 5 800.
              p(class='card-text')
                | Программа лояльности включает:
                br
                | - 250 за репост в социальных сетях.
                br
                | - 1000 за своевременную оплату тренинга.
              p(class='card-text')
                a(href='https://vk.com/@naddozhdem-anatomiya-rastyazhki') Подробнее о программе развития гибкости
              p(class='card-text')
                a(href='requisites.html') Реквизиты для оплаты
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /event\./i)
