table.schedule-table
  thead
  tr
    th.schedule-day
    th.schedule-day Понедельник
    th.schedule-day Вторник
    th.schedule-day Среда
    th.schedule-day Четверг
    th.schedule-day Пятница
    th.schedule-day Суббота
    th.schedule-day Воскресенье
  tbody
  tr
    td.schedule-time 10:00
    td
    td.schedule-event.schedule-direction-1(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
      span.schedule-interval 10:00-11:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td.schedule-event.schedule-direction-1(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
      span.schedule-interval 10:00-11:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td.schedule-event.schedule-direction-1(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
      span.schedule-interval 10:00-11:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
    td.schedule-event.schedule-direction-1(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
      span.schedule-interval 10:00-11:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
  tr
    td.schedule-time 10:30
    td
    td
    td
  tr
    td.schedule-time 11:00
    td
    td
    td
    td
    td
    td
    td
  tr
    td.schedule-time 11:30
    td
    td
    td
    td
    td
    td
    td
  tr
    td.schedule-time 12:00
    td.schedule-event.schedule-direction-2(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-2.html") Воздушное полотно
      span.schedule-interval 12:00-13:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td.schedule-event.schedule-direction-2(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-2.html") Воздушное полотно
      span.schedule-interval 12:00-13:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
    td.schedule-event.schedule-direction-2(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-2.html") Воздушное полотно
      span.schedule-interval 12:00-13:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
    td
    td
  tr
    td.schedule-time 12:30
    td
    td
    td
    td
  tr
    td.schedule-time 13:00
    td
    td
    td
    td
    td
    td
    td
  tr
    td.schedule-time 13:30
    td
    td
    td
    td
    td
    td.schedule-event.schedule-direction-3(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-3.html") Йога
      span.schedule-interval 13:30-14:30
      a.schedule-coach(data-ajax href="data/team/team-2.html") Михаил
    td
  tr
    td.schedule-time 14:00
    td.schedule-event.schedule-direction-4(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
      span.schedule-interval 14:00-15:00
      a.schedule-coach(data-ajax href="data/team/team-2.html") Алексей
    td
    td
    td.schedule-event.schedule-direction-4(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
      span.schedule-interval 14:00-15:00
      a.schedule-coach(data-ajax href="data/team/team-2.html") Алексей
    td
    td
  tr
    td.schedule-time 14:30
    td
    td
    td
    td
    td
  tr
    td.schedule-time 15:00
    td.schedule-event.schedule-direction-4(rowspan="3")
      a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
      span.schedule-interval 15:00-16:30
      a.schedule-coach(data-ajax href="data/team/team-2.html") Алексей
    td
    td
    td.schedule-event.schedule-direction-4(rowspan="3")
      a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
      span.schedule-interval 15:00-16:30
      a.schedule-coach(data-ajax href="data/team/team-2.html") Алексей
    td
    td
    td
  tr
    td.schedule-time 15:30
    td
    td
    td
    td
    td
  tr
    td.schedule-time 16:00
    td
    td
    td
    td.schedule-event.schedule-direction-5(rowspan="3")
      a.schedule-title(data-ajax href="data/directions/direction-5.html") Зумба
      span.schedule-interval 16:00-17:30
      a.schedule-coach(data-ajax href="data/team/team-2.html")
    td
  tr
    td.schedule-time 16:30
    td
    td
    td
    td
    td
    td
  tr
    td.schedule-time 17:00
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 17:00-18:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
    td.schedule-event.schedule-direction-3(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-3.html") Йога
      span.schedule-interval 17:00-18:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Михаил
    td
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 17:00-18:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
  tr
    td.schedule-time 17:30
    td
    td
    td
    td
  tr
    td.schedule-time 18:00
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 18:00-19:00
      a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    td
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 18:00-19:00
      a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    td
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 18:00-19:00
      a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    td
    td
  tr
    td.schedule-time 18:30
    td
    td
    td
    td
  tr
    td.schedule-time 19:00
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 19:00-20:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td.schedule-event.schedule-direction-5(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-5.html") Зумба
      span.schedule-interval 19:00-20:00
      a.schedule-coach(data-ajax href="data/team/team-4.html")
    td
    td
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 19:00-20:00
      a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    td
    td
  tr
    td.schedule-time 19:30
    td
    td
    td
    td
  tr
    td.schedule-time 20:00
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 20:00-21:00
      a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    td
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 20:00-21:00
      a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    td
    td.schedule-event.schedule-direction-6(rowspan="2")
      a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
      span.schedule-interval 20:00-21:00
      a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    td
    td
  tr
    td.schedule-time 20:30
    td
    td
    td
    td