include ../../templates/mixins/schedule-event
//Обычная
table.schedule-table(data-selected="all")
  thead
    tr
      th.schedule-day
      th.schedule-day Понедельник
      th.schedule-day Вторник
      th.schedule-day Среда
      th.schedule-day Четверг
      th.schedule-day Пятница
      th.schedule-day Суббота
  tbody
    //9:00
    tr
      td.schedule-time 9:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //9:30
    tr
      td.schedule-time 9:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //10:00
    tr
      td.schedule-time 10:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //10:30
    tr
      td.schedule-time 10:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //11:00
    tr
      td.schedule-time 11:00
      //Понедельник
      +schedule-event('2', directions.zumbaFitness, coaches.aleksandrUshakov, 'monday', '11:00', '12:00', 'Открытая группа')
      //Вторник
      td
      //Среда
      td
      //Четверг
      +schedule-event('2', directions.zumbaStrong, coaches.aleksandrUshakov, 'thursday', '11:00', '12:00', 'Открытая группа')
      //Пятница
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'friday', '11:00', '12:00')
      //Суббота
      td
    //11:30
    tr
      td.schedule-time 11:30
      //Понедельник
      //Вторник
      td
      //Среда
      td
      //Четверг
      //Пятница
      //Суббота
      td
    //12:00
    tr
      td.schedule-time 12:00
      //Понедельник
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'monday', '12:00', '13:00', 'Открытая группа')
      //Вторник
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'tuesday', '12:00', '13:00', 'Открытая группа')
      //Среда
      td
      //Четверг
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'thursday', '12:00', '13:00', 'Открытая группа')
      //Пятница
      td
      //Суббота
      td
    //12:30
    tr
      td.schedule-time 12:30
      //Понедельник
      //Вторник
      //Среда
      td
      //Четверг
      //Пятница
      td
      //Суббота
      td
    //13:00
    tr
      td.schedule-time 13:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //13:30
    tr
      td.schedule-time 13:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //14-00
    tr
      td.schedule-time 14:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //14:30
    tr
      td.schedule-time 14:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
    //15:00
    tr
      td.schedule-time 15:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //15:30
    tr
      td.schedule-time 15:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
    //16:00
    tr
      td.schedule-time 16:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //16:30
    tr
      td.schedule-time 16:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
    //17:00
    tr
      td.schedule-time 17:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //17:30
    tr
      td.schedule-time 17:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //18:00
    tr
      td.schedule-time 18:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //18:30
    tr
      td.schedule-time 18:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //19:00
    tr
      td.schedule-time 19:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //19:30
    tr
      td.schedule-time 19:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //20:00
    tr
      td.schedule-time 20:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //20:30
    tr
      td.schedule-time 20:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //21:00
    tr
      td.schedule-time 21:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
    //21:30
    tr
      td.schedule-time 21:30
      //Понедельник
      td
      //Вторник
      td
      //
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
//Мобильная
//Понедельник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.zumba-fitness.aleksandr-ushakov.stretching.yana-belyakova.monday
      th.schedule-day
      th.schedule-day Понедельник
  tbody
    //9:00
    //9:30
    //10:00
    //11:00
    tr.zumba-fitness.aleksandr-ushakov.monday
      td.schedule-time 11:00
      +schedule-event('2', directions.zumbaFitness, coaches.aleksandrUshakov, 'monday', '11:00', '12:00', 'Открытая группа')
    //11:30
    tr.zumba-fitness.aleksandr-ushakov.monday
      td.schedule-time 11:30
    //12:00
    tr.stretching.yana-belyakova.monday
      td.schedule-time 12:00
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'monday', '12:00', '13:00', 'Открытая группа')
    //12:30
    tr.stretching.yana-belyakova.monday
      td.schedule-time 12:30
    //13:00
    //13:30
    //14:00
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:30
    //20:00
    //20:30
    //21:00
    //21:30
    //Margin
    tr.schedule-table-margin.stretching.zumba-fitness.yana-belyakova.aleksandr-ushakov.monday
      td
//Вторник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.stretching.yoga.tuesday
      th.schedule-day
      th.schedule-day Вторник
  tbody
    //9:00
    //9:30
    //10:00
    //11:00
    //11:30
    //12:00
    tr.stretching.yana-belyakova.tuesday
      td.schedule-time 12:00
        +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'tuesday', '12:00', '13:00', 'Открытая группа')
    //12:30
    tr.stretching.yana-belyakova.tuesday
      td.schedule-time 12:30
    //13:00
    //13:30
    //14:00
    //14:30
    //15:00
    //16:00
    //16:30
    //17:00
    //17:30
    //18:30
    //19:00
    //19:30
    //20:00
    //20:30
    //21:00
    tr.schedule-table-margin.stretching.yana-belyakova.tuesday
      td
//Среда
table.schedule-table.mobile(data-selected="all")
  thead
    tr
      th.schedule-day
      th.schedule-day Среда
  tbody
    //9:00
    //9:30
    //10:00
    //10:30
    //11:00
    //11:30
    //12:00
    //12:30
    //13:00
    //13:30
    //14:00
    //14:30
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:00
    //19:30
    //20:00
    //20:30
    //21:00
    //21:30
    //Margin
    tr
      td
//Четверг
table.schedule-table.mobile(data-selected="all")
  thead
    tr.pole-dance.stretching.silk.functional-training.zumba-strong.contemporary.yana-belyakova.aleksandr-ushakov.thursday
      th.schedule-day
      th.schedule-day Четверг
  tbody
    //9:00
    tr.stretching.thursday
      td.schedule-time 9:00
      +schedule-event('3', directions.stretching, '', 'thursday', '9:00', '10:30')
    //9:30
    tr.stretching.thursday
      td.schedule-time 9:30
    //10:00
    tr.stretching.thursday
      td.schedule-time 10:00
    //10:30
    //11:00
    tr.zumba-strong.aleksandr-ushakov.thursday
      td.schedule-time 11:00
      +schedule-event('2', directions.zumbaStrong, coaches.aleksandrUshakov, 'thursday', '11:00', '12:00', 'Открытая группа')
    //11:30
    tr.zumba-strong.aleksandr-ushakov.thursday
      td.schedule-time 11:30
    //12:00
    tr.stretching.yana-belyakova.thursday
      td.schedule-time 12:00
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'thursday', '12:00', '13:00', 'Открытая группа')
    //12:30
    tr.stretching.yana-belyakova.thursday
      td.schedule-time 12:30
    //13:00
    //13:30
    tr.functional-training.yana-belyakova.thursday
      td.schedule-time 13:30
      +schedule-event('2', directions.functionalTraining, coaches.yanaBelyakova, 'thursday', '13:30', '14:30', 'Открытая группа')
    //14:00
    tr.functional-training.yana-belyakova.thursday
      td.schedule-time 14:00
    //14:30
    //15:00
    tr.pole-dance.yana-belyakova.thursday
      td.schedule-time 15:00
      +schedule-event('2', directions.poleDance, coaches.yanaBelyakova, 'thursday', '15:00', '16:00', 'Открытая группа')
    //15:30
    tr.pole-dance.yana-belyakova.thursday
      td.schedule-time 15:30
    //16:00
    //16:30
    //17:00
    tr.pole-dance.thursday
      td.schedule-time 17:00
      +schedule-event('2', directions.poleDance, '', 'thursday', '17:00', '18:00')
    //17:30
    tr.pole-dance.thursday
      td.schedule-time 17:30
    //18:00
    //18:30
    tr.silk.thursday
      td.schedule-time 18:30
      +schedule-event('2', directions.silk, '', 'thursday', '18:30', '19:30')
    //19:00
    tr.silk.thursday
      td.schedule-time 19:00
    //19:30
    //20:00
    tr.contemporary.thursday
      td.schedule-time 20:00
      +schedule-event('3', directions.contemporary, '', 'thursday', '20:00', '21:30')
    //20:30
    tr.contemporary.thursday
      td.schedule-time 20:30
    //21:00
    tr.contemporary.thursday
      td.schedule-time 21:00
    //21:30
    //Margin
    tr.schedule-table-margin.pole-dance.stretching.silk.functional-training.contemporary.zumba-strong.yana-belyakova.aleksandr-ushakov.thursday
      td
//Пятница
table.schedule-table.mobile(data-selected="all")
  thead
    tr.yoga.pole-dance.stretching.hoop.rhythmic-gymnastics.plastic.nadezhda-luchinina.yana-belyakova.friday
      th.schedule-day
      th.schedule-day Пятница
  tbody
    //8:30
    //9:00
    tr.yoga.friday
      td.schedule-time 9:00
      +schedule-event('3', directions.yoga, '', 'friday', '9:00', '10:30')
    //9:30
    tr.yoga.friday
      td.schedule-time 9:30
    //10:00
    tr.yoga.friday
      td.schedule-time 10:00
    //10:30
    //11:00
    tr.pole-dance.friday
      td.schedule-time 11:00
      +schedule-event('2', directions.poleDance, '', 'friday', '11:00', '12:00')
    //11:30
    tr.pole-dance.friday
      td.schedule-time 11:30
    //12:00
    //12:30
    tr.hoop.friday
      td.schedule-time 12:30
      +schedule-event('2', directions.hoop, '', 'friday', '12:30', '13:30')
    //13:00
    tr.hoop.friday
      td.schedule-time 13:00
    //13:30
    tr.stretching.friday
      td.schedule-time 13:30
      +schedule-event('2', directions.stretching, '', 'friday', '13:30', '14:30')
    //14-00
    tr.stretching.friday
      td.schedule-time 14:00
    //14:30
    tr.rhythmic-gymnastics.friday
      td.schedule-time 14:30
      +schedule-event('2', directions.rhythmicGymnastics, '', 'friday', '14:30', '15:30')
    //15:00
    tr.rhythmic-gymnastics.friday
      td.schedule-time 15:00
    //15:30
    //16:00
    tr.pole-dance.friday
      td.schedule-time 16:00
      +schedule-event('2', directions.poleDance, '', 'friday', '16:00', '17:00')
    //16:30
    tr.pole-dance.friday
      td.schedule-time 16:30
    //17:00
    tr.pole-dance.nadezhda-luchinina.friday
      td.schedule-time 17:00
      +schedule-event('2', directions.poleDance, coaches.nadezhdaLuchinina, 'friday', '17:00', '18:00')
    //17:30
    tr.pole-dance.nadezhda-luchinina.friday
      td.schedule-time 17:30
    //18:00
    tr.pole-dance.nadezhda-luchinina.friday
      td.schedule-time 18:00
      +schedule-event('2', directions.poleDance, coaches.nadezhdaLuchinina, 'friday', '18:00', '19:00')
    //18:30
    tr.pole-dance.nadezhda-luchinina.friday
      td.schedule-time 18:30
    //19:00
    //19:30
    tr.plastic.yana-belyakova.friday
      td.schedule-time 19:30
      +schedule-event('2', directions.plastic, coaches.yanaBelyakova, 'friday', '19:30', '20:30', 'Открытая группа')
    //20:00
    tr.plastic.yana-belyakova.friday
      td.schedule-time 20:00
    //20:30
    tr.stretching.friday
      td.schedule-time 20:30
      +schedule-event('2', directions.stretching, '', 'friday', '20:30', '21:30')
    //21:00
    tr.stretching.friday
      td.schedule-time 21:00
    //21:30
    //Margin
    tr.schedule-table-margin.yoga.pole-dance.stretching.hoop.rhythmic-gymnastics.plastic.nadezhda-luchinina.yana-belyakova.friday
      td
//Суббота
table.schedule-table.mobile(data-selected="all")
  thead
    tr.stretching.silk.functional-training.plastic.yana-belyakova.saturday
      th.schedule-day
      th.schedule-day Суббота
  tbody
    //8:30
    //9:00
    //9:30
    //10:00
    tr.stretching.saturday
      td.schedule-time 10:00
      +schedule-event('2', directions.stretching, '', 'saturday', '10:00', '11:00')
    //10:30
    tr.stretching.saturday
      td.schedule-time 10:30
    //11:00
    tr.silk.saturday
      td.schedule-time 11:00
      +schedule-event('2', directions.silk, '', 'saturday', '11:00', '12:00')
    //11:30
    tr.silk.saturday
      td.schedule-time 11:30
    //12:00
    //12:30
    //13:00
    //13:30
    //14:00
    tr.plastic.yana-belyakova.saturday
      td.schedule-time 14:00
      +schedule-event('2', directions.plastic, coaches.yanaBelyakova, 'saturday', '14:00', '15:00', 'Открытая группа')
    //14:30
    tr.plastic.yana-belyakova.saturday
      td.schedule-time 14:30
    //15:00
    tr.functional-training.yana-belyakova.saturday
      td.schedule-time 15:00
      +schedule-event('2', directions.functionalTraining, coaches.yanaBelyakova, 'saturday', '15:00', '16:00', 'Открытая группа')
    //15:30
    tr.functional-training.yana-belyakova.saturday
      td.schedule-time 15:30
    //16:00
    tr.stretching.yana-belyakova.saturday
      td.schedule-time 16:00
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'saturday', '16:00', '17:00', 'Открытая группа')
    //16:30
    tr.stretching.yana-belyakova.saturday
      td.schedule-time 16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:00
    //19:30
    //20:00
    //20:30
    //21:00
    //21:30
