include ../../templates/mixins/schedule-event
//-Обычная
table.schedule-table(data-selected="all")
  thead
    tr
      th.schedule-day
      th.schedule-day Понедельник
      th.schedule-day Вторник
      th.schedule-day Среда
      th.schedule-day Четверг
      th.schedule-day Пятница
      th.schedule-day Суббота
  tbody
    //-9:00
    tr
      td.schedule-time 9:00
      //-Понедельник
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-1', '9:00', '10:30')
      //-Вторник
      +schedule-event('3', 'd04', 'Stretching', '', '', 'day-2', '9:00', '10:30')
      //-Среда
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-3', '9:00', '10:30')
      //-Четверг
      +schedule-event('3', 'd04', 'Stretching', '', '', 'day-4', '9:00', '10:30')
      //-Пятница
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-5', '9:00', '10:30')
      //-Суббота
      td
      //+schedule-event('2', 'd04', 'Stretching', '', '', 'day-6', '9:00', '10:00')
    //-9:30
    tr
      td.schedule-time 9:30
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-10:00
    tr
      td.schedule-time 10:00
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-6', '10:00', '11:00')
    //-10:30
    tr
      td.schedule-time 10:30
      //-Понедельник
      td
      //-Вторник
      td
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      td
      //-Суббота
    //-11:00
    tr
      td.schedule-time 11:00
      //-Понедельник
      +schedule-event('2', 'd11', 'Зумба', '', '', 'day-1', '11:00', '12:00')
      //-Вторник
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-2', '11:00', '12:00')
      //-Среда
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-3', '11:00', '12:00')
      //-Четверг
      +schedule-event('2', 'd12', 'Strong by Zumba', '', '', 'day-4', '11:00', '12:00')
      //-Пятница
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-5', '11:00', '12:00')
      //-Суббота
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-6', '11:00', '12:00')
    //-11:30
    tr
      td.schedule-time 11:30
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
    //-12:00
    tr
      td.schedule-time 12:00
      //-Понедельник
      td
      //-Вторник
      td
      //-Среда
      td
      //-Четверг
      +schedule-event('2', 'd04', 'Stretching', 'jana', 'Яна', 'day-4', '12:00', '13:00')
      //-Пятница
      td
      //-Суббота
      td
      //+schedule-event('2', 'd04', 'Stretching', 'jana', 'Яна', 'day-6', '12:00', '13:00')
    //-12:30
    tr
      td.schedule-time 12:30
      //-Понедельник
      +schedule-event('2', 'd05', 'Stretching на полотнах', 'natali', 'Натали', 'day-1', '12:30', '13:30')
      //-Вторник
      +schedule-event('2', 'd06', 'Воздушное кольцо', '', '', 'day-2', '12:30', '13:30')
      //-Среда
      +schedule-event('2', 'd05', 'Stretching на полотнах', 'natali', 'Натали', 'day-3', '12:30', '13:30')
      //-Четверг
      //-Пятница
      +schedule-event('2', 'd06', 'Воздушное кольцо', '', '', 'day-5', '12:30', '13:30')
      //-Суббота
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-6', '12:30', '13:30')
    //-13:00
    tr
      td.schedule-time 13:00
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      td
      //-Пятница
      //-Суббота
    //-13:30
    tr
      td.schedule-time 13:30
      //-Понедельник
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-1', '13:30', '14:30')
      //-Вторник
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-2', '13:30', '14:30')
      //-Среда
      td
      //-Четверг
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-4', '13:30', '14:30')
      //-Пятница
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-5', '13:30', '14:30')
      //-Суббота
      td
      //+schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-6', '13:30', '14:30')
    //-14-00
    tr
      td.schedule-time 14:00
      //-Понедельник
      //-Вторник
      //-Среда
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-3', '14:00', '15:00')
      //-Четверг
      //-Пятница
      //-Суббота
      +schedule-event('2', 'd10', 'Женская пластика', 'jana', 'Яна', 'day-6', '14:00', '15:00')
    //-14:30
    tr
      td.schedule-time 14:30
      //-Понедельник
      td
      //-Вторник
      +schedule-event('2', 'd08', 'Художественная гимнастика', '', '', 'day-2', '14:30', '15:30')
      //-Среда
      //-Четверг
      td
      //-Пятница
      +schedule-event('2', 'd08', 'Художественная гимнастика', '', '', 'day-5', '14:30', '15:30')
      //-Суббота
    //-15:00
    tr
      td.schedule-time 15:00
      //-Понедельник
      +schedule-event('2', 'd02', 'Pole Dance', 'jana', 'Яна', 'day-1', '15:00', '16:00')
      //-Вторник
      //-Среда
      td
      //-Четверг
      +schedule-event('2', 'd02', 'Pole Dance', 'jana', 'Яна', 'day-4', '15:00', '16:00')
      //-Пятница
      //-Суббота
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-6', '15:00', '16:00')
    //-15:30
    tr
      td.schedule-time 15:30
      //-Понедельник
      //-Вторник
      td
      //-Среда
      td
      //-Четверг
      //-Пятница
      td
      //-Суббота
    //-16:00
    tr
      td.schedule-time 16:00
      //-Понедельник
      +schedule-event('2', 'd03', 'Детский<br>Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-1', '16:00', '17:00')
      //-Вторник
      +schedule-event('2', 'd03', 'Детский<br>Pole Dance', '', '', 'day-2', '16:00', '17:00')
      //-Среда
      +schedule-event('2', 'd03', 'Детский<br>Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-3', '16:00', '17:00')
      //-Четверг
      td
      //-Пятница
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-5', '16:00', '17:00')
      //-Суббота
      +schedule-event('2', 'd04', 'Stretching', 'jana', 'Яна', 'day-6', '16:00', '17:00')
    //-16:30
    tr
      td.schedule-time 16:30
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      td
      //-Пятница
      //-Суббота
    //-17:00
    tr
      td.schedule-time 17:00
      //-Понедельник
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-1', '17:00', '18:00')
      //-Вторник
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-2', '17:00', '18:00')
      //-Среда
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-3', '17:00', '18:00')
      //-Четверг
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-4', '17:00', '18:00')
      //-Пятница
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-5', '17:00', '18:00')
      //-Суббота
      td
    //-17:30
    tr
      td.schedule-time 17:30
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-18:00
    tr
      td.schedule-time 18:00
      //-Понедельник
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-1', '18:00', '19:00')
      //-Вторник
      td
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-5', '18:00', '19:00')
      //-Суббота
      td
    //-18:30
    tr
      td.schedule-time 18:30
      //-Понедельник
      //-Вторник
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-2', '18:30', '19:30')
      //-Среда
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-3', '18:30', '19:30')
      //-Четверг
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-4', '18:30', '19:30')
      //-Пятница
      //-Суббота
      td
    //-19:00
    tr
      td.schedule-time 19:00
      //-Понедельник
      td
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      td
      //-Суббота
      td
    //-19:30
    tr
      td.schedule-time 19:30
      //-Понедельник
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-1', '19:30', '21:00')
      //-Вторник
      +schedule-event('2', 'd10', 'Женская пластика', '', '', 'day-2', '19:30', '20:30')
      //-Среда
      +schedule-event('2', 'd10', 'Женская пластика', 'jana', 'Яна', 'day-3', '19:30', '20:30')
      //-Четверг
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-4', '19:30', '21:00')
      //-Пятница
      +schedule-event('2', 'd10', 'Женская пластика', 'jana', 'Яна', 'day-5', '19:30', '20:30')
      //-Суббота
      td
    //-20:00
    tr
      td.schedule-time 20:00
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-20:30
    tr
      td.schedule-time 20:30
      //-Понедельник
      //-Вторник
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-2', '20:30', '21:30')
      //-Среда
      td
      //-Четверг
      //-Пятница
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-5', '20:30', '21:30')
      //-Суббота
      td
    //-21:00
    tr
      td.schedule-time 21:00
      //-Понедельник
      +schedule-event('2', 'd04', 'Stretching', 'nadezhda_luchinina', 'Надежда', 'day-1', '21:00', '22:00')
      //-Вторник
      //-Среда
      +schedule-event('2', 'd04', 'Stretching', 'nadezhda_luchinina', 'Надежда', 'day-3', '21:00', '22:00')
      //-Четверг
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-4', '21:00', '22:00')
      //-Пятница
      //-Суббота
      td
    //-21:30
    tr
      td.schedule-time 21:30
      //-Понедельник
      //-Вторник
      td
      //-Среда
      //-Четверг
      //-Пятница
      td
      //-Суббота
      td
//-Мобильная
//-Понедельник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.d01.d02.d03.d04.d05.d09.d11.natali.nadezhda_luchinina.jana.day-1
      th.schedule-day
      th.schedule-day Понедельник
  tbody
    //-9:00
    tr.d01.natali.day-1
      td.schedule-time 9:00
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-1', '9:00', '10:30')
    //-9:30
    tr.d01.natali.day-1
      td.schedule-time 9:30
    //-10:00
    tr.d01.natali.day-1
      td.schedule-time 10:00
    //-11:00
    tr.d11.day-1
      td.schedule-time 11:00
      +schedule-event('2', 'd11', 'Zumba', '', '', 'day-1', '11:00', '12:00')
    //-11:30
    tr.d11.day-1
      td.schedule-time 11:30
    //-12:30
    tr.d05.natali.day-1
      td.schedule-time 12:30
      +schedule-event('2', 'd05', 'Stretching на полотнах', 'natali', 'Натали', 'day-1', '12:30', '13:30')
    //-13:00
    tr.d05.natali.day-1
      td.schedule-time 13:00
    //-13:30
    tr.d09.jana.day-1
      td.schedule-time 13:30
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-1', '13:30', '14:30')
    //-14:00
    tr.d09.jana.day-1
      td.schedule-time 14:30
    //-15:00
    tr.d02.jana.day-1
      td.schedule-time 15:00
      +schedule-event('2', 'd02', 'Pole Dance', 'jana', 'Яна', 'day-1', '15:00', '16:00')
    //-15:30
    tr.d02.jana.day-1
      td.schedule-time 15:30
    //-16:00
    tr.d03.nadezhda_luchinina.day-1
      td.schedule-time 16:00
      +schedule-event('2', 'd03', 'Детский<br>Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-1', '16:00', '17:00')
    //-16:30
    tr.d03.nadezhda_luchinina.day-1
      td.schedule-time 16:30
    //-17:00
    tr.d02.nadezhda_luchinina.day-1
      td.schedule-time 17:00
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-1', '17:00', '18:00')
    //-17:30
    tr.d02.nadezhda_luchinina.day-1
      td.schedule-time 17:30
    //-18:00
    tr.d02.nadezhda_luchinina.day-1
      td.schedule-time 18:00
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-1', '18:00', '19:00')
    //-18:30
    tr.d02.nadezhda_luchinina.day-1
      td.schedule-time 18:30
    //-19:30
    tr.d01.natali.day-1
      td.schedule-time 19:30
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-1', '19:30', '21:00')
    //-20:00
    tr.d01.natali.day-1
      td.schedule-time 20:00
    //-20:30
    tr.d01.natali.day-1
      td.schedule-time 20:30
    //-21:00
    tr.d04.nadezhda_luchinina.day-1
      td.schedule-time 21:00
      +schedule-event('2', 'd04', 'Stretching', 'nadezhda_luchinina', 'Надежда', 'day-1', '21:00', '22:00')
    //-21:30
    tr.d04.nadezhda_luchinina.day-1
      td.schedule-time 21:30
    //-Margin
    tr.schedule-table-margin.d01.d02.d03.d04.d05.d09.d11.natali.nadezhda_luchinina.jana.day-1
      td
//-Вторник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.d02.d03.d04.d06.d07.d08.d10.day-2
      th.schedule-day
      th.schedule-day Вторник
  tbody
    //-9:00
    tr.d04.day-2
      td.schedule-time 9:00
      +schedule-event('3', 'd04', 'Stretching', '', '', 'day-2', '9:00', '10:30')
    //-9:30
    tr.d04.day-2
      td.schedule-time 9:30
    //-10:00
    tr.d04.day-2
      td.schedule-time 10:00
    //-11:00
    tr.d02.day-2
      td.schedule-time 11:00
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-2', '11:00', '12:00')
    //-11:30
    tr.d02.day-2
      td.schedule-time 11:30
    //-12:30
    tr.d06.day-2
      td.schedule-time 12:30
      +schedule-event('2', 'd06', 'Воздушное кольцо', '', '', 'day-2', '12:30', '13:30')
    //-13:00
    tr.d06.day-2
      td.schedule-time 13:00
    //-13:30
    tr.d04.day-2
      td.schedule-time 13:30
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-2', '13:30', '14:30')
    //-14:00
    tr.d04.day-2
      td.schedule-time 14:00
    //-14:30
    tr.d08.day-2
      td.schedule-time 14:30
      +schedule-event('2', 'd08', 'Художественная гимнастика', '', '', 'day-2', '14:30', '15:30')
    //-15:00
    tr.d08.day-2
      td.schedule-time 15:00
    //-16:00
    tr.d03.day-2
      td.schedule-time 16:00
      +schedule-event('2', 'd03', 'Детский<br>Pole Dance', '', '', 'day-2', '16:00', '17:00')
    //-16:30
    tr.d03.day-2
      td.schedule-time 16:30
    //-17:00
    tr.d02.day-2
      td.schedule-time 17:00
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-2', '17:00', '18:00')
    //-17:30
    tr.d02.day-2
      td.schedule-time 17:30
    //-18:30
    tr.d07.day-2
      td.schedule-time 18:30
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-2', '18:30', '19:30')
    //-19:00
    tr.d07.day-2
      td.schedule-time 19:00
    //-19:30
    tr.d10.day-2
      td.schedule-time 19:30
      +schedule-event('2', 'd10', 'Женская пластика', '', '', 'day-2', '19:30', '20:30')
    //-20:00
    tr.d10.day-2
      td.schedule-time 20:00
    //-20:30
    tr.d04.day-2
      td.schedule-time 20:30
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-2', '20:30', '21:30')
    //-21:00
    tr.d04.day-2
      td.schedule-time 21:00
    tr.schedule-table-margin.d02.d03.d04.d06.d07.d08.d10.day-2
      td
//-Среда
table.schedule-table.mobile(data-selected="all")
  thead
    tr.d01.d02.d03.d04.d05.d07.d09.d10.natali.nadezhda_luchinina.jana.day-3
      th.schedule-day
      th.schedule-day Среда
  tbody
    //-9:00
    tr.d01.natali.day-3
      td.schedule-time 9:00
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-3', '9:00', '10:30')
    //-9:30
    tr.d01.natali.day-3
      td.schedule-time 9:30
    //-10:00
    tr.d01.natali.day-3
      td.schedule-time 10:00
    //-10:30
    //-11:00
    tr.d07.day-3
      td.schedule-time 11:00
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-3', '11:00', '12:00')
    //-11:30
    tr.d07.day-3
      td.schedule-time 11:30
    //-12:00
    //-12:30
    tr.d05.natali.day-3
      td.schedule-time 12:30
      +schedule-event('2', 'd05', 'Stretching на полотнах', 'natali', 'Натали', 'day-3', '12:30', '13:30')
    //-13:00
    tr.d05.natali.day-3
      td.schedule-time 13:00
    //-13:30
    //-14:00
    tr.d02.day-3
      td.schedule-time 14:00
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-3', '14:00', '15:00')
    //-14:30
    tr.d02.day-3
      td.schedule-time 14:30
    //-15:00
    //-15:30
    //-16:00
    tr.d03.nadezhda_luchinina.day-3
      td.schedule-time 16:00
      +schedule-event('2', 'd03', 'Детский<br>Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-3', '16:00', '17:00')
    //-16:30
    tr.d03.nadezhda_luchinina.day-3
      td.schedule-time 16:30
    //-17:00
    tr.d02.nadezhda_luchinina.day-3
      td.schedule-time 17:00
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-3', '17:00', '18:00')
    //-17:30
    tr.d02.nadezhda_luchinina.day-3
      td.schedule-time 17:30
    //-18:00
    //-18:30
    tr.d09.jana.day-3
      td.schedule-time 18:30
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-3', '18:30', '19:30')
    //-19:00
    tr.d09.jana.day-3
      td.schedule-time 19:00
    //-19:30
    tr.d10.jana.day-3
      td.schedule-time 19:30
      +schedule-event('2', 'd10', 'Женская пластика', 'jana', 'Яна', 'day-3', '19:30', '20:30')
    //-20:00
    tr.d10.jana.day-3
      td.schedule-time 20:00
    //-20:30
    //-21:00
    tr.d04.nadezhda_luchinina.day-3
      td.schedule-time 21:00
      +schedule-event('2', 'd04', 'Stretching', 'nadezhda_luchinina', 'Надежда', 'day-3', '21:00', '22:00')
    //-21:30
    tr.d04.nadezhda_luchinina.day-3
      td.schedule-time 21:30
    //-Margin
    tr.schedule-table-margin.d01.d02.d03.d04.d05.d07.d09.d10.natali.nadezhda_luchinina.jana.day-3
      td
//-Четверг
table.schedule-table.mobile(data-selected="all")
  thead
    tr.d01.d02.d04.d07.d09.d12.natali.jana.day-4
      th.schedule-day
      th.schedule-day Четверг
  tbody
    //-9:00
    tr.d04.day-4
      td.schedule-time 9:00
      +schedule-event('3', 'd04', 'Stretching', '', '', 'day-4', '9:00', '10:30')
    //-9:30
    tr.d04.day-4
      td.schedule-time 9:30
    //-10:00
    tr.d04.day-4
      td.schedule-time 10:00
    //-10:30
    //-11:00
    tr.d12.day-4
      td.schedule-time 11:00
      +schedule-event('2', 'd12', 'Strong by Zumba', '', '', 'day-4', '11:00', '12:00')
    //-11:30
    tr.d12.day-4
      td.schedule-time 11:30
    //-12:00
    tr.d04.jana.day-4
      td.schedule-time 12:00
      +schedule-event('2', 'd04', 'Stretching', 'jana', 'Яна', 'day-4', '12:00', '13:00')
    //-12:30
    tr.d04.jana.day-4
      td.schedule-time 12:30
    //-13:00
    //-13:30
    tr.d09.jana.day-4
      td.schedule-time 13:30
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-4', '13:30', '14:30')
    //-14:00
    tr.d09.jana.day-4
      td.schedule-time 14:00
    //-14:30
    //-15:00
    tr.d02.jana.day-4
      td.schedule-time 15:00
      +schedule-event('2', 'd02', 'Pole Dance', 'jana', 'Яна', 'day-4', '15:00', '16:00')
    //-15:30
    tr.d02.jana.day-4
      td.schedule-time 15:30
    //-16:00
    //-16:30
    //-17:00
    tr.d02.day-4
      td.schedule-time 17:00
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-4', '17:00', '18:00')
    //-17:30
    tr.d02.day-4
      td.schedule-time 17:30
    //-18:00
    //-18:30
    tr.d07.day-4
      td.schedule-time 18:30
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-4', '18:30', '19:30')
    //-19:00
    tr.d07.day-4
      td.schedule-time 19:00
    //-19:30
    tr.d01.natali.day-4
      td.schedule-time 19:30
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-4', '19:30', '21:00')
    //-20:00
    tr.d01.natali.day-4
      td.schedule-time 20:00
    //-20:30
    tr.d01.natali.day-4
      td.schedule-time 20:30
    //-21:00
    tr.d04.day-4
      td.schedule-time 21:00
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-4', '21:00', '22:00')
    //-21:30
    tr.d04.day-4
      td.schedule-time 21:30
    //-Margin
    tr.schedule-table-margin.d01.d02.d04.d07.d09.d12.natali.jana.day-4
      td
//-Пятница
table.schedule-table.mobile(data-selected="all")
  thead
    tr.d01.d02.d04.d06.d08.d10.natali.nadezhda_luchinina.jana.day-5
      th.schedule-day
      th.schedule-day Пятница
  tbody
    //-8:30
    //-9:00
    tr.d01.natali.day-5
      td.schedule-time 9:00
      +schedule-event('3', 'd01', 'Королевская йога', 'natali', 'Натали', 'day-5', '9:00', '10:30')
    //-9:30
    tr.d01.natali.day-5
      td.schedule-time 9:30
    //-10:00
    tr.d01.natali.day-5
      td.schedule-time 10:00
    //-10:30
    //-11:00
    tr.d02.day-5
      td.schedule-time 11:00
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-5', '11:00', '12:00')
    //-11:30
    tr.d02.day-5
      td.schedule-time 11:30
    //-12:00
    //-12:30
    tr.d06.day-5
      td.schedule-time 12:30
      +schedule-event('2', 'd06', 'Воздушное кольцо', '', '', 'day-5', '12:30', '13:30')
    //-13:00
    tr.d06.day-5
      td.schedule-time 13:00
    //-13:30
    tr.d04.day-5
      td.schedule-time 13:30
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-5', '13:30', '14:30')
    //-14-00
    tr.d04.day-5
      td.schedule-time 14:00
    //-14:30
    tr.d08.day-5
      td.schedule-time 14:30
      +schedule-event('2', 'd08', 'Художественная гимнастика', '', '', 'day-5', '14:30', '15:30')
    //-15:00
    tr.d08.day-5
      td.schedule-time 15:00
    //-15:30
    //-16:00
    tr.d02.day-5
      td.schedule-time 16:00
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-5', '16:00', '17:00')
    //-16:30
    tr.d02.day-5
      td.schedule-time 16:30
    //-17:00
    tr.d02.nadezhda_luchinina.day-5
      td.schedule-time 17:00
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-5', '17:00', '18:00')
    //-17:30
    tr.d02.nadezhda_luchinina.day-5
      td.schedule-time 17:30
    //-18:00
    tr.d02.nadezhda_luchinina.day-5
      td.schedule-time 18:00
      +schedule-event('2', 'd02', 'Pole Dance', 'nadezhda_luchinina', 'Надежда', 'day-5', '18:00', '19:00')
    //-18:30
    tr.d02.nadezhda_luchinina.day-5
      td.schedule-time 18:30
    //-19:00
    //-19:30
    tr.d10.jana.day-5
      td.schedule-time 19:30
      +schedule-event('2', 'd10', 'Женская пластика', 'jana', 'Яна', 'day-5', '19:30', '20:30')
    //-20:00
    tr.d10.jana.day-5
      td.schedule-time 20:00
    //-20:30
    tr.d04.day-5
      td.schedule-time 20:30
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-5', '20:30', '21:30')
    //-21:00
    tr.d04.day-5
      td.schedule-time 21:00
    //-21:30
    //-Margin
    tr.schedule-table-margin.d01.d02.d04.d06.d08.d10.natali.nadezhda_luchinina.jana.day-5
      td
//-Суббота
table.schedule-table.mobile(data-selected="all")
  thead
    tr.d02.d04.d07.d09.d10.jana.day-6
      th.schedule-day
      th.schedule-day Суббота
  tbody
    //-8:30
    //-9:00
    //-9:30
    //-10:00
    tr.d04.day-6
      td.schedule-time 10:00
      +schedule-event('2', 'd04', 'Stretching', '', '', 'day-6', '10:00', '11:00')
    //-10:30
    tr.d04.day-6
      td.schedule-time 10:30
    //-11:00
    tr.d07.day-6
      td.schedule-time 11:00
      +schedule-event('2', 'd07', 'Воздушное полотно', '', '', 'day-6', '11:00', '12:00')
    //-11:30
    tr.d07.day-6
      td.schedule-time 11:30
    //-12:00
    //-12:30
    tr.d02.day-6
      td.schedule-time 12:30
      +schedule-event('2', 'd02', 'Pole Dance', '', '', 'day-6', '12:30', '13:30')
    //-13:00
    tr.d02.day-6
      td.schedule-time 13:00
    //-13:30
    //-14:00
    tr.d10.jana.day-6
      td.schedule-time 14:00
      +schedule-event('2', 'd10', 'Женская пластика', 'jana', 'Яна', 'day-6', '14:00', '15:00')
    //-14:30
    tr.d10.jana.day-6
      td.schedule-time 14:30
    //-15:00
    tr.d09.jana.day-6
      td.schedule-time 15:00
      +schedule-event('2', 'd09', 'Функциональный тренинг', 'jana', 'Яна', 'day-6', '15:00', '16:00')
    //-15:30
    tr.d09.jana.day-6
      td.schedule-time 15:30
    //-16:00
    tr.d04.jana.day-6
      td.schedule-time 16:00
      +schedule-event('2', 'd04', 'Stretching', 'jana', 'Яна', 'day-6', '16:00', '17:00')
    //-16:30
    tr.d04.jana.day-6
      td.schedule-time 16:30
    //-17:00
    //-17:30
    //-18:00
    //-18:30
    //-19:00
    //-19:30
    //-20:00
    //-20:30
    //-21:00
    //-21:30
