include ../../templates/mixins/schedule-event
//-Обычная
table.schedule-table(data-selected="all")
  thead
    tr
      th.schedule-day
      th.schedule-day Понедельник
      th.schedule-day Вторник
      th.schedule-day Среда
      th.schedule-day Четверг
      th.schedule-day Пятница
      th.schedule-day Суббота
  tbody
    //-8:30
    tr
      td.schedule-time 8:30
      //Понедельник
      +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '8:30', '9:30')
      //-Вторник
      td
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '8:30', '9:30')
      //-Суббота
      td
    //-9:00
    tr
     td.schedule-time 9:00
     //Понедельник
     //-Вторник
     td
     //-Среда
     +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '9:00', '10:00')
     //-Четверг
     td
     //-Пятница
     //-Суббота
     td
    //-9:30
    tr
      td.schedule-time 9:30
      //-Понедельник
      +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '9:30', '10:30')
      //-Вторник
      td
      //-Среда
      //-Четверг
      td
      //-Пятница
      +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '9:30', '10:30')
      //-Суббота
      td
    //-10:00
    tr
      td.schedule-time 10:00
      //-Понедельник
      //-Вторник
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-3', 'Александра', '10:00', '11:00')
      //-Среда
      +schedule-event('2', 'direction-2', 'Полотно', 'coach-2', 'Виктория', '10:00', '11:00')
      //-Четверг
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-3', 'Александра', '10:00', '11:00')
      //-Пятница
      //-Суббота
      +schedule-event('2', 'direction-2', 'Полотно', 'coach-2', 'Виктория', '10:00', '11:00')
    //-10:30
    tr
      td.schedule-time 10:30
      //-Понедельник
      td
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      td
      //-Суббота
    //-11:00
    tr
      td.schedule-time 11:00
      //-Понедельник
      td
      //-Вторник
      +schedule-event('2', 'direction-5', 'Кольцо', 'coach-3', 'Александра', '11:00', '12:00')
      //-Среда
      +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '11:00', '12:00')
      //-Четверг
      +schedule-event('2', 'direction-5', 'Кольцо', 'coach-3', 'Александра', '11:00', '12:00')
      //-Пятница
      +schedule-event('2', 'direction-4', 'Растяжка на полотнах', 'coach-1', 'Наталья', '11:00', '12:00')
      //-Суббота
      +schedule-event('2', 'direction-1', 'Йога', 'coach-1', 'Наталья', '11:00', '12:00')
    //-11:30
    tr
      td.schedule-time 11:30
      //-Понедельник
      td
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
    //-12:00
    tr
      td.schedule-time 12:00
      //-Понедельник
      +schedule-event('2', 'direction-4', 'Растяжка на полотнах', 'coach-1', 'Наталья', '12:00', '13:00')
      //-Вторник
      +schedule-event('2', 'direction-6', 'Растяжка', 'coach-3', 'Александра', '12:00', '13:00')
      //-Среда
      td
      //-Четверг
      +schedule-event('2', 'direction-6', 'Растяжка', 'coach-3', 'Александра', '12:00', '13:00')
      //-Пятница
      td
      //-Суббота
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-2', 'Виктория', '12:00', '13:00')
    //-12:30
    tr
      td.schedule-time 12:30
      //-Понедельник
      //-Вторник
      //-Среда
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-2', 'Виктория', '12:30', '13:30')
      //-Четверг
      //-Пятница
      td
      //-Суббота
    //-13:00
    tr
      td.schedule-time 13:00
      //-Понедельник
      td
      //-Вторник
      td
      //-Среда
      //-Четверг
      td
      //-Пятница
      td
      //-Суббота
      td
    //-13:30
    tr
      td.schedule-time 13:30
      //-Понедельник
      td
      //-Вторник
      td
      //-Среда
      +schedule-event('2', 'direction-4', 'Растяжка на полотнах', 'coach-1', 'Наталья', '13:30', '14:30')
      //-Четверг
      td
      //-Пятница
      td
      //-Суббота
      td
    //-14-00
    tr
      td.schedule-time 14:00
      //-Понедельник
      td
      //-Вторник
      +schedule-event('2', 'direction-7', 'Художественная гимнастика', 'coach-3', 'Александра', '14:00', '15:00')
      //-Среда
      //-Четверг
      td
      //-Пятница
      td
      //-Суббота
      td
    //-14:30
    tr
      td.schedule-time 14:30
      //-Понедельник
      td
      //-Вторник
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      td
      //-Суббота
      td
    //-15:00
    tr
      td.schedule-time 15:00
      //-Понедельник
      td
      //-Вторник
      +schedule-event('2', 'direction-5', 'Кольцо', 'coach-2', 'Виктория', '15:00', '16:30')
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      +schedule-event('2', 'direction-7', 'Художественная гимнастика', 'coach-3', 'Александра', '15:00', '16:00')
      //-Суббота
      td
    //-15:30
    tr
      td.schedule-time 15:30
      //-Понедельник
      td
      //-Вторник
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      //-Суббота
      td
    //-16:00
    tr
      td.schedule-time 16:00
      //-Понедельник
      +schedule-event('2', 'direction-8', 'Pole Dance<br>детcкий', 'coach-4', 'Надежда', '16:00', '17:00')
      //-Вторник
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-3', 'Александра', '16:00', '17:00')
      //-Среда
      +schedule-event('2', 'direction-8', 'Pole Dance<br>детcкий', 'coach-4', 'Надежда', '16:00', '17:00')
      //-Четверг
      +schedule-event('2', 'direction-5', 'Кольцо', 'coach-2', 'Виктория', '16:00', '17:00')
      //-Пятница
      +schedule-event('2', 'direction-8', 'Pole Dance<br>детcкий', 'coach-3', 'Александра', '16:00', '17:00')
      //-Суббота
      td
    //-16:30
    tr
      td.schedule-time 16:30
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-17:00
    tr
      td.schedule-time 17:00
      //-Понедельник
      +schedule-event('2', 'direction-8', 'Pole Dance<br>детcкий', 'coach-4', 'Надежда', '17:00', '18:00')
      //-Вторник
      +schedule-event('2', 'direction-2', 'Полотно', 'coach-2', 'Виктория', '17:00', '18:00')
      //-Среда
      +schedule-event('2', 'direction-8', 'Pole Dance<br>детcкий', 'coach-4', 'Надежда', '17:00', '18:00')
      //-Четверг
      +schedule-event('2', 'direction-2', 'Полотно', 'coach-2', 'Виктория', '17:00', '18:00')
      //-Пятница
      +schedule-event('2', 'direction-8', 'Pole Dance<br>детcкий', 'coach-3', 'Александра', '17:00', '18:00')
      //-Суббота
      td
    //-17:30
    tr
      td.schedule-time 17:30
      //-Понедельник
      //-Вторник
      //-Среда
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-18:00
    tr
      td.schedule-time 18:00
      //-Понедельник
      +schedule-event('2', 'direction-3', 'Pole dance', 'coach-4', 'Надежда', '18:00', '19:00')
      //-Вторник
      +schedule-event('2', 'direction-3', 'Pole dance', 'coach-3', 'Александра', '18:00', '19:00')
      //-Среда
      td
      //-Четверг
      +schedule-event('2', 'direction-2', 'Полотно', 'coach-2', 'Виктория', '18:00', '19:00')
      //-Пятница
      +schedule-event('2', 'direction-3', 'Pole dance', 'coach-4', 'Надежда', '18:00', '19:00')
      //-Суббота
      td
    //-18:30
    tr
      td.schedule-time 18:30
      //-Понедельник
      //-Вторник
      //-Среда
      td
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-19:00
    tr
      td.schedule-time 19:00
      //-Понедельник
      +schedule-event('3', 'direction-1', 'Йога', 'coach-1', 'Наталья', '19:00', '20:30')
      //-Вторник
      +schedule-event('2', 'direction-2', 'Полотно', 'coach-2', 'Виктория', '19:00', '20:00')
      //-Среда
      td
      //-Четверг
      +schedule-event('3', 'direction-1', 'Йога', 'coach-1', 'Наталья', '19:00', '20:30')
      //-Пятница
      +schedule-event('2', 'direction-9', 'Спортивная гимнастика', 'coach-2', 'Виктория', '19:00', '20:00')
      //-Суббота
      td
    //-19:30
    tr
      td.schedule-time 19:30
      //-Понедельник
      //-Вторник
      //-Среда
      td
      //-Четверг
      //-Пятница
      //-Суббота
      td
    //-20:00
    tr
      td.schedule-time 20:00
      //-Понедельник
      //-Вторник
      +schedule-event('2', 'direction-9', 'Спортивная гимнастика', 'coach-3', 'Александра', '20:00', '21:00')
      //-Среда
      +schedule-event('2', 'direction-6', 'Растяжка', 'coach-4', 'Надежда', '20:00', '21:00')
      //-Четверг
      //-Пятница
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-4', 'Надежда', '20:00', '21:00')
      //-Суббота
      td
    //-20:30
    tr
      td.schedule-time 20:30
      //-Понедельник
      +schedule-event('2', 'direction-3', 'Pole Dance', 'coach-4', 'Надежда', '20:30', '21:30')
      //-Вторник
      //-Среда
      //-Четверг
      +schedule-event('2', 'direction-6', 'Растяжка', 'coach-2', 'Виктория', '20:30', '21:30')
      //-Пятница
      //-Суббота
      td
    //-21:00
    tr
      td.schedule-time 21:00
      //-Понедельник
      //-Вторник
      +schedule-event('2', 'direction-6', 'Растяжка', 'coach-2', 'Виктория', '21:00', '22:00')
      //-Среда
      td
      //-Четверг
      //-Пятница
      +schedule-event('2', 'direction-6', 'Растяжка', 'coach-2', 'Виктория', '21:00', '22:00')
      //-Суббота
      td
    //-21:30
    tr
      td.schedule-time 21:30
      //-Понедельник
      td
      //-Вторник
      //-Среда
      td
      //-Четверг
      td
      //-Пятница
      //-Суббота
      td
//-Мобильная
//-Понедельник
table.schedule-table.mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Понедельник
  tbody
    //-12:00
    tr
      td.schedule-time 12:00
      +schedule-event('2', 'service-2', 'Воздушное полотно', 'team-1', 'Виктория', '12:00', '13:00')
    //-12:30
    tr
      td.schedule-time 12:30
    //-14:00
    tr
      td.schedule-time 14:00
      +schedule-event('2', 'service-4', 'Хип-хоп', 'team-3', 'Алексей', '14:00', '15:00')
    //-14:30
    tr
      td.schedule-time 14:30
    //-15:00
    tr
      td.schedule-time 15:00
      +schedule-event('3', 'service-4', 'Хип-хоп', 'team-3', 'Алексей', '15:00', '16:30')
    //-15:30
    tr
      td.schedule-time 15:30
    //-16:00
    tr
      td.schedule-time 16:00
    //-17:00
    tr
      td.schedule-time 17:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-1', 'Виктория', '17:00', '18:00')
    //-17:30
    tr
      td.schedule-time 17:30
    //-18:00
    tr
      td.schedule-time 18:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-4', 'Надежда', '18:00', '19:00')
    //-18:30
    tr
      td.schedule-time 18:30
    //-19:00
    tr
      td.schedule-time 19:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-1', 'Виктория', '19:00', '20:00')
    //-19:30
    tr
      td.schedule-time 19:30
    //-20:00
    tr
      td.schedule-time 20:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-4', 'Надежда', '20:00', '21:00')
    //-20:30
    tr
      td.schedule-time 20:30
//-Вторник
table.schedule-table.mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Вторник
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      +schedule-event('2', 'service-1', 'Воздушное кольцо', 'team-1', 'Виктория', '10:00', '11:00')
    //-10:30
    tr
      td.schedule-time 10:30
    //-12:00
    tr
      td.schedule-time 12:00
      +schedule-event('2', 'service-2', 'Воздушное полотно', 'team-1', 'Виктория', '12:00', '13:00')
    //-12:30
    tr
      td.schedule-time 12:30
    //-19:00
    tr
      td.schedule-time 19:00
      +schedule-event('2', 'service-5', 'Зумба', '', '', '19:00', '20:00')
    //-19:30
    tr
      td.schedule-time 19:30
//-Среда
table.schedule-table.mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Среда
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      +schedule-event('2', 'service-1', 'Воздушное кольцо', 'team-1', 'Виктория', '10:00', '11:00')
    //-10:30
    tr
      td.schedule-time 10:30
    //-17:00
    tr
      td.schedule-time 17:00
      +schedule-event('2', 'service-3', 'Йога', 'team-2', 'Михаил', '17:00', '18:00')
    //-17:30
    tr
      td.schedule-time 17:30
    //-18:00
    tr
      td.schedule-time 18:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-4', 'Надежда', '18:00', '19:00')
    //-18:30
    tr
      td.schedule-time 18:30
    //-20:00
    tr
      td.schedule-time 20:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-4', 'Надежда', '20:00', '21:00')
    //-20:30
    tr
      td.schedule-time 20:30
//-Четверг
table.schedule-table.mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Четверг
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      +schedule-event('2', 'service-1', 'Воздушное кольцо', 'team-1', 'Виктория', '10:00', '11:00')
    //-10:30
    tr
      td.schedule-time 10:30
    //-12:00
    tr
      td.schedule-time 12:00
      +schedule-event('2', 'service-2', 'Воздушное полотно', 'team-1', 'Виктория', '12:00', '13:00')
    //-12:30
    tr
      td.schedule-time 12:30
    //-14:00
    tr
      td.schedule-time 14:00
      +schedule-event('2', 'service-4', 'Хип-хоп', 'team-3', 'Алексей', '14:00', '15:00')
    //-14:30
    tr
      td.schedule-time 14:30
    //-15:00
    tr
      td.schedule-time 15:00
      +schedule-event('3', 'service-4', 'Хип-хоп', 'team-3', 'Алексей', '15:00', '16:30')
    //-15:30
    tr
      td.schedule-time 15:30
    //-16:00
    tr
      td.schedule-time 16:00
//-Пятница
table.schedule-table.mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Пятница
  tbody
    //-17:00
    tr
      td.schedule-time 17:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-1', 'Виктория', '17:00', '18:00')
    //-17:30
    tr
      td.schedule-time 17:30
    //-18:00
    tr
      td.schedule-time 18:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-4', 'Надежда', '18:00', '19:00')
    //-18:30
    tr
      td.schedule-time 18:30
    //-19:00
    tr
      td.schedule-time 19:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-1', 'Виктория', '19:00', '20:00')
    //-19:30
    tr
      td.schedule-time 19:30
    //-20:00
    tr
      td.schedule-time 20:00
      +schedule-event('2', 'service-6', 'Pole dance', 'team-4', 'Надежда', '20:00', '21:00')
    //-20:30
    tr
      td.schedule-time 20:30
//-Суббота
table.schedule-table.mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Суббота
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      +schedule-event('2', 'service-1', 'Воздушное кольцо', 'team-1', 'Виктория', '10:00', '11:00')
    //-10:30
    tr
      td.schedule-time 10:30
    //-13:30
    tr
      td.schedule-time 13:30
      +schedule-event('2', 'service-3', 'Йога', 'team-2', 'Михаил', '13:30', '14:30')
    //-14:00
    tr
      td.schedule-time 14:00
    //-16:00
    tr
      td.schedule-time 16:00
      +schedule-event('3', 'service-5', 'Зумба', '', '', '16:00', '17:30')
    //-16:30
    tr
      td.schedule-time 16:00
    //-17:00
    tr
      td.schedule-time 17:00
