//-Понедельник
table.schedule-table-mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Понедельник
  tbody
    //-12:00
    tr
      td.schedule-time 12:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-2.html") Воздушное полотно
        span.schedule-interval 12:00-13:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-12:30
    tr
      td.schedule-time 12:30
    //-14:00
    tr
      td.schedule-time 14:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
        span.schedule-interval 14:00-15:00
        a.schedule-coach(data-ajax href="data/team/team-3.html") Алексей
    //-14:30
    tr
      td.schedule-time 14:30
    //-15:00
    tr
      td.schedule-time 15:00
      td.schedule-event(rowspan="3")
        a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
        span.schedule-interval 15:00-16:30
        a.schedule-coach(data-ajax href="data/team/team-3.html") Алексей
    //-15:30
    tr
      td.schedule-time 15:30
    //-16:00
    tr
      td.schedule-time 16:00
    //-17:00
    tr
      td.schedule-time 17:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 17:00-18:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-17:30
    tr
      td.schedule-time 17:30
    //-18:00
    tr
      td.schedule-time 18:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 18:00-19:00
        a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    //-18:30
    tr
      td.schedule-time 18:30
    //-19:00
    tr
      td.schedule-time 19:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 19:00-20:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-19:30
    tr
      td.schedule-time 19:30
    //-20:00
    tr
      td.schedule-time 20:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 20:00-21:00
        a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    //-20:30
    tr
      td.schedule-time 20:30
//-Вторник
table.schedule-table-mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Вторник
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
        span.schedule-interval 10:00-11:00
        a.schedule-coach(data-ajax href="data/team-1/html") Виктория
    //-10:30
    tr
      td.schedule-time 10:30
    //-12:00
    tr
      td.schedule-time 12:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-2.html") Воздушное полотно
        span.schedule-interval 12:00-13:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-12:30
    tr
      td.schedule-time 12:30
    //-19:00
    tr
      td.schedule-time 19:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-5.html") Зумба
        span.schedule-interval 19:00-20:00
        a.schedule-coach(data-ajax href="data/team/team-4.html")
    //-19:30
    tr
      td.schedule-time 19:30
//-Среда
table.schedule-table-mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Среда
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
        span.schedule-interval 10:00-11:00
        a.schedule-coach(data-ajax href="data/team-1/html") Виктория
    //-10:30
    tr
      td.schedule-time 10:30
    //-17:00
    tr
      td.schedule-time 17:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-3.html") Йога
        span.schedule-interval 17:00-18:00
        a.schedule-coach(data-ajax href="data/team/team-2.html") Михаил
    //-17:30
    tr
      td.schedule-time 17:30
    //-18:00
    tr
      td.schedule-time 18:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 18:00-19:00
        a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    //-18:30
    tr
      td.schedule-time 18:30
    //-20:00
    tr
      td.schedule-time 20:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 20:00-21:00
        a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    //-20:30
    tr
      td.schedule-time 20:30
//-Четверг
table.schedule-table-mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Четверг
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
        span.schedule-interval 10:00-11:00
        a.schedule-coach(data-ajax href="data/team-1/html") Виктория
    //-10:30
    tr
      td.schedule-time 10:30
    //-12:00
    tr
      td.schedule-time 12:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-2.html") Воздушное полотно
        span.schedule-interval 12:00-13:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-12:30
    tr
      td.schedule-time 12:30
    //-14:00
    tr
      td.schedule-time 14:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
        span.schedule-interval 14:00-15:00
        a.schedule-coach(data-ajax href="data/team/team-3.html") Алексей
    //-14:30
    tr
      td.schedule-time 14:30
    //-15:00
    tr
      td.schedule-time 15:00
      td.schedule-event(rowspan="3")
        a.schedule-title(data-ajax href="data/directions/direction-4.html") Хип-хоп
        span.schedule-interval 15:00-16:30
        a.schedule-coach(data-ajax href="data/team/team-3.html") Алексей
    //-15:30
    tr
      td.schedule-time 15:30
    //-16:00
    tr
      td.schedule-time 16:00
//-Пятница
table.schedule-table-mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Пятница
  tbody
    //-17:00
    tr
      td.schedule-time 17:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 17:00-18:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-17:30
    tr
      td.schedule-time 17:30
    //-18:00
    tr
      td.schedule-time 18:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 18:00-19:00
        a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    //-18:30
    tr
      td.schedule-time 18:30
    //-19:00
    tr
      td.schedule-time 19:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 19:00-20:00
        a.schedule-coach(data-ajax href="data/team/team-1.html") Виктория
    //-19:30
    tr
      td.schedule-time 19:30
    //-20:00
    tr
      td.schedule-time 20:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-6.html") Pole dance
        span.schedule-interval 20:00-21:00
        a.schedule-coach(data-ajax href="data/team/team-4.html") Надежда
    //-20:30
    tr
      td.schedule-time 20:30
//-Суббота
table.schedule-table-mobile
  thead
  tr
    th.schedule-day
    th.schedule-day Суббота
  tbody
    //-10:00
    tr
      td.schedule-time 10:00
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-1.html") Воздушное кольцо
        span.schedule-interval 10:00-11:00
        a.schedule-coach(data-ajax href="data/team-1/html") Виктория
    //-10:30
    tr
      td.schedule-time 10:30
    //-13:30
    tr
      td.schedule-time 13:30
      td.schedule-event(rowspan="2")
        a.schedule-title(data-ajax href="data/directions/direction-3.html") Йога
        span.schedule-interval 13:30-14:30
        a.schedule-coach(data-ajax href="data/team/team-2.html") Михаил
    //-14:00
    tr
      td.schedule-time 14:00
    //-16:00
    tr
      td.schedule-time 16:00
      td.schedule-event(rowspan="3")
        a.schedule-title(data-ajax href="data/directions/direction-5.html") Зумба
        span.schedule-interval 16:00-17:30
        a.schedule-coach(data-ajax href="data/team/team-2.html")
    //-16:30
    tr
      td.schedule-time 16:00
    //-17:00
    tr
      td.schedule-time 17:00
























