include ../../templates/mixins/schedule-event
//Обычная
table.schedule-table(data-selected="all")
  thead
    tr
      th.schedule-day
      th.schedule-day Понедельник
      th.schedule-day Вторник
      th.schedule-day Среда
      th.schedule-day Четверг
      th.schedule-day Пятница
  tbody
    //9:00
    tr
      td.schedule-time 9:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //9:30
    tr
      td.schedule-time 9:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //10:00
    tr
      td.schedule-time 10:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //10:30
    tr
      td.schedule-time 10:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //11:00
    tr
      td.schedule-time 11:00
      //Понедельник
      +schedule-event('2', directions.zumbaFitness, coaches.aleksandrUshakov, 'monday', '11:00', '12:00', 'Открытая группа')
      //Вторник
      td
      //Среда
      td
      //Четверг
      +schedule-event('2', directions.zumbaStrong, coaches.aleksandrUshakov, 'thursday', '11:00', '12:00', 'Открытая группа')
      //Пятница
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'friday', '11:00', '12:00')
    //11:30
    tr
      td.schedule-time 11:30
      //Понедельник
      //Вторник
      td
      //Среда
      td
      //Четверг
      //Пятница
    //12:00
    tr
      td.schedule-time 12:00
      //Понедельник
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'monday', '12:00', '13:00', 'Открытая группа')
      //Вторник
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'tuesday', '12:00', '13:00', 'Открытая группа')
      //Среда
      td
      //Четверг
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'thursday', '12:00', '13:00', 'Открытая группа')
      //Пятница
      td
    //12:30
    tr
      td.schedule-time 12:30
      //Понедельник
      //Вторник
      //Среда
      td
      //Четверг
      //Пятница
      td
    //13:00
    tr
      td.schedule-time 13:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //13:30
    tr
      td.schedule-time 13:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //14-00
    tr
      td.schedule-time 14:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //14:30
    tr
      td.schedule-time 14:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //15:00
    tr
      td.schedule-time 15:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //15:30
    tr
      td.schedule-time 15:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //16:00
    tr
      td.schedule-time 16:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //16:30
    tr
      td.schedule-time 16:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //17:00
    tr
      td.schedule-time 17:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //17:30
    tr
      td.schedule-time 17:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //18:00
    tr
      td.schedule-time 18:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //18:30
    tr
      td.schedule-time 18:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //19:00
    tr
      td.schedule-time 19:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      +schedule-event('2', directions.zumbaFitness, coaches.aleksandrUshakov, 'wednesday', '19:00', '20:00', 'Открытая группа')
      //Четверг
      td
      //Пятница
      td
    //19:30
    tr
      td.schedule-time 19:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      //Четверг
      td
      //Пятница
      td
    //20:00
    tr
      td.schedule-time 20:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //20:30
    tr
      td.schedule-time 20:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
    //21:00
    tr
      td.schedule-time 21:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
//Мобильная
//Понедельник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.zumba-fitness.aleksandr-ushakov.stretching.yana-belyakova.monday
      th.schedule-day
      th.schedule-day Понедельник
  tbody
    //9:00
    //9:30
    //10:00
    //11:00
    tr.zumba-fitness.aleksandr-ushakov.monday
      td.schedule-time 11:00
      +schedule-event('2', directions.zumbaFitness, coaches.aleksandrUshakov, 'monday', '11:00', '12:00', 'Открытая группа')
    //11:30
    tr.zumba-fitness.aleksandr-ushakov.monday
      td.schedule-time 11:30
    //12:00
    tr.stretching.yana-belyakova.monday
      td.schedule-time 12:00
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'monday', '12:00', '13:00', 'Открытая группа')
    //12:30
    tr.stretching.yana-belyakova.monday
      td.schedule-time 12:30
    //13:00
    //13:30
    //14:00
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:30
    //20:00
    //20:30
    //21:00
    //Margin
    tr.schedule-table-margin.stretching.zumba-fitness.yana-belyakova.aleksandr-ushakov.monday
      td
//Вторник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.stretching.yana-belyakova.tuesday
      th.schedule-day
      th.schedule-day Вторник
  tbody
    //9:00
    //9:30
    //10:00
    //11:00
    //11:30
    //12:00
    tr.stretching.yana-belyakova.tuesday
      td.schedule-time 12:00
        +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'tuesday', '12:00', '13:00', 'Открытая группа')
    //12:30
    tr.stretching.yana-belyakova.tuesday
      td.schedule-time 12:30
    //13:00
    //13:30
    //14:00
    //14:30
    //15:00
    //16:00
    //16:30
    //17:00
    //17:30
    //18:30
    //19:00
    //19:30
    //20:00
    //20:30
    //21:00
    tr.schedule-table-margin.stretching.yana-belyakova.tuesday
      td
//Среда
table.schedule-table.mobile(data-selected="all")
  thead
    tr.zumba-fitness.aleksandr-ushakov.wednesday
      th.schedule-day
      th.schedule-day Среда
  tbody
    //9:00
    //9:30
    //10:00
    //10:30
    //11:00
    //11:30
    //12:00
    //12:30
    //13:00
    //13:30
    //14:00
    //14:30
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:00
    tr.zumba-fitness.aleksandr-ushakov.wednesday
      td.schedule-time 19:00
      +schedule-event('2', directions.zumbaFitness, coaches.aleksandrUshakov, 'wednesday', '19:00', '20:00', 'Открытая группа')
    //19:30
    tr.zumba-fitness.aleksandr-ushakov.wednesday
      td.schedule-time 19:30
    //20:00
    //20:30
    //21:00
    //Margin
    tr.schedule-table-margin.zumba-fitness.aleksandr-ushakov.wednesday
      td
//Четверг
table.schedule-table.mobile(data-selected="all")
  thead
    tr.zumba-strong.aleksandr-ushakov.stretching.yana-belyakova.thursday
      th.schedule-day
      th.schedule-day Четверг
  tbody
    //9:00
    //9:30
    //10:00
    //10:30
    //11:00
    tr.zumba-strong.aleksandr-ushakov.thursday
      td.schedule-time 11:00
      +schedule-event('2', directions.zumbaStrong, coaches.aleksandrUshakov, 'thursday', '11:00', '12:00', 'Открытая группа')
    //11:30
    tr.zumba-strong.aleksandr-ushakov.thursday
      td.schedule-time 11:30
    //12:00
    tr.stretching.yana-belyakova.thursday
      td.schedule-time 12:00
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'thursday', '12:00', '13:00', 'Открытая группа')
    //12:30
    tr.stretching.yana-belyakova.thursday
      td.schedule-time 12:30
    //13:00
    //13:30
    //14:00
    //14:30
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:00
    //19:30
    //20:00
    //20:30
    //21:00
    //Margin
    tr.schedule-table-margin.stretching.zumba-strong.yana-belyakova.aleksandr-ushakov.thursday
      td
//Пятница
table.schedule-table-margin.schedule-table.mobile(data-selected="all")
  thead
    tr.stretching.yana-belyakova.friday
      th.schedule-day
      th.schedule-day Пятница
  tbody
    //8:30
    //9:00
    //9:30
    //10:00
    //10:30
    //11:00
    tr.stretching.yana-belyakova.friday
      td.schedule-time 11:00
      +schedule-event('2', directions.stretching, coaches.yanaBelyakova, 'friday', '11:00', '12:00', 'Открытая группа')
    //11:30
    tr.stretching.yana-belyakova.friday
      td.schedule-time 11:30
    //12:00
    //12:30
    //13:00
    //13:30
    //14-00
    //14:30
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    //17:30
    //19:00
    //19:30
    //21:00
    //Margin
    tr.schedule-table-margin.stretching.yana-belyakova.friday
      td
