include ../../templates/mixins/schedule-event
//Обычная
table.schedule-table(data-selected="all")
  thead
    tr
      th.schedule-day
      th.schedule-day Понедельник
      th.schedule-day Вторник
      th.schedule-day Среда
      th.schedule-day Четверг
      th.schedule-day Пятница
      th.schedule-day Суббота
  tbody
    //9:00
    tr
      td.schedule-time 9:00
      //Понедельник
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-1', '9:00', '10:30')
      //Вторник
      +schedule-event('3', 'stretching', 'Stretching', '', '', 'day-2', '9:00', '10:30')
      //Среда
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-3', '9:00', '10:30')
      //Четверг
      +schedule-event('3', 'stretching', 'Stretching', '', '', 'day-4', '9:00', '10:30')
      //Пятница
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-5', '9:00', '10:30')
      //Суббота
      td
    //9:30
    tr
      td.schedule-time 9:30
      //Понедельник
      //Вторник
      //Среда
      //Четверг
      //Пятница
      //Суббота
      td
    //10:00
    tr
      td.schedule-time 10:00
      //Понедельник
      //Вторник
      //Среда
      //Четверг
      //Пятница
      //Суббота
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-6', '10:00', '11:00')
    //10:30
    tr
      td.schedule-time 10:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      td
      //Суббота
    //11:00
    tr
      td.schedule-time 11:00
      //Понедельник
      +schedule-event('2', 'zumba-fitness', 'Zumba® Fitness', 'aleksandr-ushakov', 'Александр Ушаков', 'day-1', '11:00', '12:00')
      //Вторник
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-2', '11:00', '12:00')
      //Среда
      +schedule-event('2', 'silk', 'Воздушное полотно', '', '', 'day-3', '11:00', '12:00')
      //Четверг
      +schedule-event('2', 'zumba-strong', 'Strong by Zumba®', 'aleksandr-ushakov', 'Александр Ушаков', 'day-4', '11:00', '12:00')
      //Пятница
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-5', '11:00', '12:00')
      //Суббота
      +schedule-event('2', 'silk', 'Воздушное полотно', '', '', 'day-6', '11:00', '12:00')
    //11:30
    tr
      td.schedule-time 11:30
      //Понедельник
      //Вторник
      //Среда
      //Четверг
      //Пятница
      //Суббота
    //12:00
    tr
      td.schedule-time 12:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      +schedule-event('2', 'stretching', 'Stretching', 'yana-belyakova', 'Яна Белякова', 'day-4', '12:00', '13:00')
      //Пятница
      td
      //Суббота
      td
    //12:30
    tr
      td.schedule-time 12:30
      //Понедельник
      +schedule-event('2', 'stretching-silk', 'Stretching на полотнах', '', '', 'day-1', '12:30', '13:30')
      //Вторник
      +schedule-event('2', 'hoop', 'Воздушное кольцо', '', '', 'day-2', '12:30', '13:30')
      //Среда
      +schedule-event('2', 'stretching-silk', 'Stretching на полотнах', '', '', 'day-3', '12:30', '13:30')
      //Четверг
      //Пятница
      +schedule-event('2', 'hoop', 'Воздушное кольцо', '', '', 'day-5', '12:30', '13:30')
      //Суббота
      td
    //13:00
    tr
      td.schedule-time 13:00
      //Понедельник
      //Вторник
      //Среда
      //Четверг
      td
      //Пятница
      //Суббота
      td
    //13:30
    tr
      td.schedule-time 13:30
      //Понедельник
      +schedule-event('2', 'functional-training', 'Функциональный тренинг', 'yana-belyakova', 'Яна Белякова', 'day-1', '13:30', '14:30')
      //Вторник
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-2', '13:30', '14:30')
      //Среда
      td
      //Четверг
      +schedule-event('2', 'functional-training', 'Функциональный тренинг', 'yana-belyakova', 'Яна Белякова', 'day-4', '13:30', '14:30')
      //Пятница
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-5', '13:30', '14:30')
      //Суббота
      td
    //14-00
    tr
      td.schedule-time 14:00
      //Понедельник
      //Вторник
      //Среда
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-3', '14:00', '15:00')
      //Четверг
      //Пятница
      //Суббота
      +schedule-event('2', 'plastic', 'Женская пластика', 'yana-belyakova', 'Яна Белякова', 'day-6', '14:00', '15:00')
    //14:30
    tr
      td.schedule-time 14:30
      //Понедельник
      td
      //Вторник
      +schedule-event('2', 'rhythmic-gymnastics', 'Художественная гимнастика', '', '', 'day-2', '14:30', '15:30')
      //Среда
      //Четверг
      td
      //Пятница
      +schedule-event('2', 'rhythmic-gymnastics', 'Художественная гимнастика', '', '', 'day-5', '14:30', '15:30')
      //Суббота
    //15:00
    tr
      td.schedule-time 15:00
      //Понедельник
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'yana-belyakova', 'Яна Белякова', 'day-1', '15:00', '16:00')
      //Вторник
      //Среда
      td
      //Четверг
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'yana-belyakova', 'Яна Белякова', 'day-4', '15:00', '16:00')
      //Пятница
      //Суббота
      +schedule-event('2', 'functional-training', 'Функциональный тренинг', 'yana-belyakova', 'Яна Белякова', 'day-6', '15:00', '16:00')
    //15:30
    tr
      td.schedule-time 15:30
      //Понедельник
      //Вторник
      td
      //Среда
      td
      //Четверг
      //Пятница
      td
      //Суббота
    //16:00
    tr
      td.schedule-time 16:00
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-5', '16:00', '17:00')
      //Суббота
      +schedule-event('2', 'stretching', 'Stretching', 'yana-belyakova', 'Яна Белякова', 'day-6', '16:00', '17:00')
    //16:30
    tr
      td.schedule-time 16:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      //Суббота
    //17:00
    tr
      td.schedule-time 17:00
      //Понедельник
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-1', '17:00', '18:00')
      //Вторник
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-2', '17:00', '18:00')
      //Среда
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-3', '17:00', '18:00')
      //Четверг
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-4', '17:00', '18:00')
      //Пятница
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-5', '17:00', '18:00')
      //Суббота
      td
    //17:30
    tr
      td.schedule-time 17:30
      //Понедельник
      //Вторник
      //Среда
      //Четверг
      //Пятница
      //Суббота
      td
    //18:00
    tr
      td.schedule-time 18:00
      //Понедельник
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-1', '18:00', '19:00')
      //Вторник
      td
      //Среда
      td
      //Четверг
      td
      //Пятница
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-5', '18:00', '19:00')
      //Суббота
      td
    //18:30
    tr
      td.schedule-time 18:30
      //Понедельник
      //Вторник
      td
      //Среда
      td
      //Четверг
      +schedule-event('2', 'silk', 'Воздушное полотно', '', '', 'day-4', '18:30', '19:30')
      //Пятница
      //Суббота
      td
    //19:00
    tr
      td.schedule-time 19:00
      //Понедельник
      td
      //Вторник
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-2', '19:00', '20:30')
      //Среда
      +schedule-event('2', 'zumba-fitness', 'Zumba® Fitness', 'aleksandr-ushakov', 'Александр Ушаков', 'day-3', '19:00', '20:00')
      //Четверг
      //Пятница
      td
      //Суббота
      td
    //19:30
    tr
      td.schedule-time 19:30
      //Понедельник
      td
      //Вторник
      //Среда
      //Четверг
      td
      //Пятница
      +schedule-event('2', 'plastic', 'Женская пластика', 'yana-belyakova', 'Яна Белякова', 'day-5', '19:30', '20:30')
      //Суббота
      td
    //20:00
    tr
      td.schedule-time 20:00
      //Понедельник
      +schedule-event('3', 'contemporary', 'Контемпорари', '', '', 'day-1', '20:00', '21:30')
      //Вторник
      //Среда
      td
      //Четверг
      +schedule-event('3', 'contemporary', 'Контемпорари', '', '', 'day-4', '20:00', '21:30')
      //Пятница
      //Суббота
      td
    //20:30
    tr
      td.schedule-time 20:30
      //Понедельник
      //Вторник
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-2', '20:30', '21:30')
      //Среда
      td
      //Четверг
      //Пятница
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-5', '20:30', '21:30')
      //Суббота
      td
    //21:00
    tr
      td.schedule-time 21:00
      //Понедельник
      //Вторник
      //Среда
      +schedule-event('2', 'stretching', 'Stretching', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-3', '21:00', '22:00')
      //Четверг
      //Пятница
      //Суббота
      td
    //21:30
    tr
      td.schedule-time 21:30
      //Понедельник
      td
      //Вторник
      td
      //Среда
      //Четверг
      td
      //Пятница
      td
      //Суббота
      td
//Мобильная
//Понедельник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.yoga.pole-dance.stretching.stretching-silk.functional-training.zumba-fitness.contemporary.nadezhda-luchinina.yana-belyakova.aleksandr-ushakov.day-1
      th.schedule-day
      th.schedule-day Понедельник
  tbody
    //9:00
    tr.yoga.day-1
      td.schedule-time 9:00
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-1', '9:00', '10:30')
    //9:30
    tr.yoga.day-1
      td.schedule-time 9:30
    //10:00
    tr.yoga.day-1
      td.schedule-time 10:00
    //11:00
    tr.zumba-fitness.aleksandr-ushakov.day-1
      td.schedule-time 11:00
      +schedule-event('2', 'zumba-fitness', 'Zumba® Fitness', 'aleksandr-ushakov', 'Александр Ушаков', 'day-1', '11:00', '12:00')
    //11:30
    tr.zumba-fitness.aleksandr-ushakov.day-1
      td.schedule-time 11:30
    //12:30
    tr.stretching-silk.day-1
      td.schedule-time 12:30
      +schedule-event('2', 'stretching-silk', 'Stretching на полотнах', '', '', 'day-1', '12:30', '13:30')
    //13:00
    tr.stretching-silk.day-1
      td.schedule-time 13:00
    //13:30
    tr.functional-training.yana-belyakova.day-1
      td.schedule-time 13:30
      +schedule-event('2', 'functional-training', 'Функциональный тренинг', 'yana-belyakova', 'Яна Белякова', 'day-1', '13:30', '14:30')
    //14:00
    tr.functional-training.yana-belyakova.day-1
      td.schedule-time 14:30
    //15:00
    tr.pole-dance.yana-belyakova.day-1
      td.schedule-time 15:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'yana-belyakova', 'Яна Белякова', 'day-1', '15:00', '16:00')
    //15:30
    tr.pole-dance.yana-belyakova.day-1
      td.schedule-time 15:30
    //16:00
    //16:30
    //17:00
    tr.pole-dance.nadezhda-luchinina.day-1
      td.schedule-time 17:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-1', '17:00', '18:00')
    //17:30
    tr.pole-dance.nadezhda-luchinina.day-1
      td.schedule-time 17:30
    //18:00
    tr.pole-dance.nadezhda-luchinina.day-1
      td.schedule-time 18:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-1', '18:00', '19:00')
    //18:30
    tr.pole-dance.nadezhda-luchinina.day-1
      td.schedule-time 18:30
    //19:30
    //20:00
    tr.contemporary.day-1
      td.schedule-time 20:00
      +schedule-event('3', 'contemporary', 'Контемпорари', '', '', 'day-1', '20:00', '21:30')
    //20:30
    tr.contemporary.day-1
      td.schedule-time 20:30
    //21:00
    tr.contemporary.day-1
      td.schedule-time 21:00
    //21:30
    //Margin
    tr.schedule-table-margin.yoga.pole-dance.stretching.stretching-silk.functional-training.zumba-fitness.contemporary.nadezhda-luchinina.yana-belyakova.aleksandr-ushakov.day-1
      td
//Вторник
table.schedule-table.mobile(data-selected="all")
  thead
    tr.pole-dance.stretching.hoop.rhythmic-gymnastics.yoga.day-2
      th.schedule-day
      th.schedule-day Вторник
  tbody
    //9:00
    tr.stretching.day-2
      td.schedule-time 9:00
      +schedule-event('3', 'stretching', 'Stretching', '', '', 'day-2', '9:00', '10:30')
    //9:30
    tr.stretching.day-2
      td.schedule-time 9:30
    //10:00
    tr.stretching.day-2
      td.schedule-time 10:00
    //11:00
    tr.pole-dance.day-2
      td.schedule-time 11:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-2', '11:00', '12:00')
    //11:30
    tr.pole-dance.day-2
      td.schedule-time 11:30
    //12:30
    tr.hoop.day-2
      td.schedule-time 12:30
      +schedule-event('2', 'hoop', 'Воздушное кольцо', '', '', 'day-2', '12:30', '13:30')
    //13:00
    tr.hoop.day-2
      td.schedule-time 13:00
    //13:30
    tr.stretching.day-2
      td.schedule-time 13:30
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-2', '13:30', '14:30')
    //14:00
    tr.stretching.day-2
      td.schedule-time 14:00
    //14:30
    tr.rhythmic-gymnastics.day-2
      td.schedule-time 14:30
      +schedule-event('2', 'rhythmic-gymnastics', 'Художественная гимнастика', '', '', 'day-2', '14:30', '15:30')
    //15:00
    tr.rhythmic-gymnastics.day-2
      td.schedule-time 15:00
    //16:00
    //16:30
    //17:00
    tr.pole-dance.day-2
      td.schedule-time 17:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-2', '17:00', '18:00')
    //17:30
    tr.pole-dance.day-2
      td.schedule-time 17:30
    //18:30
    //19:00
    tr.yoga.day-2
      td.schedule-time 19:00
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-2', '19:00', '20:30')
    //19:30
    tr.yoga.day-2
      td.schedule-time 19:30
    //20:00
    tr.yoga.day-2
      td.schedule-time 20:00
    //20:30
    tr.stretching.day-2
      td.schedule-time 20:30
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-2', '20:30', '21:30')
    //21:00
    tr.stretching.day-2
      td.schedule-time 21:00
    tr.schedule-table-margin.pole-dance.stretching.hoop.rhythmic-gymnastics.yoga.day-2
      td
//Среда
table.schedule-table.mobile(data-selected="all")
  thead
    tr.yoga.pole-dance.stretching.stretching-silk.silk.zumba-fitness.nadezhda-luchinina.aleksandr-ushakov.day-3
      th.schedule-day
      th.schedule-day Среда
  tbody
    //9:00
    tr.yoga.day-3
      td.schedule-time 9:00
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-3', '9:00', '10:30')
    //9:30
    tr.yoga.day-3
      td.schedule-time 9:30
    //10:00
    tr.yoga.day-3
      td.schedule-time 10:00
    //10:30
    //11:00
    tr.silk.day-3
      td.schedule-time 11:00
      +schedule-event('2', 'silk', 'Воздушное полотно', '', '', 'day-3', '11:00', '12:00')
    //11:30
    tr.silk.day-3
      td.schedule-time 11:30
    //12:00
    //12:30
    tr.stretching-silk.day-3
      td.schedule-time 12:30
      +schedule-event('2', 'stretching-silk', 'Stretching на полотнах', '', '', 'day-3', '12:30', '13:30')
    //13:00
    tr.stretching-silk.day-3
      td.schedule-time 13:00
    //13:30
    //14:00
    tr.pole-dance.day-3
      td.schedule-time 14:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-3', '14:00', '15:00')
    //14:30
    tr.pole-dance.day-3
      td.schedule-time 14:30
    //15:00
    //15:30
    //16:00
    //16:30
    //17:00
    tr.pole-dance.nadezhda-luchinina.day-3
      td.schedule-time 17:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-3', '17:00', '18:00')
    //17:30
    tr.pole-dance.nadezhda-luchinina.day-3
      td.schedule-time 17:30
    //18:00
    //18:30
    //19:00
    tr.zumba-fitness.aleksandr-ushakov.day-3
      td.schedule-time 19:00
      +schedule-event('2', 'zumba-fitness', 'Zumba® Fitness', 'aleksandr-ushakov', 'Александр Ушаков', 'day-3', '19:00', '20:00')
    //19:30
    tr.zumba-fitness.aleksandr-ushakov.day-3
      td.schedule-time 19:30
    //20:00
    //20:30
    //21:00
    tr.stretching.nadezhda-luchinina.day-3
      td.schedule-time 21:00
      +schedule-event('2', 'stretching', 'Stretching', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-3', '21:00', '22:00')
    //21:30
    tr.stretching.nadezhda-luchinina.day-3
      td.schedule-time 21:30
    //Margin
    tr.schedule-table-margin.yoga.pole-dance.stretching.stretching-silk.zumba-fitness.aleksandr-ushakov.silk.nadezhda-luchinina.day-3
      td
//Четверг
table.schedule-table.mobile(data-selected="all")
  thead
    tr.pole-dance.stretching.silk.functional-training.zumba-strong.contemporary.yana-belyakova.aleksandr-ushakov.day-4
      th.schedule-day
      th.schedule-day Четверг
  tbody
    //9:00
    tr.stretching.day-4
      td.schedule-time 9:00
      +schedule-event('3', 'stretching', 'Stretching', '', '', 'day-4', '9:00', '10:30')
    //9:30
    tr.stretching.day-4
      td.schedule-time 9:30
    //10:00
    tr.stretching.day-4
      td.schedule-time 10:00
    //10:30
    //11:00
    tr.zumba-strong.aleksandr-ushakov.day-4
      td.schedule-time 11:00
      +schedule-event('2', 'zumba-strong', 'Strong by Zumba®', 'aleksandr-ushakov', 'Александр Ушаков', 'day-4', '11:00', '12:00')
    //11:30
    tr.zumba-strong.aleksandr-ushakov.day-4
      td.schedule-time 11:30
    //12:00
    tr.stretching.yana-belyakova.day-4
      td.schedule-time 12:00
      +schedule-event('2', 'stretching', 'Stretching', 'yana-belyakova', 'Яна Белякова', 'day-4', '12:00', '13:00')
    //12:30
    tr.stretching.yana-belyakova.day-4
      td.schedule-time 12:30
    //13:00
    //13:30
    tr.functional-training.yana-belyakova.day-4
      td.schedule-time 13:30
      +schedule-event('2', 'functional-training', 'Функциональный тренинг', 'yana-belyakova', 'Яна Белякова', 'day-4', '13:30', '14:30')
    //14:00
    tr.functional-training.yana-belyakova.day-4
      td.schedule-time 14:00
    //14:30
    //15:00
    tr.pole-dance.yana-belyakova.day-4
      td.schedule-time 15:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'yana-belyakova', 'Яна Белякова', 'day-4', '15:00', '16:00')
    //15:30
    tr.pole-dance.yana-belyakova.day-4
      td.schedule-time 15:30
    //16:00
    //16:30
    //17:00
    tr.pole-dance.day-4
      td.schedule-time 17:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-4', '17:00', '18:00')
    //17:30
    tr.pole-dance.day-4
      td.schedule-time 17:30
    //18:00
    //18:30
    tr.silk.day-4
      td.schedule-time 18:30
      +schedule-event('2', 'silk', 'Воздушное полотно', '', '', 'day-4', '18:30', '19:30')
    //19:00
    tr.silk.day-4
      td.schedule-time 19:00
    //19:30
    //20:00
    tr.contemporary.day-4
      td.schedule-time 20:00
      +schedule-event('3', 'contemporary', 'Контемпорари', '', '', 'day-4', '20:00', '21:30')
    //20:30
    tr.contemporary.day-4
      td.schedule-time 20:30
    //21:00
    tr.contemporary.day-4
      td.schedule-time 21:00
    //21:30
    //Margin
    tr.schedule-table-margin.pole-dance.stretching.silk.functional-training.contemporary.zumba-strong.yana-belyakova.aleksandr-ushakov.day-4
      td
//Пятница
table.schedule-table.mobile(data-selected="all")
  thead
    tr.yoga.pole-dance.stretching.hoop.rhythmic-gymnastics.plastic.nadezhda-luchinina.yana-belyakova.day-5
      th.schedule-day
      th.schedule-day Пятница
  tbody
    //8:30
    //9:00
    tr.yoga.day-5
      td.schedule-time 9:00
      +schedule-event('3', 'yoga', 'Королевская йога', '', '', 'day-5', '9:00', '10:30')
    //9:30
    tr.yoga.day-5
      td.schedule-time 9:30
    //10:00
    tr.yoga.day-5
      td.schedule-time 10:00
    //10:30
    //11:00
    tr.pole-dance.day-5
      td.schedule-time 11:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-5', '11:00', '12:00')
    //11:30
    tr.pole-dance.day-5
      td.schedule-time 11:30
    //12:00
    //12:30
    tr.hoop.day-5
      td.schedule-time 12:30
      +schedule-event('2', 'hoop', 'Воздушное кольцо', '', '', 'day-5', '12:30', '13:30')
    //13:00
    tr.hoop.day-5
      td.schedule-time 13:00
    //13:30
    tr.stretching.day-5
      td.schedule-time 13:30
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-5', '13:30', '14:30')
    //14-00
    tr.stretching.day-5
      td.schedule-time 14:00
    //14:30
    tr.rhythmic-gymnastics.day-5
      td.schedule-time 14:30
      +schedule-event('2', 'rhythmic-gymnastics', 'Художественная гимнастика', '', '', 'day-5', '14:30', '15:30')
    //15:00
    tr.rhythmic-gymnastics.day-5
      td.schedule-time 15:00
    //15:30
    //16:00
    tr.pole-dance.day-5
      td.schedule-time 16:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', '', '', 'day-5', '16:00', '17:00')
    //16:30
    tr.pole-dance.day-5
      td.schedule-time 16:30
    //17:00
    tr.pole-dance.nadezhda-luchinina.day-5
      td.schedule-time 17:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-5', '17:00', '18:00')
    //17:30
    tr.pole-dance.nadezhda-luchinina.day-5
      td.schedule-time 17:30
    //18:00
    tr.pole-dance.nadezhda-luchinina.day-5
      td.schedule-time 18:00
      +schedule-event('2', 'pole-dance', 'Pole Dance', 'nadezhda-luchinina', 'Надежда Лучинина', 'day-5', '18:00', '19:00')
    //18:30
    tr.pole-dance.nadezhda-luchinina.day-5
      td.schedule-time 18:30
    //19:00
    //19:30
    tr.plastic.yana-belyakova.day-5
      td.schedule-time 19:30
      +schedule-event('2', 'plastic', 'Женская пластика', 'yana-belyakova', 'Яна Белякова', 'day-5', '19:30', '20:30')
    //20:00
    tr.plastic.yana-belyakova.day-5
      td.schedule-time 20:00
    //20:30
    tr.stretching.day-5
      td.schedule-time 20:30
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-5', '20:30', '21:30')
    //21:00
    tr.stretching.day-5
      td.schedule-time 21:00
    //21:30
    //Margin
    tr.schedule-table-margin.yoga.pole-dance.stretching.hoop.rhythmic-gymnastics.plastic.nadezhda-luchinina.yana-belyakova.day-5
      td
//Суббота
table.schedule-table.mobile(data-selected="all")
  thead
    tr.stretching.silk.functional-training.plastic.yana-belyakova.day-6
      th.schedule-day
      th.schedule-day Суббота
  tbody
    //8:30
    //9:00
    //9:30
    //10:00
    tr.stretching.day-6
      td.schedule-time 10:00
      +schedule-event('2', 'stretching', 'Stretching', '', '', 'day-6', '10:00', '11:00')
    //10:30
    tr.stretching.day-6
      td.schedule-time 10:30
    //11:00
    tr.silk.day-6
      td.schedule-time 11:00
      +schedule-event('2', 'silk', 'Воздушное полотно', '', '', 'day-6', '11:00', '12:00')
    //11:30
    tr.silk.day-6
      td.schedule-time 11:30
    //12:00
    //12:30
    //13:00
    //13:30
    //14:00
    tr.plastic.yana-belyakova.day-6
      td.schedule-time 14:00
      +schedule-event('2', 'plastic', 'Женская пластика', 'yana-belyakova', 'Яна Белякова', 'day-6', '14:00', '15:00')
    //14:30
    tr.plastic.yana-belyakova.day-6
      td.schedule-time 14:30
    //15:00
    tr.functional-training.yana-belyakova.day-6
      td.schedule-time 15:00
      +schedule-event('2', 'functional-training', 'Функциональный тренинг', 'yana-belyakova', 'Яна Белякова', 'day-6', '15:00', '16:00')
    //15:30
    tr.functional-training.yana-belyakova.day-6
      td.schedule-time 15:30
    //16:00
    tr.stretching.yana-belyakova.day-6
      td.schedule-time 16:00
      +schedule-event('2', 'stretching', 'Stretching', 'yana-belyakova', 'Яна Белякова', 'day-6', '16:00', '17:00')
    //16:30
    tr.stretching.yana-belyakova.day-6
      td.schedule-time 16:30
    //17:00
    //17:30
    //18:00
    //18:30
    //19:00
    //19:30
    //20:00
    //20:30
    //21:00
    //21:30
