@import '../../../styles/variables';
@import '../../../styles/mixins';

.card {
  @include img-container(66.666666%);

  .card-footer {
    padding-top: 0;

    a {
      transition: color 0.1s $function;
      text-decoration: none;
    }
  }
}
