extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, coaches } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.nadezhdaLuchinina.title
    title= pages.nadezhdaLuchinina.title
  if pages.nadezhdaLuchinina.description
    meta(name='description', content= pages.nadezhdaLuchinina.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /coach\./i)
//-HEADER
append header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  //Page title
  +pageTitle(pages.nadezhdaLuchinina)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title text-center')
                | Надежда Лучинина
              blockquote(class='blockquote')
                p(class='card-text')
                  | &laquo;В каждой из нас живет танец. Мы учим не движения, мы узнаем&nbsp;себя.&raquo;
                footer(class='blockquote-footer')
                  cite(title='Надежда Лучинина') Надежда Лучинина
              p(class='card-text')
                  | Надежда Лучинина - успешный преподаватель-хореограф в направлении <a href='services/poleDance.html'>Pole&nbsp;Dance</a>.
              p(class='card-text')
                | В 2012г Надежда Лучинина стала пополнять копилку своих достижений:
              ul
                li "Золотой пилон", акробатик, профи - 3 место, г.Краснодар
                li "Pole Power" профи - 1место, г.Череповец
                li "Miss Pole Dance Battle Final" артистик - 2 место, г.Санкт- Петербург
                li "Pole Star" 2013, акробатик, профи - 1 место, г.Самара
                li "Золотой пилон", акробатик профи - 2 место, г.Краснодар
                li "Pole Star" 2015 акробатик профи - 2 место, г.Самара
                li "Dance Fest Drive Арт" профи - 3 место, г.Санкт Петербург
                li "Exotic Hard" - 2 место, Москва
                li "Lady Dance Show" 2016 экзот профи - 4 место, г.Москва
                li "Волна Успеха" 2015 пилон профи - 1 место, г.Санкт Петербург
                li "Pole Star" 2015 акробатик профи - 2 место, г.Самара
                li "Dance Fest Drive Арт" профи - 3 место, г.Санкт-Петербург
                li "Волна Успеха" 2015 пилон профи - 1 место
              p(class='card-text')
                | Не останавливаясь в профессиональном росте, в 2014 году получила аттестацию Межрегиональной Организации Спорта и Танца на пилоне (МОСТП).
              p(class='card-text')
                | На тренировках Надежда научит Вас управлять и наслаждаться движением  своего тела, поскольку, тело — это самый прекрасный инструмент, которым мы когда-либо обладали.
            //Footer
            div(class='card-footer coach-footer')
              div(class='coach-direction-link')
                h5(class='card-text')
                  i(class='far fa-list-alt fa-lg')
                  | &nbsp;
                  | <b>Направления:<b>
                ul
                  each direction in coaches.nadezhdaLuchinina.directions
                    li
                      a(href= direction.link)= direction.title
              div(class='coach-schedule-link')
                h5(class='card-text')
                  a(class='coach-schedule-link', href=`schedule.html?direction=all&coach=nadezhda-luchinina&day=all`)
                    i(class='far fa-calendar-alt fa-lg')
                    | &nbsp;
                    | Расписание занятий
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /coach\./i)
