extends ../../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../../images/icons/favicon.ico')
  -var logo = require('../../../images/logo/logo.png')
append content
  div(id='content')
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Image
            //div(class='image-container')
            //  img(class='card-img-top', src= require(
            //    '../../../images/services/healthyBack/001-healthyBack-600x400.jpg'), alt='Воздушное кольцо | Над Дождём', srcset= require(
            //    '../../../images/services/healthyBack/001-healthyBack-600x400.jpg') + ' 600w,' +
            //  require('../../../images/services/healthyBack/001-healthyBack-800x533.jpg') + ' 800w')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title')
                | Здоровая спина
              //Subtitle
              p(class='card-subtitle')
                | Одно занятие - 750 руб
                br
                | Пробное занятие - 500 руб
              p(class='card-text')
                | Пора уже снять груз с плеч и свободно вдохнуть полной грудью!
                br
                | Что такое программа «Здоровая спина»?
                br
                | Это именно тот вид тренировки который направлен на профилактику заболеваний позвоночника (остеохондроз шейного и поясничного отделов, грыжа межпозвоночных дисков).
              p(class='card-text')
                | В основе программы лежат мягкие упражнения от боли в спине из фитнеса, приемы из метода телесной терапии, элементы йоги и растяжки, которые обеспечивают комплексную проработку мышц-стабилизаторов, удерживающих позвоночник в правильном положении, способствуют растягиванию, улучшают гибкость и восстанавливают подвижность.
                br
                | Секрет положительного эффекта в том, что улучшается кровообращение, уходит мышечное напряжение, при растяжении мышцы в несколько раз снижается нагрузка на позвоночник, в результате чего расстояние между межпозвоночными дисками увеличивается естественным путем.
                br
                | Мы набираем мини-группы до 5 человек. Продолжительность занятия с упражнениями для спины составляет 60 минут.
                br
                | Подарите себе лёгкость движений. Позвольте своему телу слушаться вас. Устраните зажимы и избавьтесь от болезненных нездоровых ощущений.
              p(class='card-text')
                | Ограничения для посещения занятий:
                br
                | Период обострения болезни, показания к операции, грыжа больше 1.2, через 6-7 недель после хирургического вмешательства.

            if data.directions.healthyBack.coaches || data.directions.healthyBack.schedule
              //Footer
              div(class='card-footer service-footer')
                if data.directions.healthyBack.coaches
                  div(class='coach-direction-link')
                    h5(class='card-text')
                      i(class='far fa-list-alt fa-lg')
                      | &nbsp;
                      | Тренеры:
                    ul
                      each coach in data.directions.healthyBack.coaches
                        li
                          if coach.link
                            a(href= coach.link)= coach.title
                          else
                            | #{coach.title}
                if data.directions.healthyBack.schedule
                  div(class='coach-schedule-link')
                    h5(class='card-text')
                      a(class='coach-schedule-link', href= data.directions.healthyBack.schedule )
                        i(class='far fa-calendar-alt fa-lg')
                        | &nbsp;
                        | Расписание занятий
