extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.healthyBack.title
    title= pages.healthyBack.title
  if pages.healthyBack.description
    meta(name='description', content= pages.healthyBack.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /service\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.healthyBack)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Image
            //div(class='image-container')
            //  img(class='card-img-top', src= require(
            //    '../../../images/services/healthyBack/001-healthyBack-600x400.jpg'), alt='Воздушное кольцо | Над Дождём', srcset= require(
            //    '../../../images/services/healthyBack/001-healthyBack-600x400.jpg') + ' 600w,' +
            //  require('../../../images/services/healthyBack/001-healthyBack-800x533.jpg') + ' 800w')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title')
                | Здоровая спина
              //Subtitle
              p(class='card-subtitle')
                | Одно занятие - 750 руб
                br
                | Пробное занятие - 500 руб
              p(class='card-text')
                | Пора уже снять груз с плеч и свободно вдохнуть полной грудью!
                br
                | Что такое программа «Здоровая спина»?
                br
                | Это именно тот вид тренировки который направлен на профилактику заболеваний позвоночника (остеохондроз шейного и поясничного отделов, грыжа межпозвоночных дисков).
              p(class='card-text')
                | В основе программы лежат мягкие упражнения от боли в спине из фитнеса, приемы из метода телесной терапии, элементы йоги и растяжки, которые обеспечивают комплексную проработку мышц-стабилизаторов, удерживающих позвоночник в правильном положении, способствуют растягиванию, улучшают гибкость и восстанавливают подвижность.
                br
                | Секрет положительного эффекта в том, что улучшается кровообращение, уходит мышечное напряжение, при растяжении мышцы в несколько раз снижается нагрузка на позвоночник, в результате чего расстояние между межпозвоночными дисками увеличивается естественным путем.
                br
                | Мы набираем мини-группы до 5 человек. Продолжительность занятия с упражнениями для спины составляет 60 минут.
                br
                | Подарите себе лёгкость движений. Позвольте своему телу слушаться вас. Устраните зажимы и избавьтесь от болезненных нездоровых ощущений.
              p(class='card-text')
                | Ограничения для посещения занятий:
                br
                | Период обострения болезни, показания к операции, грыжа больше 1.2, через 6-7 недель после хирургического вмешательства.

            //Footer
            div(class='card-footer coach-footer')
              div(class='coach-direction-link')
                h5(class='card-text')
                  i(class='far fa-list-alt fa-lg')
                  | &nbsp;
                  | <b>Тренеры:<b>
                ul
                  // each coach in directions.aleksandrUshakov.directions
                    li
                      a(href= direction.link)= direction.title
              div(class='coach-schedule-link')
                h5(class='card-text')
                  a(class='coach-schedule-link', href=`schedule.html?direction=all&coach=aleksandr-ushakov&day=all`)
                    i(class='far fa-calendar-alt fa-lg')
                    | &nbsp;
                    | Расписание занятий
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /service\./i)
