extends ../../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../../images/icons/favicon.ico')
  -var logo = require('../../../images/logo/logo.png')
append content
  div(id='content')
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            div(class='image-container')
              img(class='card-img-top', src= require(
                '../../../images/services/hoop/001-hoop-600x400.jpg'), alt='Воздушное кольцо | Над Дождём', srcset= require(
                '../../../images/services/hoop/001-hoop-600x400.jpg') + ' 600w,' +
              require('../../../images/services/hoop/001-hoop-1200x800.jpg') + ' 1200w')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title')
                | Воздушное кольцо
              //Subtitle
              p(class='card-subtitle')
                | Одно занятие - 750 руб
                br
                | Пробное занятие - 500 руб
              p(class='card-text')
                | Воздушное кольцо - спортивное увлечение, благодаря которому вы незаметно приобретете красивые формы тела. Посещая эти занятия, вы сможете выполнять эффектные и захватывающие трюки. Окунетесь в мир воздушного искусства и почувствуйте себя настоящим артистом.
              p(class='card-text')
                | После месяца активных тренировок вы заметите свободу в движениях, легкость и подъем жизненной энергии.
            if data.directions.hoop.coaches || data.directions.hoop.schedule
              //Footer
              div(class='card-footer service-footer')
                if data.directions.hoop.coaches
                  div(class='coach-direction-link')
                    h5(class='card-text')
                      i(class='far fa-list-alt fa-lg')
                      | &nbsp;
                      | Тренеры:
                    ul
                      each coach in data.directions.hoop.coaches
                        li
                          if coach.link
                            a(href= coach.link)= coach.title
                          else
                            | #{coach.title}
                if directions.hoop.schedule
                  div(class='coach-schedule-link')
                    h5(class='card-text')
                      a(class='coach-schedule-link', href= data.directions.hoop.schedule )
                        i(class='far fa-calendar-alt fa-lg')
                        | &nbsp;
                        | Расписание занятий
