extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, directions } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.hoop.title
    title= pages.hoop.title
  if pages.hoop.description
    meta(name='description', content= pages.hoop.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /service\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.hoop)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Image
            div(class='image-container')
              img(class='card-img-top', src= require(
                '../../../images/services/hoop/001-hoop-600x400.jpg'), alt='Воздушное кольцо | Над Дождём', srcset= require(
                '../../../images/services/hoop/001-hoop-600x400.jpg') + ' 600w,' +
              require('../../../images/services/hoop/001-hoop-800x533.jpg') + ' 800w')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title')
                | Воздушное кольцо
              //Subtitle
              p(class='card-subtitle')
                | Одно занятие - 750 руб
                br
                | Пробное занятие - 500 руб
              p(class='card-text')
                | Воздушное кольцо - спортивное увлечение, благодаря которому вы незаметно приобретете красивые формы тела. Посещая эти занятия, вы сможете выполнять эффектные и захватывающие трюки. Окунетесь в мир воздушного искусства и почувствуйте себя настоящим артистом.
              p(class='card-text')
                | После месяца активных тренировок вы заметите свободу в движениях, легкость и подъем жизненной энергии.
            if directions.hoop.coaches || directions.hoop.schedule
              //Footer
              div(class='card-footer service-footer')
                if directions.hoop.coaches
                  div(class='coach-direction-link')
                    h5(class='card-text')
                      i(class='far fa-list-alt fa-lg')
                      | &nbsp;
                      | Тренеры:
                    ul
                       each coach in directions.hoop.coaches
                        li
                          a(href= coach.link)= coach.title
                if directions.hoop.schedule
                  div(class='coach-schedule-link')
                    h5(class='card-text')
                      a(class='coach-schedule-link', href= directions.hoop.schedule )
                        i(class='far fa-calendar-alt fa-lg')
                        | &nbsp;
                        | Расписание занятий
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /service\./i)
