extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, directions } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.rent.title
    title= pages.rent.title
  if pages.rent.description
    meta(name='description', content= pages.rent.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /service\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.rent)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Carousel
            div(id='rentCarousel', class='carousel slide', data-ride='carousel')
              ol(class='carousel-indicators')
                li(data-target='#rentCarousel', data-slide-to='0', class='active')
                li(data-target='#rentCarousel', data-slide-to='1')
                li(data-target='#rentCarousel', data-slide-to='2')
                li(data-target='#rentCarousel', data-slide-to='3')
              div(class='carousel-inner')
                div(class='carousel-item active')
                  div(class='image-container')
                    img(class='d-block', src= require('../../../images/services/rent/001-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require('../../../images/services/rent/001-rent-600x400.jpg') + ' 600w, ' + require('../../../images/services/rent/001-rent-800x533.jpg') + ' 800w')
                div(class='carousel-item')
                  div(class='image-container')
                    img(class='d-block', src= require('../../../images/services/rent/002-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require('../../../images/services/rent/002-rent-600x400.jpg') + ' 600w, ' + require('../../../images/services/rent/002-rent-800x533.jpg') + ' 800w')
                div(class='carousel-item')
                  div(class='image-container')
                    img(class='d-block', src= require('../../../images/services/rent/003-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require('../../../images/services/rent/003-rent-600x400.jpg') + ' 600w, ' + require('../../../images/services/rent/003-rent-800x533.jpg') + ' 800w')
                div(class='carousel-item')
                  div(class='image-container')
                    img(class='d-block', src= require(
                    '../../../images/services/rent/004-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require(
                    '../../../images/services/rent/004-rent-600x400.jpg') + ' 600w, ' +
                  require('../../../images/services/rent/004-rent-800x533.jpg') + ' 800w')
                a(class='carousel-control-prev', href='#rentCarousel', role='button', data-slide='prev')
                  span(class='carousel-control-prev-icon' aria-hidden='true')
                  span(class='sr-only') Previous
                a(class='carousel-control-next' href='#rentCarousel' role='button' data-slide='next')
                  span(class='carousel-control-next-icon' aria-hidden='true')
                  span(class='sr-only') Next
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title')
                | Аренда сценической площадки
              //Subtitle
              p(class='card-subtitle')
                | от 25 000 до 40 000 руб
              p(class='card-text')
                | В танцевальном замке "Над дождём" возможно арендовать сценическую площадку для проведения отчетного концерта, творческого вечера, спектакля, семинара, мастер-класса и других различных мероприятий.
              p(class='card-text')
                |В вашем распоряжении легко возводимая модульная сцена, бархатный занавес, проф. световое и музыкальное оборудование, быстросъемные двух-режимные пилоны, воздушные кольца и полотна.
              p(class='card-text')
                //TODO: 'bold?'
                |Ограничения:
                br
                |Максимальное количество гостей вместе с выступающими не более 60 человек.
            if directions.rent.coaches || directions.rent.schedule
              //Footer
              div(class='card-footer service-footer')
                if directions.rent.coaches
                  div(class='coach-direction-link')
                    h5(class='card-text')
                      i(class='far fa-list-alt fa-lg')
                      | &nbsp;
                      | Тренеры:
                    ul
                      each coach in directions.rent.coaches
                        li
                          a(href= coach.link)= coach.title
                if directions.rent.schedule
                  div(class='coach-schedule-link')
                    h5(class='card-text')
                      a(class='coach-schedule-link', href= directions.rent.schedule )
                        i(class='far fa-calendar-alt fa-lg')
                        | &nbsp;
                        | Расписание занятий
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /service\./i)
