extends ../../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../../data');
//-HEAD
append meta
  //Page meta tags
  if pages.rent.title
    title= pages.rent.title
  if pages.rent.description
    meta(name='description', content= pages.rent.description)
append icons
  //Page icons
append styles
  //Page styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline/i) === -1 && cssFile.search(/service\./i) !== -1
      link(rel='preload', href= cssFile.substr(
        htmlWebpackPlugin.files.publicPath.length), as='style', onload='this.onload=null\;this.rel=\'stylesheet\'')
      noscript
        link(rel='stylesheet', href= cssFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline styles
  each cssFile in htmlWebpackPlugin.files.css
    if cssFile.search(/inline~service\./i) !== -1
      style= compilation.assets[cssFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()
//-BODY
append header
  append header
    //Header
    +header(primaryNavigation)
append content
  //Page title
  +pageTitle(pages.rent)
  section#content
    //Content
    div(class='content-wrap')
      //Container
      div(class='container')
        div(class='row')
          div(class='container')
            div(class='row justify-content-center')
              div(class='col-12 col-lg-8')
                div(class='card mb-5 mb-lg-4 border-0')
                  div(id='rentCarousel', class='carousel slide', data-ride='carousel')
                    ol(class='carousel-indicators')
                      li(data-target='#rentCarousel', data-slide-to='0', class='active')
                      li(data-target='#rentCarousel', data-slide-to='1')
                      li(data-target='#rentCarousel', data-slide-to='2')
                      li(data-target='#rentCarousel', data-slide-to='3')
                    div(class='carousel-inner')
                      div(class='carousel-item active')
                        img(class='d-block w-100', src= require('../../../images/services/rent/001-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require('../../../images/services/rent/001-rent-600x400.jpg') + ' 600w, ' + require('../../../images/services/rent/001-rent-800x533.jpg') + ' 800w')
                      div(class='carousel-item')
                        img(class='d-block w-100', src= require('../../../images/services/rent/002-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require('../../../images/services/rent/002-rent-600x400.jpg') + ' 600w, ' + require('../../../images/services/rent/002-rent-800x533.jpg') + ' 800w')
                      div(class='carousel-item')
                        img(class='d-block w-100', src= require('../../../images/services/rent/003-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require('../../../images/services/rent/003-rent-600x400.jpg') + ' 600w, ' + require('../../../images/services/rent/003-rent-800x533.jpg') + ' 800w')
                      div(class='carousel-item')
                        img(class='d-block w-100', src= require(
                          '../../../images/services/rent/004-rent-600x400.jpg'), alt='Аренда сценической площадки | Над Дождём', srcset= require(
                          '../../../images/services/rent/004-rent-600x400.jpg') + ' 600w, ' +
                        require('../../../images/services/rent/004-rent-800x533.jpg') + ' 800w')
                      a(class='carousel-control-prev', href='#rentCarousel', role='button', data-slide='prev')
                        span(class='carousel-control-prev-icon' aria-hidden='true')
                        span(class='sr-only') Previous
                      a(class='carousel-control-next' href='#rentCarousel' role='button' data-slide='next')
                        span(class='carousel-control-next-icon' aria-hidden='true')
                        span(class='sr-only') Next
                  div(class='card-body p-sm-4')
                    h2(class='card-title mb-3')
                      |Аренда сценической площадки
                    span(class='card-subtitle mb-4')
                      |от 25 000 до 40 000 руб
                    p(class='card-text lead mb-4')
                      |В танцевальном замке "Над дождём" возможно арендовать сценическую площадку для проведения отчетного концерта, творческого вечера, спектакля, семинара, мастер-класса и других различных мероприятий.
                    p(class='card-text lead mb-4')
                      |В вашем распоряжении легко возводимая модульная сцена, бархатный занавес, проф. световое и музыкальное оборудование, быстросъемные двух-режимные пилоны, воздушные кольца и полотна.
                    p(class='card-text lead')
                      span(class='font-weight-bold')
                        |Ограничения:
                      br
                      |Максимальное количество гостей вместе с выступающими не более 60&nbsp;человек.
append scripts
  //Page scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline/i) === -1 && jsFile.search(/service\./i) !== -1
      script(type='text/javascript', src= jsFile.substr(htmlWebpackPlugin.files.publicPath.length))
  //Inline scripts
  each jsFile in htmlWebpackPlugin.files.js
    if jsFile.search(/inline~service\./i) !== -1
      script(type='text/javascript') !{compilation.assets[jsFile.substr(htmlWebpackPlugin.files.publicPath.length)].source()}
