extends ../../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, directions } = require('../../../data');
//-META
append meta
  //Page meta tags
  if pages.stretching.title
    title= pages.stretching.title
  if pages.stretching.description
    meta(name='description', content= pages.stretching.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /service\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.stretching)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-12 col-lg-8')
          div(class='card card-page')
            //Image
            div(class='image-container')
              img(class='card-img-top', src= require(
                '../../../images/services/stretching/001-stretching-600x400.jpg'), alt='Stretching | Над Дождём', srcset= require(
                '../../../images/services/stretching/001-stretching-600x400.jpg') + ' 600w,' +
              require('../../../images/services/stretching/001-stretching-800x533.jpg') + ' 800w')
            //Body
            div(class='card-body')
              //Title
              h2(class='card-title')
                | Stretching
              //Subtitle
              p(class='card-subtitle')
                | Одно занятие - 750 руб
                br
                | Пробное занятие - 500 руб
              p(class='card-text')
                | Stretching - оздоровительное направление, сконцентрированное на растяжении групп мышц, суставов, связок и сухожилий. Благодаря активному разогреву мышц и влиянию на функционирование кровеносной и лимфатической системы, данное направление увеличивает эластичность всего тела, замедляет старение организма и улучшает обмен веществ.
            if directions.stretching.coaches || directions.stretching.schedule
              //Footer
              div(class='card-footer coach-footer')
                if directions.stretching.coaches
                  div(class='coach-direction-link')
                    h5(class='card-text')
                      i(class='far fa-list-alt fa-lg')
                      | &nbsp;
                      | Тренеры:
                    ul
                      each coach in directions.stretching.coaches
                        li
                          a(href= coach.link)= coach.title
                if directions.stretching.schedule
                  div(class='coach-schedule-link')
                    h5(class='card-text')
                      a(class='coach-schedule-link', href= directions.stretching.schedule )
                        i(class='far fa-calendar-alt fa-lg')
                        | &nbsp;
                        | Расписание занятий
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /service\./i)
