extends ../../views/layouts/app
append variables
  -var page = htmlWebpackPlugin.options.vars.page
  -var icon = require('../../images/icons/favicon.ico')
  -var logo = require('../../images/logo/logo.png')
append content
  div(id='content')
    div(class='container')
      div(class='row')
        div(class='col-12')
          a(href= data.options.vkSignUp, role='button' aria-disabled='true', class='btn btn-info btn-lg schedule-controls')
            |Записаться на занятие
            |&nbsp;
            i(class='fab fa-vk fa-lg')
      div(class='row')
        div(class='col-12')
          //div(class='schedule-filter')
            select(id='direction-select', class='custom-select custom-select-lg schedule-controls')
              option(value="all" selected) Все направления
                each direction in data.directions
                  if direction.schedule
                    option(value= direction.name)= direction.title
            select(id='coach-select', class='custom-select custom-select-lg schedule-controls')
              option(value="all" selected) Все тренеры
              each coach in data.coaches
                if coach.schedule
                  option(value= coach.name)= coach.title
            select(id='day-select', class='custom-select custom-select-lg schedule-controls')
              option(value="all" selected) Все дни недели
              option(value="monday") Понедельник
              option(value="tuesday") Вторник
              option(value="wednesday") Среда
              option(value="thursday") Четверг
              option(value="friday") Пятница
        div(class='col-12')
          //include ../../templates/components/schedule
