@import '../../styles/variables';

.schedule-table {
  width: calc(100% + 2px);
  table-layout: fixed;
  border-collapse: separate;
  text-align: center;
  margin-left: -1px;
  margin-right: -1px;

  body.device-md &.mobile,
  body.device-lg &.mobile,
  body.device-xl &.mobile {
    display: none;
  }

  body.device-xs &:not(.mobile),
  body.device-sm &:not(.mobile) {
    display: none;
  }

  td {
    border: 1px dotted lighten($schedule-border-color, 10%);
    background-color: $schedule-bg-color;
  }

  .schedule-day,
  .schedule-time,
  .schedule-event {
    border: 1px solid $schedule-border-color;
    font-family: $schedule-font-secondary;
    font-weight: $schedule-font-weight-secondary;
    color: $schedule-text-color;
    overflow: hidden;
    word-wrap: break-spaces;
  }

  .schedule-day,
  .schedule-time {
    font-size: $schedule-font-size-secondary / 1.25;
  }

  .schedule-day {
    background-color: $schedule-days-bg-color;
    padding: 10px 0;

    &:first-child {
      width: 20%;

      body.device-md &,
      body.device-lg &,
      body.device-xl & {
        width: 10%;
      }
    }
  }

  .schedule-time {
    background-color: $schedule-times-bg-color;
    padding: 15px 0;
  }

  .schedule-event {
    vertical-align: middle;
    padding: 5px 15px;
    background-color: $schedule-direction-color;

    body.device-md &,
    body.device-lg & {
      padding: 0 5px;
    }

    & > * {
      margin: 10px 0;
      padding: 0;
    }

    a {
      text-decoration: none !important;
      color: inherit;

      &:focus,
      &:hover {
        text-decoration: underline rgba($schedule-text-color, 0.5) !important;
      }

      body.device-xs &,
      body.device-sm & {
        text-decoration: underline rgba($schedule-text-color, 0.5) !important;
      }
    }

    .schedule-title,
    .schedule-interval,
    .schedule-coach {
      display: block;
      text-align: left;
    }

    .schedule-title,
    .schedule-coach {
      font-family: $schedule-font-heading;

      > span {
        body.device-xs &,
        body.device-sm & {
          border-bottom: 1px solid #333;
        }
      }
    }

    .schedule-title {
      font-weight: $schedule-font-weight-heading;
      font-size: 16px;

      body.device-md & {
        font-size: 12px;
      }
    }

    .schedule-interval,
    .schedule-coach {
      font-weight: $schedule-font-weight-secondary;
    }

    .schedule-interval {
      font-family: $schedule-font-secondary;
      font-size: 12px;

      body.device-md & {
        font-size: 10px;
      }
    }

    .schedule-coach {
      font-size: 14px;

      body.device-md & {
        font-size: 10px;
      }
    }
  }
}
