@import '../../styles/variables';

.schedule-table,
.schedule-table-mobile {
  width: calc(100% + 2px);
  table-layout: fixed;
  border-collapse: separate;
  text-align: center;
  margin-left: -1px;
  margin-right: -1px;

  td {
    border: 1px dotted lighten($schedule-border-color, 10%);
    background-color: $schedule-bg-color;
  }

  .schedule-day,
  .schedule-time,
  .schedule-event {
    border: 1px solid $schedule-border-color;
    font-family: $schedule-font-secondary;
    font-weight: $schedule-font-weight-secondary;
    color: $schedule-text-color;
    overflow: hidden;
    word-wrap: break-spaces;
  }

  .schedule-day,
  .schedule-time {
    font-size: $schedule-font-size-secondary / 1.25;
  }

  .schedule-day {
    background-color: $schedule-days-bg-color;
    padding: 10px 0;
  }

  .schedule-time {
    background-color: $schedule-times-bg-color;
    padding: 15px 0;
  }

  .schedule-event {
    vertical-align: middle;
    padding: 0 5px;
    background-color: $schedule-direction-color;

    & > * {
      margin: 10px 0;
      padding: 0;
    }

    a {
      text-decoration: none;
      color: inherit;
      transition: all 0.3s;

      &:focus,
      &:hover {
        text-decoration: underline !important;
      }
    }

    .schedule-title,
    .schedule-interval,
    .schedule-coach {
      display: block;
    }

    .schedule-interval,
    .schedule-coach {
      font-family: $schedule-font-secondary;
      font-weight: $schedule-font-weight-secondary;
    }

    .schedule-title {
      font-family: $schedule-font-heading;
      font-weight: $schedule-font-weight-heading;
    }

    .schedule-interval {
      font-size: 12px;
    }

    .schedule-coach {
      font-size: 14px;
      font-style: italic;
    }
  }
}

.schedule-table {
  @media screen and (max-width: 767px) {
    display: none;
  }

  .schedule-day {
    &:first-child {
      width: 10%;
    }
  }

  .schedule-event {
    .schedule-title {
      @media screen and (max-width: 991px) {
        font-size: 12px;
      }
    }

    .schedule-interval {
      @media screen and (max-width: 991px) {
        font-size: 10px;
      }
    }

    .schedule-coach {
      @media screen and (max-width: 991px) {
        font-size: 10px;
      }
    }
  }
}

.schedule-table-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }

  .schedule-day {
    &:first-child {
      width: 20%;
    }
  }
}
