//-TODO: 'Ссылки на услуги из расписания'
extends ../../templates/layout
//-VARIABLES
append variables
  - const { options, pages, primaryNavigation, coaches, directions } = require('../../data');
//-META
append meta
  //Page meta tags
  if pages.schedule.title
    title= pages.schedule.title
  if pages.schedule.description
    meta(name='description', content= pages.schedule.description)
//-ICONS
append icons
  //Page icons
//-STYLES
append styles
  //Page styles
  +assets('css', /schedule\./i)
//-HEADER
append header
  //Header
  +header(primaryNavigation)
//-PAGE TITLE
append pageTitle
  +pageTitle(pages.schedule)
//-CONTENT
append content
  //Content
  div(id='content')
    //Container
    div(class='container')
      div(class='row')
        div(class='col-12')
          //TODO: 'Добавить значение в data.json'
          a(href='https://vk.com/naddozhdem?w=app5708398_-168182015', role='button' aria-disabled='true', class='btn btn-info btn-lg schedule-controls')
            |Записаться на занятие
            |&nbsp;
            i(class='fab fa-vk fa-lg')
      div(class='row')
        div(class='col-12')
          div(class='schedule-filter')
            select(id='direction-select', class='custom-select custom-select-lg schedule-controls')
              option(value="all" selected) Направления
                each direction in directions
                  if direction.schedule
                    option(value= direction.name)= direction.title
            select(id='coach-select', class='custom-select custom-select-lg schedule-controls')
              option(value="all" selected) Тренеры
              each coach in coaches
                option(value= coach.name)= coach.title
            select(id='day-select', class='custom-select custom-select-lg schedule-controls')
              option(value="all" selected) Дни недели
              option(value="monday") Понедельник
              option(value="tuesday") Вторник
              option(value="wednesday") Среда
              option(value="thursday") Четверг
              option(value="friday") Пятница
              option(value="saturday") Суббота
        div(class='col-12')
          include ../../templates/components/schedule
//-SCRIPTS
append scripts
  //Page scripts
  +assets('js', /schedule\./i)
