extends ../../templates/layout
append variables
  -const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${options.siteName} | ${pages.schedule.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.schedule)
  section#content
    .content-wrap
      .container
        .row
          .col-sm-6.col-md-4.col-xl-3
            select(data-select)
              option(value="all" selected) Все направления
              option(value="service-1") Воздушное кольцо
              option(value="service-2") Воздушное полотно
              option(value="service-3") Йога
              option(value="service-4") Хип-хоп
              option(value="service-5") Зумба
              option(value="service-6") Pole dance
          .col-sm-6.col-md-4.col-xl-3
            select(data-select)
              option(value="all" selected) Все тренеры
              option(value="coach-1") Виктория
              option(value="coach-2") Михаил
              option(value="coach-3") Алексей
              option(value="coach-4") Надежда
          .col-lg-12
            .schedule-wrapper
              include ../../templates/components/schedule
append scripts
  //Page scripts
