extends ../../templates/layout
append variables
  -
    const { options, pages, primaryNavigation } = require('../../data');
    const directions = require('../../data/directions');
    const coaches = require('../../data/coaches');
//-HEAD
append meta
  //Page meta tags
  title= pages.schedule.title
  meta(name='description', content= pages.schedule.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(pages.schedule)
  section#content
    .content-wrap
      .container
        .row
          .col-12
            .schedule-filter
              select#direction-select(data-select)
                option(value="all" selected) Все направления
                each direction in directions
                  option(value= direction.name)= direction.title
              select#coach-select(data-select)
                option(value="all" selected) Все тренеры
                each coach in coaches
                  option(value= coach.name)= coach.title
              select#day-select(data-select)
                option(value="all" selected) Все дни
                option(value="day-1") Понедельник
                option(value="day-2") Вторник
                option(value="day-3") Среда
                option(value="day-4") Четверг
                option(value="day-5") Пятница
                option(value="day-6") Суббота
          .col-12
            .schedule-wrapper
              include ../../templates/components/schedule
append scripts
  //Page scripts
