@import '../../styles/variables';
@import '../../styles/mixins.scss';

$schedule-bg-color: rgba(0, 0, 0, 0.4);
$schedule-days-bg-color: $schedule-bg-color;
$schedule-times-bg-color: $schedule-days-bg-color;
$schedule-direction-color: $schedule-bg-color;
$link-color: #00be9f;
$border-color: #aaa;

.schedule-wrapper {
  margin-top: $indent * 10;
}

.schedule-table {
  display: none;
  width: calc(100% + 2px);
  table-layout: fixed;
  //border-collapse: separate;
  text-align: center;
  margin-left: -1px;
  margin-right: -1px;

  &.mobile {
    display: table;
  }

  @include respond-to(tablet) {
    display: table;

    &.mobile {
      display: none;
    }
  }

  td {
    //border: 1px dotted lighten($border-color, 10%);
    background-color: $schedule-bg-color;
  }

  .schedule-day,
  .schedule-time,
  .schedule-event {
    border: 1px solid $border-color;
    font-family: $font-family;
    font-weight: $font-weight;
    color: $text-color;
    overflow: hidden;
    word-wrap: break-word;
  }

  .schedule-day,
  .schedule-time {
    @include type(-1);
  }

  .schedule-day {
    padding: $indent * 5 0;
    background-color: $schedule-days-bg-color;

    &:first-child {
      width: 20%;

      @include respond-to(tablet) {
        width: 10%;
      }
    }
  }

  .schedule-time {
    background-color: $schedule-times-bg-color;
    padding: $indent * 8 0;
  }

  .schedule-event {
    vertical-align: middle;
    padding: 0 $indent * 8;
    background-color: $schedule-direction-color;
    border-color: #555;

    @include respond-to(tablet) {
      padding: 0 $indent * 2;
      pointer-events: none;

      @include transition(opacity 0.3s $function);
    }

    @include respond-to(laptop) {
      padding: 0 $indent * 4;
    }

    @include respond-to(desktop) {
      padding: $indent * 2 $indent * 8;
    }

    & > * {
      margin: $indent * 6 0;
      padding: 0;

      @include respond-to(tablet) {
        margin: $indent * 4 0;
        opacity: 0.2;
      }
    }

    a {
      text-decoration: underline rgba($link-color, 0.5) !important;
      color: $link-color;

      &:focus,
      &:hover {
        text-decoration: underline rgba($link-color, 0.5) !important;
      }

      @include respond-to(tablet) {
        text-decoration: none !important;
      }
    }

    .schedule-title,
    .schedule-interval,
    .schedule-coach {
      display: block;
      text-align: left;
    }

    .schedule-title,
    .schedule-coach {
      font-family: $heading-font-family;
    }

    .schedule-title {
      font-weight: $heading-font-weight;

      @include type(0);

      @include respond-to(tablet) {
        @include type(-1);
      }

      @include respond-to(laptop) {
        @include type(0);
      }
    }

    .schedule-interval,
    .schedule-coach {
      font-weight: $font-weight;
    }

    .schedule-interval {
      font-family: $font-family;

      @include type(-1);

      @include respond-to(tablet) {
        @include type(-2);
      }

      @include respond-to(laptop) {
        @include type(-1);
      }
    }

    .schedule-coach {
      font-size: 14px;

      @include respond-to(tablet) {
        @include type(-1);
      }

      @include respond-to(laptop) {
        font-size: 14px !important;
      }
    }
  }
}

.schedule-table[data-selected='all'] .schedule-event > *,
.schedule-table[data-selected='service-1'] .schedule-event[data-service='service-1'] > *,
.schedule-table[data-selected='service-2'] .schedule-event[data-service='service-2'] > *,
.schedule-table[data-selected='service-3'] .schedule-event[data-service='service-3'] > *,
.schedule-table[data-selected='service-4'] .schedule-event[data-service='service-4'] > *,
.schedule-table[data-selected='service-5'] .schedule-event[data-service='service-5'] > *,
.schedule-table[data-selected='service-6'] .schedule-event[data-service='service-6'] > *,
.schedule-table[data-selected='coach-1'] .schedule-event[data-coach='team-1'] > *,
.schedule-table[data-selected='coach-2'] .schedule-event[data-coach='team-2'] > *,
.schedule-table[data-selected='coach-3'] .schedule-event[data-coach='team-3'] > *,
.schedule-table[data-selected='coach-4'] .schedule-event[data-coach='team-4'] > * {
  opacity: 1;
  pointer-events: auto;
}

.schedule-table[data-selected='all'] .schedule-event,
.schedule-table[data-selected='service-1'] .schedule-event[data-service='service-1'],
.schedule-table[data-selected='service-2'] .schedule-event[data-service='service-2'],
.schedule-table[data-selected='service-3'] .schedule-event[data-service='service-3'],
.schedule-table[data-selected='service-4'] .schedule-event[data-service='service-4'],
.schedule-table[data-selected='service-5'] .schedule-event[data-service='service-5'],
.schedule-table[data-selected='service-6'] .schedule-event[data-service='service-6'],
.schedule-table[data-selected='coach-1'] .schedule-event[data-coach='team-1'],
.schedule-table[data-selected='coach-2'] .schedule-event[data-coach='team-2'],
.schedule-table[data-selected='coach-3'] .schedule-event[data-coach='team-3'],
.schedule-table[data-selected='coach-4'] .schedule-event[data-coach='team-4'] {
  border-color: $border-color;
}

.select,
.select-list {
  border: 1px solid $border-color;
  font-family: $heading-font-family;
  font-weight: $font-weight;

  @include type(0);
}

.select,
.select-list > li {
  padding: $indent * 4 $indent * 8;
}

.select {
  color: $text-color;
  background-color: $schedule-bg-color;
  margin-bottom: $indent * 10;
  font-weight: $font-weight;

  &::after {
    border-color: $border-color transparent transparent;
  }

  &.active::after {
    border-color: transparent transparent $border-color;
  }
}

.select-list {
  color: $dark-color;
  background-color: $light-color;

  @include animation(opacity 0.3s $function);

  li {
    @include transition(background-color, 0.3s, $function);

    &:focus,
    &:hover {
      background-color: $theme-color;
    }
  }
}
