extends ../../layouts/app
//-VARS
append variables
  -var icon = require("../../../images/icons/favicon.ico")
  -var logo = require("../../../images/logo/logo.png")
//-HEADER
append header
  +header(logo, true)
//-CONTENT
block content
  main.py-5.flex-fill
    div.container
      div.row
        div.col
          div.card
            img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/events/overtime-article/001-overtime-article-1200x800.jpg')}`)
            div.card-body
              h1.card-title.text-center
                | Домашний уют в танцевальном замке
              p.card-text
                | «В гостях часто просят чувствовать себя «как дома». Но возможно ли ощутить это в атмосфере замкового убранства? Бесспорно, да! – утверждают владельцы Танцевального замка «Над дождем». И приглашают вас в гости отведать занятия на любой вкус для души и тела.»
              p.card-text
               | Высокие потолки, огромные окна, колонны и камин – не самый привычный интерьер для танцевальной студии. Когда приходишь в зал впервые, кажется, что попал сюда по ошибке. Но, приглядевшись, замечаешь под потолком воздушные кольца, полотна и пилоны для воздушной акробатики, коврики для йоги и другие спортивные принадлежности. Молодые, приветливые тренеры не оставят без внимания гостей замка и непременно пригласят на зажигательную зумбу или стрейчинг. Почувствовать себя хозяином сказочного замка может каждый, кто занимается в студии «Над дождем». В основном все занятия проводятся в небольших группах, поэтому здесь не бывает столпотворения и шума. Это позволяет расслабиться после полного событий дня и зарядиться энергией. Создатели студии учли все до мелочей. Помимо профессиональных снарядов для тренировок здесь есть все необходимое для выступлений и концертов камерного формата: легко возводимая модульная сцена, бархатный занавес, световое и музыкальное оборудование и акустический потолок. Расположившись в уютных кожаных креслах, вы сможете насладиться музыкальным или танцевальным представлением. Провести тренинги, мастер-классы, вечеринки и творческие вечера – все зависит от вашей фантазии и потребностей. Команда танцевального замка всегда готова экспериментировать и пробовать новое.
            img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/events/overtime-article/002-overtime-article-800x1200.jpg')}`)
            div.card-body
              h2.card-title
                | Что здесь можно делать?
              p.card-text
                | Абсолютно все, что связано с современным танцевальным творчеством и даже спортивными тренировками. Разве что для вальса, возможно, удобнее паркет, а в зале на полу специальный линолеум. Коллектив «Над дождем» проводит занятия по нескольким направлениям, которые помогут вам лучше познать свое тело и раскрыть творческий потенциал. Основной вид тренировок в студии – это воздушная акробатика в сочетании с современной хореографией, которая помогает развивать и укреплять все группы мышц, делает тело подтянутым и красивым. Опытные тренеры студии разработали систему тренировок, которая поможет освоиться на любом снаряде: воздушные полотна, кольцо и пилон, даже если у вас нет специальной спортивной подготовки. Выполняя эффектные трюки в воздухе, вы быстро обретете веру в себя и почувствуете легкость в движениях. Также популярны в студии занятия йогой, растяжкой, зумбой, контемпорари и пластикой. На занятиях инструкторы всегда анализируют уровень вашей подготовки, составляют индивидуальный план работы, который можно выполнить на общих тренировках.
            img.card-img-top.img-thumbnail.border-0(src= `../${require('../../../images/events/overtime-article/003-overtime-article-1200x800.jpg')}`)
            div.card-body
              h2.card-title
                | Кто здесь преподает?
              p.card-text
                | Отбор в тренерский состав студии очень тщательный. Для организаторов важно, чтобы у сотрудников было специальное образование в сфере спорта или хореографии, большой танцевальный или спортивный опыт, а самое главное – доброжелательность и умение заряжать людей позитивными эмоциями. Хмурые и грустные тренеры здесь долго не задерживаются. Для тренеров студии предусмотрена программа повышения профессиональных знаний: тренинги, мастер-классы и фитнес-конвенции.Коллектив Танцевального замка «Над дождем» развивается не только в рамках студии, но и принимает участие в активном совместном отдыхе и спорте. Прошлым летом тренеры и их подопечные выезжали в летний лагерь Pole dance в Геленджике, посещали летние этапы Кубка и Чемпионата России по ралли с участием владельцев студии.
              h2.card-title
                | Как записаться на занятия?
              p.card-text
                | Достаточно позвонить в студию по телефону или записаться через социальные сети на ознакомительное занятие. Каждое занятие оплачивается отдельно, системы абонементов в студии нет. Это связано с философией владельцев студии: не привязывать клиентов с помощью преждевременной оплаты тренировок, на которые потом, возможно, не получится прийти, и не заманивать иллюзорными скидками. Своих посетителей владельцы студии описывают как успешных и позитивных людей, которые довольны жизнью, готовы развиваться и познавать себя с помощью танцевального искусства. Узнаете себя? Тогда вас ждут в Танцевальном замке «Над дождем» по адресу: улица Пионерская, 50.





