extends ../../templates/layout
append variables
  - const { options, pages, primaryNavigation } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= pages.aleksandr_ushakov.title
  meta(name='description', content= pages.aleksandr_ushakov.description)
append icons
  //Page icons
append styles
  //Page styles
//-BODY
append header
  +header(primaryNavigation.items)
append content
  //-Page title
  +pageTitle(pages.aleksandr_ushakov)
  section#content
    //-Content
    div(class='content-wrap')
      //-Container
      div(class='container')
        div(class='row justify-content-center')
          div(class='col-12 col-lg-8')
            div(class='card mb-5 mb-lg-4 border-0')
              div(class='card-body')
                h2(class='card-title mb-3')
                  |Александр Ушаков
                span(class='card-subtitle mb-4 font-italic')
                  |Лицензированный инструктор программ <strong>Zumba (R) Fitness</strong> и <strong>Strong by Zumba (R)</strong>
                p(class='card-text lead mb-4')
                  |В составе хореографического танцевального ансамбля "Nord Star" многократный призер и лауреат различных степеней международного конкурса хореографического искусства "Волна успеха"; бронзовый призер всероссийского конкурса талантов "Звезда Удачи".
                p(class='card-text lead mb-4')
                  |Участник и презентр городских спортивных мероприятий (мастер-классов, флеш-мобов, конвенций).
                blockquote(class='blockquote')
                  p(class='mb-0')
                    |В работе главное - взаимосвязь между инструктором и учеником.
                  footer(class='blockquote-footer')
                    cite(title='Александр Ушаков') Александр Ушаков
append scripts
  //Page scripts
