@import '../../styles/variables';
@import '../../styles/mixins';

.coaches-wrapper {
  margin-bottom: -30px;
}

.coach-wrapper {
  overflow: hidden;
  margin-bottom: 30px;
}

.coach {
  position: relative;
  display: flex;
  flex-direction: column;
  animation: none;

  @include respond-to(desktop) {
    transform: translateY(100%);
    animation: slide 1s ease-in-out forwards;
  }

  .coaches-wrapper [class*='col']:nth-child(1) &,
  .coaches-wrapper [class*='col']:nth-child(4) & {
    animation-delay: 0.2s;
  }

  .coaches-wrapper [class*='col']:nth-child(2) &,
  .coaches-wrapper [class*='col']:nth-child(5) & {
    animation-delay: 0.4s;
  }

  .coaches-wrapper [class*='col']:nth-child(3) & {
    animation-delay: 0.6s;
  }

  &::before {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 101%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.8));
  }

  .coach-image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .coach-info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @include respond-to(desktop) {
      padding-bottom: 10px;
    }

    .coach-title {
      padding: 5px;

      h2 {
        margin: 0;
        //text-shadow: $text-shadow;

        @include respond-to(handheld) {
          @include type(1);
        }

        @include respond-to(tablet) {
          @include type(2);
        }

        @include respond-to(desktop) {
          @include type(1);
        }

        font-weight: $heading-font-weight;
      }
    }

    .coach-directions {
      padding: 5px;

      @include respond-to(desktop) {
        padding-bottom: 0;
      }

      a {
        @include link($link-color, 0);
      }

      h4 {
        margin: 0;
        padding: 5px 0;
        font-weight: $heading-font-weight;
        //text-shadow: $text-shadow;

        @include respond-to(handheld) {
          @include type(-1);
        }

        @include respond-to(tablet) {
          @include type(0);
        }

        @include respond-to(desktop) {
          @include type(-1);
        }
      }
    }

    .coach-icons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        margin-bottom: 5px;

        @include respond-to(laptop) {
          &:hover {
            i {
              color: $theme-color;
            }
          }
        }

        &:last-child {
          margin-bottom: 0;
        }

        i {
          font-size: 1.5em;

          @include respond-to(handheld) {
            font-size: 1em;
          }

          @include respond-to(tablet) {
            font-size: 1.5em;
          }

          @include respond-to(laptop) {
            transition: color 0.3s $function;
          }

          @include respond-to(desktop) {
            font-size: 1em;
          }
        }
      }
    }
  }
}
