@import '../../styles/variables';
@import '../../styles/mixins';

.coach {
  position: relative;
  display: flex;
  flex-direction: column;

  .coach-image {
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  .coach-info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 20px;

    @include respond-to(desktop) {
      padding-bottom: 10px;
    }

    .coach-title {
      padding: 5px;

      h2 {
        margin: 0;
        font-weight: $heading-font-weight;
      }
    }

    .coach-directions {
      padding: 5px;

      @include respond-to(desktop) {
        padding-bottom: 0;
      }

      h4 {
        margin: 0;
        padding: 5px 0;
        font-weight: $heading-font-weight;
      }
    }

    .coach-icons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      a {
        display: block;
        text-decoration: none;
        color: inherit;
        padding: 10px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
