@import '../../styles/variables';
@import '../../styles/mixins';

.coach {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 0;
  border-radius: 0.5rem;
  border: 4px $card-bg solid;

  @include image-container(125%);

  .coach-image {
    position: relative;
    overflow: hidden;

    img {
      border-radius: calc(0.25rem - 1px);
    }

    &::after {
      content: '';
      position: absolute;
      top: -5px;
      right: -5px;
      bottom: -5px;
      left: -5px;
      background: linear-gradient(to bottom, transparent 30%, rgba(0, 0, 0, 0.7) 100%);
    }
  }

  .coach-info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .coach-directions {
      ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
          margin-bottom: 0.5rem;

          @include link(light, true, false);
        }
      }

      > :last-child {
        margin-bottom: 0 !important;

        :last-child {
          margin-bottom: 0 !important;
        }
      }
    }

    .coach-title {
      margin-bottom: 1rem;

      @include link(light, false, true);
    }

    .coach-icons {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;

      @include link(light, false, true);

      a {
        display: block;
        padding: 10px;
        margin-bottom: 5px;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
