mixin header(items)
  //Primary navigation
  nav(id='abovetherain__primary-navigation', class='navbar navbar-expand-lg')
    div(class='container')
      //Content
      div(class='navbar-wrapper')
        <!--TOGGLER-->
        div(class='toggler-wrapper')
          button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Кнопка меню')
            i(class='fas fa-bars fa-lg')
        <!--LOGO-->
        div(class='logo-wrapper text-center')
          a(class='navbar-brand', href='index.html', title='Главная | Над Дождём')
            img(src='images/logo/logo.png', alt='Логотип | Над Дождём', srcset='images/logo/logo.png 1x, images/logo/logo@2x.png 2x')
        <!--HELPER-->
        div
      //Collapse
      div(class='collapse navbar-collapse', id='navbarSupportedContent')
        ul(class='navbar-nav ml-auto')
          each item in items
            li(class='nav-item')
              a(class='nav-link', href= `${item.name}.html`, title= `${item.title} | ${options.name}`)= item.title
