mixin header(items)
  header#header.transparent-header.no-sticky
    #header-wrap
      .container.clearfix
        #primary-menu-trigger: i.icon-reorder
        //Logo
        #logo
          a(href="index.html", style='display: inline-block;')
            img(src='images/logo/logo.png', srcset='images/logo/logo.png 1x, images/logo/logo@2x.png 2x', alt="Логотип | Над дождём")
        //Primary Navigation
        nav#primary-menu
            ul
              each item in items
                li(class={current: htmlWebpackPlugin.options.name === item.name})
                  a(href=`${item.name}.html`)
                    div= item.title
