mixin header(items)
  header#header.transparent-header.no-sticky
    #header-wrap
      .container.clearfix
        #primary-menu-trigger: i.icon-reorder
        //Logo
        #logo
          a(href="index.html", style='display: inline-block;')
            //FIXME: 'Исправить лого'
            img(src='', srcset= logo + ' 1x, ' + logo2x + ' 2x', alt="Над дождём")
        //Primary Navigation
        nav#primary-menu
            ul
              each item in items
                li(class={current: htmlWebpackPlugin.options.name === item.name})
                  a(href=`${item.name}.html`)
                    div= item.title
