mixin pageTitle(page)
  section(class='page-title')
    nav(aria-label='breadcrumb')
      div(class='container')
        h3 !{page.pageTitle}
        ol(class='breadcrumb')
          if page.breadcrumbs
            each breadcrumb in page.breadcrumbs
              if breadcrumb.path !== 'current'
                li.breadcrumb-item
                  a(href= breadcrumb.path) !{breadcrumb.name}
              else
                li(class='breadcrumb-item active', aria-current='page') !{breadcrumb.name}
