mixin pageTitle(page)
  section#page-title.page-title-nobg
    .container.clearfix
      h3 !{page.pageTitle}
      ol.breadcrumb
        if page.breadcrumbs
          each breadcrumb in page.breadcrumbs
            if breadcrumb.path !== 'current'
              li.breadcrumb-item
                a(href= breadcrumb.path) !{breadcrumb.name}
            else
              li.breadcrumb-item.active.current(aria-current="page") !{breadcrumb.name}
