mixin pageTitle(page)
  section(class='page-title')
    div(class='container')
      nav(aria-label='breadcrumb')
        h3(class='mb-3 mb-lg-0') !{page.pageTitle}
        ol(class='breadcrumb')
          if page.breadcrumbs
            each breadcrumb in page.breadcrumbs
              if breadcrumb.path !== 'current'
                li.breadcrumb-item
                  a(href= breadcrumb.path) !{breadcrumb.name}
              else
                li(class='breadcrumb-item active', aria-current='page') !{breadcrumb.name}
