mixin schedule-event(rowspan, serviceFile, direction, coachFile, coach, timeStart, timeEnd)
  td.schedule-event(rowspan= rowspan data-service= serviceFile data-coach= coachFile)
    if direction
      .schedule-title
        a(data-ajax href=`data/services/${serviceFile}.html`)= direction
      .schedule-interval
        span= `${timeStart}-${timeEnd}`
    if coach
      .schedule-coach
        a(data-ajax href=`data/team/${coachFile}.html`)= coach
