mixin schedule-event(rowspan, directionNumber, direction, coachNumber, coach, dayNumber, timeStart, timeEnd)
  td.schedule-event(rowspan= rowspan data-direction= directionNumber data-coach= coachNumber data-day= dayNumber)
    if direction
      .schedule-title
        a(href='services.html') !{direction}
      .schedule-interval
        span= `${timeStart}-${timeEnd}`
    if coach
      .schedule-coach
        a(href='coaches.html')= coach
