mixin schedule-event(rowspan, serviceFile, direction, coachFile, coach, timeStart, timeEnd)
  td.schedule-event(rowspan= rowspan data-service= serviceFile data-coach= coachFile)
    if direction
      a.schedule-title(data-ajax href=`data/services/${serviceFile}.html`)= direction
    span.schedule-interval= `${timeStart}-${timeEnd}`
    if coach
      a.schedule-coach(data-ajax href=`data/team/${coachFile}.html`)= coach
