extends ./templates/includes/layout
block head
  include ./templates/includes/head
  title
  block icons
    include ./templates/includes/icons
block body
  block header
  h1 Над дождем
  block content
  block footer
  block scripts
    include ./templates/includes/scripts