extends ../../templates/layout
append variables
  -const { common, options, pages, primaryNavigation, events } = require('../../data');
//-HEAD
append meta
  //Page meta tags
  title= `${common.name} | ${pages.events.title}`
  meta(name="description" content= pages.description)
append icons
  //Page icons
append styles
  //Page styles
  link()
//-BODY
append header
  +header(primaryNavigation.items)
append content
  +pageTitle(events[0])
  section#content
    .content-wrap
      .container
        .row
          .col
            .single-event
              .event-image
                img(src="images/events/event.jpg")
                .event-date
                  span 20
                  span Июня
              .event-content
                .event-title
                  h3 Заголовок
                .event-text
                  p Современные технологии достигли такого уровня, что укрепление и развитие внутренней структуры напрямую зависит от кластеризации усилий. Безусловно, социально-экономическое развитие предопределяет высокую востребованность экспериментов, поражающих по своей масштабности и грандиозности. Как принято считать, ключевые особенности структуры проекта объединены в целые кластеры себе подобных. Значимость этих проблем настолько очевидна, что выбранный нами инновационный путь предполагает независимые способы реализации системы массового участия.
                  p Разнообразный и богатый опыт говорит нам, что базовый вектор развития, в своем классическом представлении, допускает внедрение благоприятных перспектив. А еще непосредственные участники технического прогресса, превозмогая сложившуюся непростую экономическую ситуацию, преданы социально-демократической анафеме. Сложно сказать, почему сторонники тоталитаризма в науке формируют глобальную экономическую сеть и при этом - ограничены исключительно образом мышления. Господа, разбавленное изрядной долей эмпатии, рациональное мышление однозначно фиксирует необходимость новых предложений.
                  p Сложившаяся структура организации однозначно фиксирует необходимость позиций, занимаемых участниками в отношении поставленных задач. Современные технологии достигли такого уровня, что понимание сути ресурсосберегающих технологий создает необходимость включения в производственный план целого ряда внеочередных мероприятий с учетом комплекса поставленных обществом задач. Мы вынуждены отталкиваться от того, что реализация намеченных плановых заданий требует определения и уточнения экспериментов, поражающих по своей масштабности и грандиозности. Современные технологии достигли такого уровня, что граница обучения кадров создает предпосылки для анализа существующих паттернов поведения.
append scripts
  //Page scripts
