@import '../../styles/variables';
@import '../../styles/mixins';

.card {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: $box-shadow;
  border-radius: 0;

  p {
    line-height: 1.8 !important;
  }

  .image-container {
    position: relative;
    height: 0;
    width: 100%;
    padding-top: 66.666666%;

    img {
      background-color: #f0f0f0;
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }

    .event-date {
      position: absolute;
      top: 10px;
      left: 20px;
      background-color: rgba(#000, 0.8);
      color: $light-color;
      padding: 10px;
      font-family: $font-family;
      font-weight: $font-weight;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      span {
        display: block;
        font-family: $font-family;
        font-weight: $font-weight;

        @include type(-1);

        @include respond-to(desktop) {
          @include type(0);

          line-height: 1.333 !important;
        }

        line-height: 1.333 !important;
      }
    }
  }

  .card-img-top {
    border-radius: 0;
  }

  a {
    font-family: $heading-font-family;
    color: $light-color;
    text-decoration: underline rgba($light-color, 0.5) !important;
  }

  .card-title {
    @include type(1);

    @include respond-to(handheld) {
      @include type(2);
    }
  }

  .card-subtitle {
    display: block;
    font-family: $heading-font-family;

    @include type(0);
  }
}
