@import '../variables';
@import '../mixins';

.events-wrapper {
  //margin-bottom: $indent * -20;
}

.event {
  position: relative;
  display: flex;
  flex-direction: column;
  //margin-bottom: $indent * 20;
  background-color: rgba(#000, 0.5);
  max-width: 800px;
  margin: auto;

  @include respond-to(desktop) {
    flex-direction: row;
    max-width: 100%;
  }
}

.single-event {
  font-family: $font-family;
  font-weight: $font-weight;
}

.event-image {
  margin-bottom: $indent * 13;

  .event & {
    @include respond-to(desktop) {
      margin: 0 $indent * 15 0 0;
      flex-basis: 35%;
    }
  }

  img {
    display: block;
    width: 100%;
    height: auto;
  }

  .event-date {
    position: absolute;
    top: 10px;
    left: 25px;
    background-color: rgba(#000, 0.8);
    color: $light-color;
    text-shadow: 1px 1px 1px rgba(#000, 0.2);
    padding: $indent * 6;
    font-family: $font-family;
    font-weight: $font-weight;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      display: block;
      font-family: $font-family;
      font-weight: $font-weight;

      @include type(-1);

      @include respond-to(desktop) {
        @include type(0);

        line-height: 1.333 !important;
      }

      line-height: 1.333 !important;
    }

    @include respond-to(desktop) {
      padding: $indent * 4;

      .single-event & {
        top: 20px;
        left: 40px;
        padding: $indent * 8;

        span {
          @include type(1);

          line-height: 1.333 !important;
        }
      }
    }
  }
}

.event-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 $indent * 6;

  .event & {
    @include respond-to(desktop) {
      padding: $indent * 3 0 0;
      flex-basis: 65%;
    }
  }

  .event-title {
    h3 {
      margin: 0 0 $indent * 5;
      font-family: $heading-font-family;
      font-weight: $heading-font-weight;
      color: $text-color;

      @include type(1);
    }
  }

  .event-excerpt {
    p {
      margin: 0 0 $indent * 10 0;
      font-family: $font-family;
      font-weight: $font-weight;
      color: $text-color;

      @include type(0);

      @include  respond-to(desktop) {
        margin: 0;
      }
    }

    a {
      @include link($link-color, 0);
    }
  }

  .event-text {
    p {
      margin: $indent * 10 0;
      font-family: $font-family;
      font-weight: $font-weight;
      color: $text-color;

      &:last-child {
        margin-bottom: 0;
      }

      @include type(0);
    }
  }
}
