@import '../variables';
@import '../mixins';

#footer {
  border-top: 1px solid $light-color;
  background: transparent;
  padding: $indent * 20 $indent * 5;

  .phone {
    text-align: center;
    margin-bottom: $indent * 10;

    @include respond-to(laptop) {
      margin-bottom: 0;
    }

    a {
      @include link($light-color, 1);

    }
  }

  .icons {
    margin-bottom: $indent * 10;
    display: flex;
    justify-content: center;
    padding-top: 4px;

    @include respond-to(laptop) {
      margin-bottom: 0;
    }

    .social-icon {
      color: $light-color;
    }
  }

  .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to(handheld) {
      margin-top: $indent * 10;
    }

    @include respond-to(laptop) {
      margin-top: 0;
    }

    span {
      font-weight: $font-weight;
      color: $light-color;
      margin-bottom: $indent * 5;

    }

    a {
      @include link($light-color, 0);

    }
  }
}
