@import '../variables';
@import '../mixins';

#header {
  position: relative;
  background-color: $light-color;
  border-bottom: 1px solid $border-color;
}

#header .container {
  position: relative;
}

#header.transparent-header.floating-header .container {
  width: 1190px;
  max-width: 1190px;
  background-color: $light-color;
  padding: 0 40px;
  border-radius: 2px;
}

body.stretched #header.full-header .container {
  width: 100%;
  max-width: none;
  padding: 0 30px;
}

#header.transparent-header {
  background: transparent;
  border-bottom: none;
  z-index: 199;
}

#header.semi-transparent {
  background-color: rgba($light-color, 0.8);
}

#header.transparent-header.floating-header {
  margin-top: $header-floating-offset;
}

#header.transparent-header.floating-header.sticky-header .container {
  width: 1140px;
  max-width: 1140px;
  padding: 0 15px;
}

#header.transparent-header + #slider,
#header.transparent-header + #page-title.page-title-parallax,
#header.transparent-header + #google-map,
#slider + #header.transparent-header {
  top: -$header-height;
  margin-bottom: -$header-height;
}

#header.transparent-header.floating-header + #slider,
#header.transparent-header.floating-header + #google-map {
  top: -($header-height + $header-floating-offset);
  margin-bottom: -($header-height + $header-floating-offset);
}

#header.transparent-header + #page-title.page-title-parallax .container {
  z-index: 5;
  padding-top: $header-height;
}

#header.full-header {
  border-bottom-color: $border-color;
}

#header.transparent-header.full-header #header-wrap {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

#slider + #header.transparent-header.full-header #header-wrap {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: none;
}

#logo {
  position: relative;
  float: left;
  font-family: $heading-font;
  font-size: 36px;
  line-height: 100%;
  margin-right: 40px;

  a {
    display: block;
    color: #000;

    &.standard-logo {
      display: block;
    }

    &.retina-logo {
      display: none;
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}

#header.full-header #logo {
  padding-right: 30px;
  margin-right: 30px;
  border-right: 1px solid $border-color;
}

#header.transparent-header.full-header #logo {
  border-right-color: rgba(0, 0, 0, 0.1);
}

.header-extras {
  float: right;
  margin: (($header-height - 40px) / 2) 0 0;
}

.header-extras li {
  float: left;
  margin-left: 20px;
  height: 40px;
  overflow: hidden;
  list-style: none;
}

.header-extras li i {
  margin-top: 3px !important;
}

.header-extras li:first-child {
  margin-left: 0;
}

.header-extras li .he-text {
  float: left;
  padding-left: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.43;
}

.header-extras li .he-text span {
  display: block;
  font-weight: 400;
  color: $theme-color;
}

#primary-menu {
  float: right;
}

#primary-menu ul {
  list-style: none;
  margin: 0;
}

#primary-menu > ul {
  float: left;
}

#primary-menu ul.mobile-primary-menu {
  display: none;
}

#primary-menu ul li {
  position: relative;
}

#primary-menu ul ul:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content {
  display: none;
  position: absolute;
  width: $primary-menu-submenu-width;
  background-color: $light-color;
  box-shadow: 0 13px 42px 11px rgba(0, 0, 0, 0.05);
  border: 1px solid $border-color;
  border-top: 2px solid $theme-color;
  height: auto;
  z-index: 199;
  top: 100%;
  left: 0;
  margin: 0;
}

#primary-menu ul ul:not(.mega-menu-column) ul {
  top: -2px !important;
  left: $primary-menu-submenu-width - 2;
}

#primary-menu ul ul.menu-pos-invert:not(.mega-menu-column),
#primary-menu ul li .mega-menu-content.menu-pos-invert {
  left: auto;
  right: 0;
}

body.no-superfish #primary-menu li:hover > ul:not(.mega-menu-column),
body.no-superfish #primary-menu li:hover > .mega-menu-content {
  display: block;
}

#primary-menu ul ul:not(.mega-menu-column) ul.menu-pos-invert {
  right: $primary-menu-submenu-width - 2;
}

#primary-menu ul ul li {
  float: none;
  margin: 0;
}

#primary-menu ul ul li:first-child {
  border-top: 0;
}

#primary-menu ul ul li > a {
  font-size: $primary-menu-submenu-font-size;
  font-weight: $primary-menu-submenu-font-weight;
  color: #666;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  letter-spacing: 0;
  font-family: $primary-menu-submenu-font;

  @include transition(all 0.2s ease-in-out);
}

#primary-menu ul ul li > a i {
  vertical-align: middle;
}

#primary-menu ul ul li:hover > a {
  background-color: #f9f9f9;
  padding-left: 18px;
  color: $theme-color;
}

#primary-menu ul ul > li.sub-menu > a,
#primary-menu ul ul > li.sub-menu:hover > a {
  background: url('../images/icons/submenu.png') right center no-repeat;
}

#header.full-header #primary-menu > ul {
  float: left;
  padding-right: 15px;
  margin-right: 15px;
  border-right: 1px solid $border-color;
}

#header.transparent-header.full-header #primary-menu > ul {
  border-right-color: rgba(0, 0, 0, 0.1);
}

#primary-menu-trigger,
#page-submenu-trigger {
  opacity: 0;
  pointer-events: none;
  cursor: pointer;
  font-size: 14px;
  position: absolute;
  top: 50%;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;

  @include transition(opacity 0.3s ease);
}

#primary-menu ul li.mega-menu {
  position: inherit;
}

#primary-menu ul > li {
  float: left;
  margin-left: 2px;
}

#primary-menu > ul > li:first-child {
  margin-left: 0;
}

#primary-menu ul li > a {
  display: block;
  line-height: 22px;
  padding: $primary-menu-padding 15px;
  color: $primary-menu-font-color;
  font-weight: $primary-menu-font-weight;
  font-size: $primary-menu-font-size;
  letter-spacing: $primary-menu-font-spacing;
  text-transform: $primary-menu-font-tt;
  font-family: $heading-font-family;

  @include transition(margin 0.4s ease, padding 0.4s ease);
}

#primary-menu ul li > a span {
  display: none;
}

#primary-menu ul li > a i {
  position: relative;
  top: -1px;
  font-size: 14px;
  width: 16px;
  text-align: center;
  margin-right: 6px;
  vertical-align: top;
}

#primary-menu ul li > a i.icon-angle-down:last-child {
  font-size: 12px;
  margin: 0 0 0 5px;
}

#primary-menu ul li:hover > a,
#primary-menu ul li.current > a {
  color: $theme-color;
}

#primary-menu > ul > li.sub-menu > a > div {
}

//OVERLAY
@media (min-width: 992px) {
  .overlay-menu:not(.top-search-open) #primary-menu-trigger {
    opacity: 1;
    pointer-events: auto;
    left: auto;
    right: 75px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin-top: -10px;
  }

  .overlay-menu:not(.top-search-open) .full-header #primary-menu-trigger {
    right: 90px;
  }

  .overlay-menu #primary-menu > #overlay-menu-close {
    opacity: 0;
    pointer-events: none;
    position: fixed;
    top: 25px;
    left: auto;
    right: 25px;
    width: 48px;
    height: 48px;
    line-height: 48px;
    font-size: 24px;
    text-align: center;
    color: #444;
    z-index: 300;

    @include translateY(-80px);
    @include transition(opacity 0.4s ease, transform 045s 0.15s ease);
  }

  .overlay-menu #primary-menu > ul {
    opacity: 0 !important;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100% !important;
    z-index: 299;
    background: rgba(255, 255, 255, 0.95);

    @include transition(opacity 0.7s ease);
  }

  .overlay-menu #primary-menu > ul.d-block {
    opacity: 1 !important;
    display: inherit !important;
    pointer-events: auto;
  }

  .overlay-menu #primary-menu > ul.d-block ~ #overlay-menu-close {
    opacity: 1;

    @include transition(opacity 0.7s 0.4s ease, transform 0.45s 0.15s ease);
    @include translateY(0);

    pointer-events: auto;
  }

  .overlay-menu #primary-menu > ul > li {
    float: none;
    text-align: center;
    max-width: 400px;
    margin: 0 auto;
  }

  .overlay-menu #primary-menu > ul > li > a {
    font-size: 24px;
    padding-top: 19px;
    padding-bottom: 19px;
    letter-spacing: 2px;
    text-transform: none;
    opacity: 0;

    @include translateY(-80px);
    @include transition(opacity 0.7s 0.15s ease, transform 0.45s 0.15s ease, color 0.2s linear);
  }

  .overlay-menu #primary-menu > ul.d-block > li > a {
    opacity: 1;

    @include translateY(0);
  }
}

//TOP SEARCH
#top-search,
#top-cart,
#side-panel-trigger,
#top-account {
  float: right;
  margin: (($header-height - 20) / 2) 0 (($header-height - 20) / 2) 15px;
}

#top-cart {
  position: relative;
}

#top-search a,
#top-cart a,
#side-panel-trigger a,
#top-account a {
  display: block;
  position: relative;
  width: 14px;
  height: 14px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #333;
  @include transition(color .3s ease-in-out);
}

#top-search a {
  z-index: 11;
}

#top-search a i {
  position: absolute;
  top: 0;
  left: 0;

  @include transition(opacity 0.3s ease);
}

body.top-search-open #top-search a i.icon-search3,
#top-search a i.icon-line-cross {
  opacity: 0;
}

body.top-search-open #top-search a i.icon-line-cross {
  opacity: 1;
  z-index: 11;
  font-size: 16px;
}

#top-search form {
  opacity: 0;
  z-index: -2;
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  padding: 0 15px;
  margin: 0;
  top: 0;
  left: 0;

  @include transition(opacity 0.3s ease);
}

body.top-search-open #top-search form {
  opacity: 1;
  z-index: 10;
}

#top-search form input {
  box-shadow: none !important;
  pointer-events: none;
  border-radius: 0;
  border: 0;
  outline: 0 !important;
  font-size: 32px;
  padding: 10px 80px 10px 0;
  height: 100%;
  background-color: transparent;
  color: #333;
  font-weight: 700;
  margin-top: 0 !important;
  font-family: $heading-font;
  letter-spacing: 2px;
}

body:not(.device-md):not(.device-sm):not(.device-xs) #header.full-header #top-search form input {
  padding-left: 40px;
}

body:not(.device-md):not(.device-sm):not(.device-xs) .container-fullwidth #top-search form input {
  padding-left: 60px;
}

body.top-search-open #top-search form input {
  pointer-events: auto;
}

body:not(.device-md):not(.device-sm):not(.device-xs) #header.transparent-header:not(.sticky-header):not(.full-header):not(.floating-header) #top-search form input {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

#top-search form input {
  &::-moz-placeholder {
    color: #000;
    opacity: 1;
    text-transform: uppercase;
  }
  &:-ms-input-placeholder {
    color: #000;
    text-transform: uppercase;
  }
  &::-webkit-input-placeholder {
    color: #000;
    text-transform: uppercase;
  }
}

#primary-menu .container #top-search form input,
.sticky-header #top-search form input {
  border: none !important;
}

#top-account {
  margin: 32px 0 33px 20px;
  a {
    width: auto;
    height: auto;
    span {
      margin-left: 5px;
      font-weight: 700;
    }
    i.icon-angle-down {
      margin-left: 5px;
      font-size: 12px;
    }
  }
  .dropdown-menu {
    padding: 10px 0;
    li a {
      font-family: $body-font;
      font-weight: 400;
      text-align: left;
      line-height: 22px;
      .badge {
        display: block;
        float: right;
        margin: 2px 0 0 0;
      }
      i:last-child {
        position: relative;
        top: 1px;
        margin-left: 5px;
      }
    }
  }
}

#header,
#header-wrap,
#logo img {
  height: $header-height;
  @include transition(height .4s ease, opacity .3s ease);
}

#header.sticky-style-2 {
  height: (($header-height + $sticky-header-height) + 1);
}

#header.sticky-style-3 {
  height: (($header-height + $sticky-header-height) + 21);
}

#header.sticky-style-2 #header-wrap {
  height: $sticky-header-height;
}

#header.sticky-style-3 #header-wrap {
  height: $sticky-header-height + 20
}

#primary-menu > ul > li > ul,
#primary-menu > ul > li > .mega-menu-content,
#primary-menu > ul > li.mega-menu > .mega-menu-content {
  @include transition(top .4s ease);
}

#top-search,
#top-cart {
  @include transition(margin .4s ease, opacity .3s ease);
}

body:not(.top-search-open) #header-wrap #logo,
body:not(.top-search-open) #primary-menu > ul,
body:not(.top-search-open) #primary-menu > .container > ul,
body:not(.top-search-open) #top-cart,
body:not(.top-search-open) #side-panel-trigger,
body:not(.top-search-open) #top-account {
  opacity: 1;
  @include transition(height .4s ease, margin .4s ease, opacity .2s .2s ease);
}

body.top-search-open #header-wrap #logo,
body.top-search-open #primary-menu > ul,
body.top-search-open #primary-menu > .container > ul,
body.top-search-open #top-cart,
body.top-search-open #side-panel-trigger,
body.top-search-open #top-account {
  opacity: 0;
}

#header.sticky-header.semi-transparent {
  background-color: transparent;
}

#header-wrap {
  position: relative;
  z-index: 199;
  @include translate3d(0, 0, 0);
  -webkit-perspective: 1000px;
  -webkit-backface-visibility: hidden;
}

#header.sticky-header #header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $light-color;

  @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
}

#header.semi-transparent.sticky-header #header-wrap {
  background-color: rgba(255, 255, 255, 0.8)
}

#header.sticky-header:not(.static-sticky),
#header.sticky-header:not(.static-sticky) #header-wrap,
#header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
  height: $sticky-header-height;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
  padding-top: $sticky-menu-padding;
  padding-bottom: $sticky-menu-padding;
}

#header.sticky-header:not(.static-sticky).sticky-style-2,
#header.sticky-header:not(.static-sticky).sticky-style-3 {
  height: (($header-height + $sticky-header-height) + 1);
}

#header.sticky-header:not(.static-sticky).sticky-style-2 #primary-menu,
#header.sticky-header:not(.static-sticky).sticky-style-3 #primary-menu {
  border-top: 0;
}

#header.sticky-header:not(.static-sticky) #top-search,
#header.sticky-header:not(.static-sticky) #top-cart,
#header.sticky-header:not(.static-sticky) #side-panel-trigger {
  margin-top: $sticky-menu-padding + 1 !important;
  margin-bottom: $sticky-menu-padding + 1 !important;
}

#header.sticky-header:not(.static-sticky) #top-account {
  margin-top: 12px !important;
  margin-bottom: 13px !important;
}

#header.sticky-header:not(.static-sticky) #top-cart .top-cart-content {
  top: 40px;
}

#header.sticky-header.sticky-style-2 #primary-menu {
  border-top: 0;
}
