/*-----------------------------------------------------------------------------------
	sass/responsive.scss
-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {

	/* Copyrights
	-----------------------------------------------------------------*/

	#copyrights {
		.col_half {
			text-align: center;
			&:last-child {
				display: none;
			}
		}
		.footer-logo {
			margin-left: auto;
			margin-right: auto;
		}
	}

}

/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/

@media
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (   min--moz-device-pixel-ratio: 2),
	only screen and (     -o-min-device-pixel-ratio: 2/1),
	only screen and (        min-device-pixel-ratio: 2),
	only screen and (                min-resolution: 192dpi),
	only screen and (                min-resolution: 2dppx) {

	#logo a.standard-logo,
	#header.split-menu #logo a.standard-logo { display: none; }

	#logo a.retina-logo { display: block; }

	#header.split-menu #logo a.retina-logo { display: inline-block; }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (                min-resolution: 192dpi) and (max-width: 991px),
only screen and (                min-resolution: 2dppx) and (max-width: 991px) {
	#logo a.standard-logo { display: none; }
	#logo a.retina-logo { display: inline-block; }
}
