/*-----------------------------------------------------------------------------------
	sass/responsive.scss
-----------------------------------------------------------------------------------*/

@media only screen and (max-width: 767px) {


	#page-title {
		padding: 40px 0;
		text-align: center;
		h1 {
			line-height: 1.5;
			font-size: 24px;
		}
		span {
			display: none;
		}
		.breadcrumb {
			position: relative !important;
			top: 0 !important;
			left: 0 !important;
			right: 0 !important;
			margin: 20px 0 0 !important;
			justify-content: center;
		}
	}

	/* Copyrights
	-----------------------------------------------------------------*/

	#copyrights {
		.col_half {
			text-align: center;
			&:last-child {
				display: none;
			}
		}
		.footer-logo {
			margin-left: auto;
			margin-right: auto;
		}
	}

}

/* ----------------------------------------------------------------
	Retina CSS
-----------------------------------------------------------------*/


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

	#logo a.standard-logo,
	#header.split-menu #logo a.standard-logo { display: none; }

	#logo a.retina-logo { display: block; }

	#header.split-menu #logo a.retina-logo { display: inline-block; }

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (   min--moz-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (     -o-min-device-pixel-ratio: 2/1) and (max-width: 991px),
only screen and (        min-device-pixel-ratio: 2) and (max-width: 991px),
only screen and (                min-resolution: 192dpi) and (max-width: 991px),
only screen and (                min-resolution: 2dppx) and (max-width: 991px) {
	#logo a.standard-logo { display: none; }
	#logo a.retina-logo { display: inline-block; }
}
