@import '../variables.scss';
@import '../mixins.scss';

dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

.clear {
  clear: both;
  display: block;
  font-size: 0;
  height: 0;
  line-height: 0;
  width: 100%;
  overflow: hidden;
}

::selection,
::-moz-selection,
:-webkit-selection {
  background: $theme-color;
  color: $text-color;
  text-shadow: none;
}

body {
  line-height: 1.8;
  color: $text-color;
  font-size: $font-size;
  font-family: $font-family;
  font-weight: $font-weight;

  @include respond-to(tablet) {
    line-height: $line-height;
  }
}

img {
  max-width: 100%;
}

a {
  text-decoration: none !important;

  img {
    border: none;
  }
}

iframe {
  border: none !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $heading-color;
  font-weight: $heading-font-weight;
  line-height: $line-height;
  margin: 0 0 0.5em;
  font-family: $heading-font-family;
}

h1 {
  @include type(3);

  @include respond-to(laptop) {
    @include type(4);
  }
}

h2 {
  @include type(2);

  @include respond-to(laptop) {
    @include type(3);
  }
}

h3 {
  @include type(1);

  @include respond-to(laptop) {
    @include type(2);
  }
}

h4 {
  @include type(0);

  @include respond-to(laptop) {
    @include type(1);
  }
}

h5 {
  @include type(-1);

  @include respond-to(laptop) {
    @include type(0);
  }
}

h6 {
  @include type(-2);

  @include respond-to(laptop) {
    @include type(-1);
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  > span:not(.nocolor) {
    color: $theme-color;
  }
}

small {
  @include type(-2);
}

#wrapper {
  position: relative;
  float: none;
  width: 1220px;
  margin: 0 auto;
  background: transparent;
}
